{% if coopcycle_banner() %}
  <div role="alert" class="alert alert-warning alert-soft rounded-none">
    <i class="fa fa-warning"></i> {{ coopcycle_banner_message()|markdown_to_html }}
  </div>
{% endif %}
