{% if is_granted('ROLE_ADMIN') and coopcycle_maintenance() %}
  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          {{ 'maintenance.disclaimer'|trans|raw }}
        </div>
      </div>
    </div>
  </section>
{% endif %}
