{% block coopcycle_price_with_tax_widget %}

  {% set tax_categories = {} %}
  {% for tax_category in form.taxCategory.vars.choices %}
    {% set tax_rates = [] %}
    {% for rate in tax_category.data.rates %}
      {% set tax_rates = tax_rates|merge([ { 'amount': rate.amount } ]) %}
    {% endfor %}
    {% set tax_categories = tax_categories|merge({ (tax_category.data.code): tax_rates }) %}
  {% endfor %}

  <div class="row">
    <div class="col-sm-4">
      {{ form_row(form.taxExcluded) }}
    </div>
    <div class="col-sm-4">
      {{ form_row(form.taxIncluded) }}
    </div>
    <div class="col-sm-4">
      {{ form_row(form.taxCategory, { attr: {
        'data-tax-categories': tax_categories|json_encode,
        'data-excluded': ('#' ~ form.taxExcluded.vars.id),
        'data-included': ('#' ~ form.taxIncluded.vars.id)
      } }) }}
    </div>
  </div>
{% endblock %}
