{% extends 'bootstrap_3_layout.html.twig' %}

{% block _product_allergens_row %}
  {{ block('choice_label') }}
  <span class="help-block">{% trans %}form.product.allergens.help{% endtrans %}</span>
  {{ block('choice_widget_expanded') }}
{% endblock %}

{% block _product_restrictedDiets_row %}
  {{ block('choice_label') }}
  <span class="help-block">{% trans %}form.product.restricted_diets.help{% endtrans %}</span>
  {{ block('choice_widget_expanded') }}
{% endblock %}
