{% extends 'bootstrap_3_layout.html.twig' %}

{% block _fos_user_registration_form_username_widget %}
{{ block('form_widget') }}
<span class="help-block">{{ 'form.registration.username.help'|trans }}</span>
{% endblock %}
