{% extends 'bootstrap_3_layout.html.twig' %}

{% block password_widget %}
{% if form.vars.name matches '/^stripe_/' %}
  {% set disabled = is_demo %}
  <div class="input-group">
    <span class="input-group-addon">
      {% if form.vars.name matches '/^stripe_live_/' %}
        LIVE
      {% else %}
        TEST
      {% endif %}
    </span>
    {{ block('form_widget') }}
  </div>
{% else %}
  {{ parent() }}
{% endif %}
{% endblock %}
