{% extends "profile.html.twig" %}

{% block content %}
  {% if addresses is empty %}
    <div class="alert alert-warning">
      {% trans %}profile.addresses.empty{%  endtrans %}
    </div>
  {% else %}
    <table class="table">
      <thead>
        <th colspan="2">{% trans %}profile.myAddresses{% endtrans %}</th>
      </thead>
      <tbody>
        {% for address in addresses %}
        <tr>
          <td>{{ address.streetAddress }}</td>
          <td class="text-right">{{ address.name }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
  <div class="text-right">
    <a class="btn btn-success" href="{{ path('profile_address_new') }}"><i class="fa fa-plus mr-1"></i>{% trans %}profile.addresses.add{% endtrans %}</i></a>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
