{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
<div class="navbar-coopcycle">
  <div class="container">
    <div class="d-flex justify-content-between">
      {% block header %}{% endblock %}
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-6 d-none d-md-block">
        {% block info_section %}{% endblock %}
        <img src="{{ asset('img/registration-image.svg') }}">
      </div>
      <div class="col-md-6">
        {% block form_content %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
