{% extends "base.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
<div class="navbar-coopcycle">
  <div class="container">
    <div class="d-flex justify-content-between">
      {% block header %}{% endblock %}
    </div>
  </div>
</div>
<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="info-section rounded">
          <h5>{{ 'registration.info.title'|trans }}</h5>
          <p>{{ 'registration.info.text'|trans }}</p>
        </div>
        <img src="{{ asset('img/registration-image.svg') }}">
      </div>
      <div class="col-md-6">
        <div class="alert alert-info">
          <i class="fa fa-info-circle"></i>
          {% trans with {
            '%brandName%': coopcycle_setting('brand_name'),
            '%invitedBy%': invitationUser.customer ? invitationUser.customer.fullname : invitationUser.username
          } %}registration.alert.text{% endtrans %}
        </div>
        {% block form_content %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
