{% extends "frontend.html.twig" %}

{% form_theme form '@DaisyuiForm/form/daisyui_layout.html.twig' %}

{% block body %}
<div class="mx-auto px-4">
  <div class="py-4 mb-4">
    {% block header %}{% endblock %}
    <div class="flex gap-4">
      <div class="hidden md:block md:w-1/2">
        {% block info_section %}{% endblock %}
      </div>
      <div class="md:w-1/2">
        {% block form_content %}{% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
