{% if pages > 1 %}
<nav aria-label="...">
  <ul class="pager">
    {% set prev_page = (page > 1) ? page - 1 : 1 %}
    <li class="previous" {% if page == 1 %}style="display:none;"{% endif %}>
      <a href="{{ path('profile_orders', {'p': prev_page}) }}">
        <span aria-hidden="true">&larr;</span> {{ 'pagination.previous'|trans }}
      </a>
    </li>
    {% set next_page = (page < pages) ? page + 1 : page %}
    <li class="next" {% if next_page == page %}style="display: none;"{% endif %}>
      <a href="{{ path('profile_orders', {'p': next_page}) }}">
        {{ 'pagination.next'|trans }} <span aria-hidden="true">&rarr;</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}
