label {
  font-weight: inherit !important;
}
.incident-image-uploader {
  width: 128px;
  height: 128px;
  line-height: 128px;
  text-align: center;
  background-color: #fafafa;
  font-size: 1.1em;
}
