@import "~bootstrap-sass/assets/stylesheets/bootstrap/_mixins.scss";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "../../../assets/css/vars.scss";

// $panel-heading-padding is 10px 15px !default;
// nth() allows to extract individual values
$panel-heading-padding-vertical: nth($panel-heading-padding, 1);
$panel-heading-padding-horizontal: nth($panel-heading-padding, 2);

$cart-heading-line-height: ($navbar-height - ($panel-heading-padding-vertical * 2));

#cart {
  margin-top: ($base-margin + 20px);
}

.sticky-outer-wrapper.active {
  .sticky-inner-wrapper {
    overflow: auto;
    max-height: 100%;
    padding: 20px 0;
  }
}

// @see https://github.com/yahoo/react-stickynode/issues/9#issuecomment-173039715
@media (max-width: $screen-xs-max){
  .sticky-inner-wrapper {
    position: static !important;
    transform: none !important;
    width: auto !important;
  }
}

.cart-heading {
  position: relative;
  height: $navbar-height;
  text-align: center;
  color: $white !important;
  background-color: $main-blue-light !important;
  line-height: $cart-heading-line-height;

  &--warning {
    background-color: $state-warning-bg !important;
    color: $state-warning-text !important;

    .cart-heading__left,
    .cart-heading__right {
      background-color: $state-warning-text;
      color: $state-warning-bg;
    }
  }

  &--success {
    background-color: $state-success-bg !important;
    color: $state-success-text !important;

    .cart-heading__left,
    .cart-heading__right {
      background-color: $state-success-text;
      color: $state-success-bg;
    }

    .cart-heading__right {
      display: none;
    }

    .cart-heading__button {
      display: block;
    }
  }
}

.cart-heading__right {
  position: relative;
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
    box-shadow: inset 0 0 0 35px rgba(111, 148, 182, 0);
  }
  &--ripple:after {
    animation: ripple-effect-radomir 0.5s ease-out forwards;
  }
}

.cart-heading__button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: $navbar-height;
  height: $navbar-height;
  background-color: $state-success-text;
  color: $state-success-bg;
  border: none;
}

.cart-heading__left,
.cart-heading__right {
  display: block;
  position: absolute;
  width: $cart-heading-line-height;
  height: $cart-heading-line-height;
  border-radius: $cart-heading-line-height;
  background-color: $main-blue;
  top: $panel-heading-padding-vertical;
}

.cart-heading__left {
  left: $panel-heading-padding-horizontal;
}

.cart-heading__right {
  display: none;

  @media (max-width: $screen-xs-max) {
    display: block;
    right: $panel-heading-padding-horizontal;
  }
}

.cart-wrapper {

  @media (max-width: $screen-xs-max) {
    display: flex;
    flex-direction: column;
  }

  height: 100%;
  margin: 0;

  &__messages {
    text-align: center;
  }
  @media (max-width: $screen-xs-max) {
    padding: 0;
    cursor: pointer;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(calc(100% - #{$navbar-height}));
    transition: transform 0.4s;

    &__messages {
      display: none;
    }
  }

  @media (max-width: $screen-xs-max) {
    > .panel-body {
      flex: 1;
      height: calc(100% - #{$navbar-height});
    }
  }
}

.cart-wrapper--show {
  @media (max-width: $screen-xs-max) {
    transform: translateY(0);
  }
}

.cart {

  @media (max-width: $screen-xs-max) {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__items {

    margin: 15px 0;
    padding: 15px 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;

    max-height: 200px;
    overflow-y: auto;
    @media (max-width: $screen-xs-max) {
      max-height: inherit;
    }
  }
  &__item {
    padding: 10px 0;
    &__adjustments {
      color: $text-muted;
    }
    &__content {
      display: flex;
      justify-content: space-between;
      &__remove {
        a {
          padding-right: 15px;
          color: #cccccc;
          &:hover,
          &:visited,
          &:focus {
            text-decoration: none;
          }
          &:hover {
            color: darken(#cccccc, 10%);
          }
        }
      }
      &__left {
        min-width: 60px;
        max-width: 60px;
      }
      &__body {
        flex-grow: 1;
        padding: 0 10px;
      }
      &__right {
        text-align: right;
        > span {
          white-space: nowrap;
        }
      }
    }
    &__quantity {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      &__decrement,
      &__increment {
        border: none;
        outline: none;
        background-color: transparent;
        &[disabled] {
          cursor: $cursor-disabled;
          @include opacity(.65);
        }
      }
      &__decrement {
        padding: 0 5px 0 0;
      }
      &__increment {
        padding: 0 0 0 5px;
      }
    }
  }
  &__time {
    display: block;
    margin: 15px 0;
    text-align: center;
    color: $state-success-text;
    &:hover,
    &:visited,
    &:focus {
      text-decoration: none;
    }
    &--not-today {
      color: $state-danger-text;
    }
    &__text,
    &__edit {
      display: block;
    }
    &__text {
      margin-bottom: 5px;
    }
    &__edit {
      font-size: $font-size-small;
    }
  }
}

.cart__date-picker {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  > * {
    width: 45%;
  }
}

.ReactModal__Content--enter-address {
  overflow: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: $screen-lg-min) {
    width: 33%;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 50%;
  }
  @media (max-width: $screen-xs-max) {
    width: calc(100% - 30px);
    height: 80%;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 12px;
    @media (max-width: $screen-xs-max) {
      font-size: 32px;
      padding: 12px 18px;
    }

  }
}

.ReactModal__Content--restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  @media (min-width: $screen-lg-min) {
    width: 50%;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 66%;
  }
  @media (max-width: $screen-xs-max) {
    width: calc(100% - 30px);
    height: 80%;
  }
  .ReactModal__Restaurant__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    > button {
      margin-bottom: 15px;
    }
  }
}

.ReactModal__Content--date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  // @see https://github.com/reactjs/react-modal/issues/177
  overflow: visible;
  @media (min-width: $screen-lg-min) {
    width: 50%;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 66%;
  }
  @media (max-width: $screen-xs-max) {
    width: calc(100% - 30px);
    height: 80%;
  }
  .ReactModal__Date__asap {
    display: block;
    padding: 15px 0;
    margin: 15px 0;
  }
}
