@use "sass:math";

// https://getbootstrap.com/docs/5.3/customize/sass/#importing

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
// @import "../node_modules/bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
// @import "../node_modules/bootstrap/scss/root";

@import "~skeleton-screen-css/dist/index.scss";

@import "./restaurant-card.scss";
@import "./swiper.scss";

.shops-content {
  display: flex;
  flex-direction: row;
}

.shops-list-paginator {
  text-align: center;
  font-size: $h2-font-size;
}

.restaurant-side-bar {
  min-width: 20%;
}

.restaurant-main-content {
  min-width: 80%;
}

.restaurant-list {
  // gap: 32px;
  h1 {
    display: inline-block;
  }
}

.filter-section-btn {
  outline: none !important;
}

.filter-caret {
  transform: scale(1.6) rotate(-180deg);
  margin-left: 8px;
  margin-top: -4px;
}
button[aria-expanded='false'] .filter-caret {
  transform: scale(1.6) rotate(0deg);
}

.restaurant-list-header {
  margin-top: -20px;
  padding-top: $spacer;
  margin-bottom: $spacer;
  background-color: $blue;
  background-image: url(../../../assets/pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
