@use "sass:math";

@import "skeleton-screen-css/dist/index.scss";

@import "./restaurant-card.scss";
@import "./swiper.scss";
@import '../customize/swiper-homepage.scss';

@import "font-awesome/scss/_variables.scss";
@import "font-awesome/scss/_mixins.scss";

.restaurant-list-header {
  background-image: url(../../../assets/pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.restaurant-list-header .react-autosuggest__container {
  margin-bottom: 0;
}

.filters {
  width: 100%;
  // https://stackoverflow.com/questions/64240299/how-to-make-auto-slides-per-view-with-dynamic-content-using-swiper-reactjs
  .swiper-slide {
    width: auto !important;
  }
}

.cuisines {
  .swiper-button-next,
  .swiper-button-prev {
    padding: calc(var(--swiper-navigation-size) / 2);
    border-radius: calc(var(--swiper-navigation-size) / 2);
  }
  .swiper-button-next {
    &:after {
      @include fa-icon();
      content: $fa-var-arrow-right;
    }
  }
  .swiper-button-prev {
    &:after {
      @include fa-icon();
      content: $fa-var-arrow-left;
    }
  }
}

// https://blog.logrocket.com/css-overlay/
.restaurant-list {

  position: relative;

  h1 {
    display: inline-block;
  }

  &--loading {
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.1);
      z-index: 1;
    }
  }

  .overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);

    .loader {

      position: absolute;
      top: 1rem;
      left: 1rem;

      width: 48px;
      height: 48px;
      border: 5px solid #FFF;
      border-bottom-color: transparent;
      border-radius: 50%;
      display: inline-block;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }

}
