.menuEditor {
  display: flex;
  &__left, &__right {
    flex: 1;
  }
  &__left {
    padding-right: 15px;
  }
  &__right {
    padding-left: 15px;
    display: flex;
  }
  &__productList {
    flex: 1;
  }
  &__product {
    cursor: move;
    padding: 10px;
    margin-bottom: 10px;
    background-color: lighten(lightgrey, 10%);
    position: relative;
  }
  &__product:last-child {
    margin-bottom: 0;
  }

  &__panel {
    // margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    &__title {
      padding: 10px;
      background-color: lightgrey;
      color: #fff;
      margin: 0;
      > a {
        color: #fff;
        &:hover {
          color: darken(#fff, 5%);
        }
      }
    }
    &__body {
      flex: 1;
      border: 2px dashed lightgrey;
      border-top: none;
      padding: 10px;
      min-height: 50px;
      // background-color: lightblue;

      &--dragged {
        background-color: #fafafa;
      }
    }
  }

}

/* Drop indicator styling */
.drop-indicator {
  position: absolute;
  z-index: 10;
  background-color: #1D4ED8;
  pointer-events: none;
  box-sizing: border-box;
  height: 2px;
  left: 4px;
  right: 0;
}

/* Small circle styling */
.drop-indicator::before {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  border: 2px solid #1D4ED8;
  border-radius: 50%;
  top: -4px;
  left: -10px;

}

.edge-top {
  top: calc(-0.65 * (var(--gap, 0px) + 2px));
}

.edge-bottom {
  bottom: calc(-0.65 * (var(--gap, 0px) + 2px));
}
