@import "../../../assets/css/vars.scss";

#restaurant-menu-nav {
  .ant-anchor {
    width: 100%;
    overflow: auto;
    padding: 16px 0;
    display: flex;
    background-color: $white;

    @media (min-width: $screen-sm-min) {
      flex-wrap: wrap;
    }
  }

  .ant-affix {
    z-index: 1;
  }

  .ant-anchor-ink-ball {
    display: none;
  }

  .ant-anchor-link {
    display: flex;
    border-bottom: 1px solid $gray-100;
    padding: 0;
  }

  // Selected state
  .ant-anchor-link-active {
    border-bottom: 1px solid $primary-default;
  }

  .ant-anchor-link-title {
    padding: 8px 24px;
    color: $gray-300;
    white-space: nowrap;

    &:hover,
    &:focus {
      background-color: $nav-link-hover-bg;
      text-decoration: none;
    }
  }

  // Selected state
  .ant-anchor-link-title-active {
    &,
    &:hover,
    &:focus {
      color: $primary-default;
    }
  }
}
