@import "../../../assets/css/vars.scss";

.button-reset {
  // Reset button styles based on https://gist.github.com/MoOx/9137295
  border: none;
  padding: 0;
  background: transparent;

  text-align: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

.restaurant-menu {
  padding: 1rem 0;

  &__section-name {
    margin: 0;
    font-weight: 600;
  }

  &__section {

    /**
    use minmax to prevent items from overflowing the column width;
    https://css-tricks.com/preventing-a-grid-blowout/
     */

  }
}

.product-badge-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.product-badge-container--compact {
  max-height: 3.25rem;
  overflow: hidden;
}

.product-badge-wrapper {
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 2px 8px;
  overflow: hidden;
}

.product-badge-allergen {
  background-color: rgba($color: #000000, $alpha: 0.05);
}

.product-badge-restricted-diet {
  background-color: rgba($color: $text-green, $alpha: 0.1);
  color: $text-green;
}

.product-badge-reusable-packaging {
  background-color: $label-info-bg;
  color: $label-color;
}

.product-badge-text {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  font-weight: bold;
}

.product-badge-text--compact {
  text-overflow: ellipsis;
}
