{% extends "bootstrap_3_layout.html.twig" %}

{% block _cart_shippingAddress_streetAddress_row %}
  {{ block('hidden_widget') }}
{% endblock %}

{% block _cart_takeaway_row %}
  <div class="d-none">
    {{ form_widget(form) }}
  </div>
{% endblock %}

{% block _cart_reusablePackagingEnabled_row %}
  <div class="d-none">
    {{ form_widget(form) }}
  </div>
{% endblock %}
