{% block delivery_perimeter_expression_widget %}
  <h4>{% trans %}restaurant.deliveryPerimeterExpression.title{% endtrans %}</h4>
  <div
    data-widget="delivery-perimeter-expression"
    data-default-value="{{ form.vars.data|e('html_attr') }}"
    data-zones="{{ coopcycle_zone_names()|json_encode|e('html_attr') }}">
    {{ form_widget(form) }}
  </div>
  <span class="help-block">
    <i class="fa fa-info-circle"></i> {{ 'restaurant.deliveryPerimeterExpression.help'|trans|raw }}
  </span>
{% endblock %}
