{% extends 'bootstrap_3_horizontal_layout.html.twig' %}

{% block _update_profile_loopeatDisconnect_row %}
  <div class="form-group">
  {{ form_widget(form, { attr: { class: 'btn-danger' } }) }}
  </div>
{% endblock %}
