{% extends "form_div_layout.html.twig" %}

{% block _menu_editor_children_entry_widget %}
  {% set attr = attr|merge({'data-taxon-id': form.vars.value.id }) %}
  {{ block('form_widget') }}
{% endblock %}

{% block _menu_editor_children_entry_taxonProducts_entry_row %}
  <div>
    {{ form_widget(form.product) }}
    {{ form_widget(form.position) }}
  </div>
{% endblock %}
