{% extends "bootstrap_3_layout.html.twig" %}

{% block _order_export_date_widget %}
<div>
  <div id="{{ form.vars.id }}_widget"></div>
  {% set type = 'hidden' %}
  {{ block('hidden_widget') }}
</div>
{% endblock %}
