{% extends 'bootstrap_3_layout.html.twig' %}

{% block _package_set_packages_widget %}
  <div>
    {{ form_widget(form) }}
    <button type="button" class="btn btn-success" id="package_set_packages_add">
      <i class="fa fa-plus"></i>  {{ 'basics.add'|trans }}
    </button>
  </div>
{% endblock %}

{% block _package_set_packages_entry_row %}
  <div class="row package-entry">
    <div class="col-sm-5">
      {{ form_row(form.name) }}
    </div>
    <div class="col-sm-5">
      {{ form_row(form.volumeUnits) }}
    </div>
    <div class="col-sm-2">
      <a class="text-danger" style="position: relative; top: 30px;">
        <i class="fa fa-trash delete-package-entry"></i>
      </a>
    </div>
  </div>
{% endblock %}
