{% extends "bootstrap_3_layout.html.twig" %}

{% block _task_export_start_widget %}
<div>
  <div id="{{ form.vars.id}}_widget"></div>
  {% set type = 'hidden' %}
  {{ block('hidden_widget') }}
</div>
{% endblock %}

{% block _task_export_end_widget %}
<div>
  <div id="{{ form.vars.id}}_widget"></div>
  {% set type = 'hidden' %}
  {{ block('hidden_widget') }}
</div>
{% endblock %}
