{% extends "base.html.twig" %}

{% trans_default_domain 'NucleosProfileBundle' %}

{% block body %}
  <div class="container container--full-height container--center">
    <div class="row">
      <div class="col-xs-12">
      {% block nucleos_user_content %}
        <p class="text-center">
          {% trans with { '%email%': user.email } %}registration.check_email{% endtrans %}
          {% set cart = cart_provider.getCart() %}
          {% if cart is not empty and cart.restaurant is not empty and cart.state == 'cart' %}
          <br>
          {% trans %}registration.before_confirmation_continue_order{% endtrans %}
          {% endif %}
        </p>
        <p class="text-center">
          <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
        </p>
        <div class="text-center">
          <p>
          {% trans from "messages" %}resend_confirmation_email.disclaimer{% endtrans %}
          </p>
          <form method="post" action="{{ path('register_resend_email') }}" >
            <input type="hidden" name="email" value="{{ user.email }}">
            <button class="btn btn-success" type="submit">{% trans from "messages" %}form.resend_confirmation_email.submit.label{% endtrans %}</button>
          </form>
        </div>
      {% endblock nucleos_user_content %}
      </div>
    </div>
  </div>
{% endblock body %}
