{% extends "base.html.twig" %}

{% block body %}
  {% block nucleos_user_content %}
  <div class="container">
  {% include "@NucleosProfile/Registration/register_content.html.twig" %}
  </div>
  {% endblock nucleos_user_content %}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('register') }}
{% endblock %}
