.ReactModal__Content--product-options {

  overflow: inherit;
  display: flex;
  flex-direction: column;

  .product-modal-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .modal-body {
    padding: 0 0 1.5rem;
  }

  main {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .product-image {
    margin: 0 auto;
  }

  .product-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .product-option-item {
    label {
      margin: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      font-weight: 400;
      overflow: hidden;
    }

    &__name {
      flex: 1;
      hyphens: auto;
    }

    &__price {
      white-space: nowrap;
    }
  }

  .product-option-item-single-choice {
    label {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  @mixin no-ui-controls() {
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      appearance: none;
    }
  }

  .product-option-item-range {
    display: flex;
    align-items: center;
    input[type="number"] {
      width: 3em;
      text-align: center;
    }
    label {
      flex: 1;
      align-self: stretch;
    }
    &-buttons {
      display: flex;
      align-items: center;
    }
  }

  .quantity-input-group {
    display: flex;
    align-items: center;
    input[type="number"] {
      width: 3em;
      text-align: center;
      font-weight: 600;
    }
    &__price {
      padding-right: 1rem;
      font-weight: 600;
    }
  }

  .modal-footer {
    text-align: inherit;
  }
}
