{% extends "@App/base.html.twig" %}

{% block body %}
  {% block fos_user_content %}
  <div class="container">
  {{ include('@FOSUser/Security/login_content.html.twig') }}
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <a href="{{ path('hwi_oauth_service_redirect', { service: 'facebook' }) }}" class="btn btn-facebook" alt="Sign in with Facebook">
          <i class="fa fa-facebook-official"></i> Sign in with Facebook
        </a>
      </div>
    </div>
  </div>
  {% endblock fos_user_content %}
{% endblock %}
