{% extends "@App/base.html.twig" %}

{% block body %}
  {% block fos_user_content %}
  <div class="login-container">
  {{ include('@FOSUser/Security/login_content.html.twig') }}
  </div>
  {% endblock fos_user_content %}
{% endblock %}
