<div class="alert alert-error alert-outline mb-4">
  {% for propertyPath, violationList in errors %}
    {% for violation in violationList %}
      <span>
        {{ violation.message }}
      </span>
    {% endfor %}
  {% endfor %}
</div>
