{% set variant = product|sylius_resolve_variant %}

<div class="flex flex-col justify-between gap-2">
  <div class="text-left">
    <h5 class="card-title font-sans">{{ product.name }}</h5>
    {% if product.enabled %}
      {% if product.description is not null %}
        <small class="line-clamp-3">{{ product.description|nl2br }}</small>
      {% endif %}
    {% else %}
      <small>{{ 'restaurant.unavailable'|trans }}</small>
    {% endif %}
  </div>
  <div class="flex overflow-hidden">
    {% set restrictedDiets = [] %}
    {% if product.restrictedDiets is not empty %}
      {% for restrictedDiet in product.restrictedDiets %}
        {% set restrictedDiets = restrictedDiets|merge([('restricted_diets.' ~ restrictedDiet)|trans]) %}
      {% endfor %}
    {% endif %}
    {% if restrictedDiets|length > 0 or product.isReusablePackagingEnabled() %}
    <div class="product-badge-container product-badge-container--compact">
      {% for restrictedDiet in restrictedDiets %}
        {% include "components/product/badge/product_badge.html.twig" with {type: 'restricted_diet', value: restrictedDiet} %}
      {% endfor %}
      {% if product.isReusablePackagingEnabled() %}
        {% include "components/product/badge/product_badge.html.twig" with {type: 'reusable_packaging'} %}
      {% endif %}
    </div>
    {% endif %}
    <span class="whitespace-nowrap font-semibold {% if not product.enabled %}line-through{% endif %}">
      {{ variant.price|price_format }}
    </span>
  </div>
</div>
