{% extends "AppBundle::base.html.twig" %}

{% block body %}
<section>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        {% trans from "about" %}about_page{% endtrans %}
      </div>
    </div>
  </div>

</section>
{% endblock %}

{% block scripts %}
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}