{% extends "AppBundle::base.html.twig" %}

{% block body %}
<section id="search">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form class="form-inline" method="GET" id="address-search-form" action="{{ path('restaurants') }}">
          <input type="hidden" name="geohash">
          <div class="input-group">
            <input type="text" class="form-control" id="address-search" placeholder="{% trans %}Enter your address{% endtrans %}" size="48">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-success disabled">{% trans %}Search for restaurants{% endtrans %}</button>
            </span>
          </div>
        </form>
        <small>
          {% trans with {'%link%': '<a href="http://tour-pedia.org/about/" target="_blank">TourPedia</a>'} %}
            Data imported from %link%
          {% endtrans %}
        </small>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">

      <h2>{% trans from "about" %}section_1.title{% endtrans %}</h2>
      <p>{% trans from "about" %}section_1.paragraph_1{% endtrans %}</p>
      <p>{% trans from "about" %}section_1.paragraph_2{% endtrans %}</p>

      <h2>{% trans from "about" %}section_2.title{% endtrans %}</h2>
      <p>{% trans from "about" %}section_2.paragraph_1{% endtrans %}</p>

      <h2>{% trans from "about" %}section_3.title{% endtrans %}</h2>
      <p>{% trans from "about" %}section_3.paragraph_1{% endtrans %}</p>

    </div>
    <div class="col-xs-12 col-sm-8">
      <div id="map-wrapper">
        <div class="iframe-responsive-wrapper">
          <img class="iframe-ratio" src="https://placehold.it/4x3">
          <iframe src="/tracking?zoom=13" width="640" height="360" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
      <p>{% trans from "about" %}about_bots{% endtrans %}</p>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/js/homepage.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAqNf8X0elLLXv5yeh0btsYpq47eCzIAw&signed_in=true&libraries=places&callback=initMap"
  async defer></script>
{% endblock %}
