{% extends "AppBundle::base.html.twig" %}

{% block body %}
<section id="search">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <form class="form-inline" method="POST" id="address-search-form">
          <input type="hidden" id="latitude" name="latitude">
          <input type="hidden" id="longitude" name="longitude">
          <input type="hidden" id="address" name="address">
          <div class="form-group">
            <label class="sr-only" for="address-search">Entrez votre adresse</label>
            <input type="text" class="form-control" id="address-search" placeholder="Entrez votre adresse" size="48">
          </div>
          <button type="submit" class="btn btn-success">Rechercher des restaurants</button>
        </form>
        <small>Données importées depuis <a href="http://tour-pedia.org/about/" target="_blank">TourPedia</a>.</small>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h2>C'est quoi ?</h2>
      <p>
        Le projet <strong>CoopCycle</strong> a pour objectif de créer une plateforme de livraison de repas à vélo <strong>open-source</strong>,
        offrant les mêmes fonctionnalités que les platformes propriétaires.
      </p>
      <p>
        L'idée est de <strong>décentraliser</strong> ce genre de services, afin que, dans chaque ville,
        les livreurs à vélo souhaitant se regrouper en collectif et/ou en coopérative puissent détenir
        la plateforme pour laquelle ils travaillent.
      </p>
      <p>
        Le <a href="https://github.com/coopcycle">code</a> est placé sous la <a href="https://wiki.p2pfoundation.net/Peer_Production_License">Peer Production License</a>,
        ce qui signifie qu'il ne peut être utilisé que dans le cadre d'une entreprise ou une collectivité appartenant à ses travailleurs,
        et que tous les gains financiers, excédents, bénéfices et avantages produits par l'entreprise ou le collectif sont répartis
        entre les ouvriers-propriétaires.
      </p>
      <h2>C'est prêt ?</h2>
      <p>
        Non, le projet vient tout juste de démarrer !
        <br>
        Ce site est une démo, vous pouvez passer des commandes mais personne ne viendra vous livrer.
      </p>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div id="map-wrapper">
        <div class="iframe-responsive-wrapper">
          <img class="iframe-ratio" src="http://placehold.it/4x3">
          <iframe src="/tracking?zoom=12" width="640" height="360" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
function initMap() {
  var addressSearch = document.getElementById('address-search');
  var latitude = document.getElementById('latitude');
  var longitude = document.getElementById('longitude');
  var address = document.getElementById('address');

  var options = {
    types: ['address'],
    componentRestrictions: {
      country: "fr"
    }
  };
  var autocomplete = new google.maps.places.Autocomplete(addressSearch, options);

  $('#address-search-form').on('submit', function(e) {
    if (latitude.value === '' || longitude.value === '') {
      $('#address-search').focus();
      return false;
    }

    return true;
  });

  autocomplete.addListener('place_changed', function() {

    var place = autocomplete.getPlace();
    if (!place.geometry) {
      window.alert("Autocomplete's returned place contains no geometry");
      return;
    }

    latitude.value = place.geometry.location.lat();
    longitude.value = place.geometry.location.lng();

    if (place.address_components) {
      address.value = [
        (place.address_components[0] && place.address_components[0].short_name || ''),
        (place.address_components[1] && place.address_components[1].short_name || ''),
        (place.address_components[2] && place.address_components[2].short_name || '')
      ].join(' ');
    }

  });

  setTimeout(function() {
    addressSearch.focus();
  }, 300);

}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAqNf8X0elLLXv5yeh0btsYpq47eCzIAw&signed_in=true&libraries=places&callback=initMap"
  async defer></script>
{% endblock %}
