{% extends "@App/base.html.twig" %}

{% block body %}

{# {% set examples = {
  'Oberkampf': path('restaurants', { geohash: 'u09typ9kp93' }),
  'Châtelet': path('restaurants', { geohash: 'u09tvqjrnvr' }),
  'Opéra': path('restaurants', { geohash: 'u09tvpgsem8' }),
  'République': path('restaurants', { geohash: 'u09wjb108ub' }),
} %} #}

{% set examples = {} %}

<section class="homepage-search">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-md-offset-2">
        <h1 class="banner-title">{% trans %}index.banner{% endtrans %}</h1>
      </div>
      <div class="col-xs-12 col-md-4 banner-search">
        <div id="address-search">
          <!-- This will be replaced by React -->
          <div class="form-group">
            <input class="form-control" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Do NOT put the search component inside the form -->
  <form method="GET" id="address-search-form" action="{{ path('restaurants') }}">
    <input type="hidden" name="geohash">
  </form>
</section>

{% if restaurants|length > 0 %}
  {% include '@App/index/_partials/section.html.twig' with {
    items: restaurants,
    section_title: 'index.our_restaurants'|trans,
    view_all: 'index.view_all_restaurants'|trans,
    view_all_path: path('restaurants'),
    show_more: show_more_restaurants
  } %}
{% endif %}

{% if stores|length > 0 %}
  {% include '@App/index/_partials/section.html.twig' with {
    items: stores,
    section_title: 'index.our_shops'|trans,
    view_all: 'index.view_all_shops'|trans,
    view_all_path: path('stores'),
    show_more: show_more_stores
  } %}
{% endif %}

<section class="homepage-map">
  <div class="container">
    <p class="text-center">{% trans %}index.map.tip{% endtrans %}</p>
    <p class="text-center"><i class="fa fa-chevron-down"></i></p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="{{ path('restaurants_map', { zoom: 13 }) }}"></iframe>
    </div>
  </div>
</section>

{% endblock %}

{% block scripts %}
  <script>
  function initMap() {
    var $searchForm = $('#address-search-form');
    new CoopCycle.AddressAutosuggest(document.querySelector('#address-search'), {
      address: sessionStorage.getItem('search_address') || '',
      addresses: {{ addresses_normalized|json_encode()|raw }},
      geohash: sessionStorage.getItem('search_geohash') || '',
      onAddressSelected: function(value, address, type) {

        var $addressInput = $searchForm.find('input[name="address"]');
        var $geohashInput = $searchForm.find('input[name="geohash"]');

        if (type === 'address') {
          if ($addressInput.length === 0) {
            var $newAddressInput = $('<input>');
            $newAddressInput.attr('type', 'hidden');
            $newAddressInput.attr('name', 'address');
            $newAddressInput.val(btoa(address['@id']));
            $searchForm.append($newAddressInput);
          }
        }

        if (type === 'prediction') {
          if ($addressInput.length > 0) {
            $addressInput.remove();
          }
        }

        sessionStorage.setItem('search_geohash', address.geohash);
        sessionStorage.setItem('search_address', value);

        _paq.push(['trackEvent', 'Homepage', 'searchAddress', value]);

        $geohashInput.val(address.geohash);
        $searchForm.submit();
      }
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ coopcycle_setting('google_api_key') }}&libraries=places&callback=initMap" async defer></script>
{% endblock %}
