<script id="task-tag-list-popover-template" type="text/template">
<div class="popover" role="tooltip">
  <div class="arrow"></div>
  <h3 class="popover-title hidden"></h3>
  <div class="popover-content nopadding"></div>
</div>
</script>
