{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

  <h2 class="page-header">
    {% trans from 'messages' %}My account{% endtrans %}
  </h2>

  <div class="text-right">
    <a class="btn btn-success" href="{{ path('profile_edit') }}">
      <i class="fa fa-pencil" aria-hidden="true"></i>  {% trans from 'messages' %}Edit{%  endtrans %}
    </a>
  </div>
  {% include "AppBundle:Profile:profile.html.twig" %}

{% endblock %}
