{% extends "AppBundle::base.html.twig" %}

{% if form is defined %}
  {% form_theme form with ['AppBundle:Order:order_fields.html.twig'] %}
{% endif %}

{% block body %}
<div class="container">

  {% include 'AppBundle:Order:breadcrumb.html.twig' %}

  <div class="row">
    <div class="col-xs-12 col-md-6">
      {{ form_start(form) }}
        <h1>{% trans %}cart.widget.title{% endtrans %}</h1>
        {{ form_widget(form) }}
        <div class="text-center">
          <button class="btn btn-primary btn-lg" type="submit">{% trans %}cart.widget.button{% endtrans %}</button>
        </div>
      {{ form_end(form) }}
    </div>
  </div>
</div>
{%  endblock %}


{% block script %}
{% endblock %}
