{% set status_label_class = {
  'CREATED': 'label-default',
  'CANCELED': 'label-default',
  'WAITING': 'label-warning',
  'ACCEPTED': 'label-primary',
  'REFUSED': 'label-danger',
  'READY': 'label-success'
} %}
{% set trans_key = 'order.status.' ~ order.status %}
<span class="label {{ status_label_class[order.status] }}">{{ trans_key|trans }}</span>
