{% extends "AppBundle::base.html.twig" %}

{% block body %}
<div class="container">

  <div class="page-header">
    <h2>Ma commande</h2>
  </div>
  {% include 'AppBundle:Order:breadcrumb.html.twig' %}
  <div class="row">
    <div class="col-md-6">
      <form id="payment-form" method="POST" class="form-horizontal">
        <div class="alert alert-danger hidden"></div>
        <div class="form-group">
          <label for="number" class="col-sm-2 control-label">{% trans %}order.payment.card_number.label{% endtrans %}</label>
          <div class="col-sm-10">
            <input id="number" class="form-control" type="text" size="20" data-stripe="number">
            <span class="help-block">
              {% trans with { '%total%': order.total } %}order.payment.card_number.help{% endtrans %}
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="number" class="col-sm-2 control-label">{% trans %}Expiration (MM/YY){% endtrans %}</label>
          <div class="col-sm-5">
            <input id="exp_month" class="form-control" type="text" size="2" data-stripe="exp_month">
          </div>
          <div class="col-sm-5">
            <input id="exp_year" class="form-control" type="text" size="2" data-stripe="exp_year">
          </div>
        </div>
        <div class="form-group">
          <label for="number" class="col-sm-2 control-label">{% trans %}CVC{% endtrans %}</label>
          <div class="col-sm-10">
            <input id="cvc" class="form-control" type="text" size="4" data-stripe="cvc">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <button type="submit" class="btn btn-block btn-lg btn-primary">
              {% trans with { '%total%': order.total } %}order.payment.total{% endtrans %}
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <div class="card"></div>
    </div>
  </div>
</div>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ asset('js/order-payment.css') }}">
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
  Stripe.setPublishableKey('{{ stripe_publishable_key }}');
</script>
<script type="text/javascript" src="{{ asset('js/order-payment.js') }}"></script>
{% endblock %}