doctrine:
    dbal:
        driver:   pdo_pgsql
        host:     "%env(COOPCYCLE_DB_HOST)%"
        port:     "%env(COOPCYCLE_DB_PORT)%"
        dbname:   "%env(COOPCYCLE_DB_NAME)%"
        user:     "%env(COOPCYCLE_DB_USER)%"
        password: "%env(COOPCYCLE_DB_PASSWORD)%"
        sslmode: "%env(COOPCYCLE_POSTGRES_SSLMODE)%"
        charset:  UTF8
        types:
            geography: Jsor\Doctrine\PostGIS\Types\GeographyType
            geometry: Jsor\Doctrine\PostGIS\Types\GeometryType
            geojson: AppBundle\Doctrine\DBAL\Types\GeoJSONType
            uuid: Ramsey\Uuid\Doctrine\UuidType
            phone_number: Misd\PhoneNumberBundle\Doctrine\DBAL\Types\PhoneNumberType
            numrange: AppBundle\Doctrine\DBAL\Types\NumRangeType
            tsrange: AppBundle\Doctrine\DBAL\Types\TsRangeType
            rrule: AppBundle\Doctrine\DBAL\Types\RRuleType
        mapping_types:
            _text: string
            numrange: string
            tsrange: string

        # Tells Doctrine what database features are supported
        # Make sure that your production database uses this version or higher.
        # If you don't define this option and you haven't created your database yet,
        # you may get PDOException errors because Doctrine will try to guess
        # the database server version automatically and none is available.
        # http://symfony.com/doc/current/reference/configuration/doctrine.html
        # Should be fixed in next Doctrine version
        # https://github.com/doctrine/dbal/pull/2671
        server_version: '13'

        # Add a schema filter to avoid having PostGIS tables tiger.* & topology.* in migrations diff
        # https://symfony.com/doc/master/bundles/DoctrineMigrationsBundle/index.html#manual-tables
        schema_filter: ~^(?!((tiger|topology)\.)|view_)~

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        mappings:
            AppBundle:
                is_bundle: false
                dir: '%kernel.project_dir%/src/Entity'
                prefix: 'AppBundle\Entity'
                alias: AppBundle
                type: xml
        dql:
            string_functions:
                ST_DWithin: Jsor\Doctrine\PostGIS\Functions\ST_DWithin
                ST_GeomFromText: Jsor\Doctrine\PostGIS\Functions\ST_GeomFromText
                ST_Distance: Jsor\Doctrine\PostGIS\Functions\ST_Distance
                ST_GeomFromGeoJSON: Jsor\Doctrine\PostGIS\Functions\ST_GeomFromGeoJSON
                ST_AsText: Jsor\Doctrine\PostGIS\Functions\ST_AsText
                similarity: AppBundle\Doctrine\Functions\Similarity
                TSRANGE: AppBundle\Doctrine\Functions\TsRange
                OVERLAPS: MartinGeorgiev\Doctrine\ORM\Query\AST\Functions\Overlaps
                CAST: DoctrineExtensions\Query\Mysql\Cast
                JSON_GET_FIELD_AS_TEXT: MartinGeorgiev\Doctrine\ORM\Query\AST\Functions\JsonGetFieldAsText
                JSON_GET_FIELD: MartinGeorgiev\Doctrine\ORM\Query\AST\Functions\JsonGetField
                JSON_AGG: MartinGeorgiev\Doctrine\ORM\Query\AST\Functions\JsonAgg
                JSON_BUILD_OBJECT: AppBundle\Doctrine\Functions\JsonBuildObject
            datetime_functions:
                date: DoctrineExtensions\Query\Mysql\Date
        filters:
            soft_deleteable:
                class:   Gedmo\SoftDeleteable\Filter\SoftDeleteableFilter
                enabled: false
            disabled_filter:
                class:   AppBundle\Doctrine\Filter\DisabledFilter
                enabled: true
        resolve_target_entities:
            Sylius\Component\Order\Model\OrderInterface: AppBundle\Sylius\Order\OrderInterface
