liip_imagine:
    resolvers:
        default:
            web_path:
                web_root: '%env(APP_PUBLIC_DIR)%'
    cache: ~
    filter_sets:
        cache: ~
        restaurant_thumbnail:
            data_loader: restaurant_images
            filters:
                upscale:
                    min: [ 512, 512 ]
                thumbnail:
                    size: [ 512, 512 ]
                    mode: outbound
                    allow_upscale: true
            post_processors:
                jpegoptim:
                    strip_all: true
                    max: 80
                    progressive: true
                optipng:
                    strip_all: true
                    level: 4
        restaurant_banner:
            data_loader: restaurant_images
            filters:
                upscale:
                    min: [ 480, 270 ]
                thumbnail:
                    size: [ 480, 270 ]
                    mode: outbound
                    allow_upscale: true
            post_processors:
                jpegoptim:
                    strip_all: true
                    max: 80
                    progressive: true
                optipng:
                    strip_all: true
                    level: 4
        task_image_thumbnail:
            data_loader: task_images
            filters:
                thumbnail:
                    size: [ 128, 128 ]
                    mode: outbound
            post_processors:
                jpegoptim:
                    strip_all: true
                    max: 80
                    progressive: true
        product_thumbnail:
            data_loader: product_images
            filters:
                upscale:
                    min: [ 256, 256 ]
                thumbnail:
                    size: [ 256, 256 ]
                    mode: outbound
                    allow_upscale: true
            post_processors:
                jpegoptim:
                    strip_all: true
                    max: 80
                    progressive: true
                optipng:
                    strip_all: true
                    level: 4
        product_thumbnail_1x1:
            data_loader: product_images
            filters:
                upscale:
                    min: [ 256, 256 ]
                thumbnail:
                    size: [ 256, 256 ]
                    mode: outbound
                    allow_upscale: true
            post_processors:
                jpegoptim:
                    strip_all: true
                    max: 80
                    progressive: true
                optipng:
                    strip_all: true
                    level: 4
        product_thumbnail_16x9:
            data_loader: product_images
            filters:
                upscale:
                    min: [ 640, 360 ]
                thumbnail:
                    size: [ 640, 360 ]
                    mode: outbound
                    allow_upscale: true
            post_processors:
                jpegoptim:
                    strip_all: true
                    max: 80
                    progressive: true
                optipng:
                    strip_all: true
                    level: 4
        product_thumbnail_4x3:
            data_loader: product_images
            filters:
                upscale:
                    min: [ 512, 384 ]
                thumbnail:
                    size: [ 512, 384 ]
                    mode: outbound
                    allow_upscale: true
            post_processors:
                jpegoptim:
                    strip_all: true
                    max: 80
                    progressive: true
                optipng:
                    strip_all: true
                    level: 4
        store_thumbnail:
            data_loader: store_images
            filters:
                upscale:
                    min: [ 512, 512 ]
                thumbnail:
                    size: [ 512, 512 ]
                    mode: outbound
                    allow_upscale: true
            post_processors:
                jpegoptim:
                    strip_all: true
                    max: 80
                    progressive: true
                optipng:
                    strip_all: true
                    level: 4
        logo_thumbnail:
            data_loader: assets
            post_processors:
                jpegoptim:
                    strip_all: true
                    max: 80
                    progressive: true
                optipng:
                    strip_all: true
                    level: 4
        incident_image_thumbnail:
            data_loader: incident_images
            filters:
                upscale:
                    min: [ 768, 768 ]
                thumbnail:
                    size: [ 768, 768 ]
                    mode: outbound
            post_processors:
                jpegoptim:
                    strip_all: true
                    max: 80
                    progressive: true
                optipng:
                    strip_all: true
                    level: 4
        homepage_slider_images_thumbnail:
            data_loader: homepage_slider_images
            filters:
                upscale:
                    min: [ 768, 768 ]
                thumbnail:
                    size: [ 768, 768 ]
                    mode: outbound
            post_processors:
                jpegoptim:
                    strip_all: true
                    max: 80
                    progressive: true
                optipng:
                    strip_all: true
                    level: 4
    loaders:
        default:
            filesystem:
                # https://github.com/liip/LiipImagineBundle/pull/1094
                allow_unresolvable_data_roots: true
                data_root: '%env(APP_PUBLIC_DIR)%'
        restaurant_images:
            flysystem:
                filesystem_service: oneup_flysystem.restaurant_images_filesystem
        product_images:
            flysystem:
                filesystem_service: oneup_flysystem.product_images_filesystem
        store_images:
            flysystem:
                filesystem_service: oneup_flysystem.store_images_filesystem
        task_images:
            flysystem:
                filesystem_service: oneup_flysystem.task_images_filesystem
        assets:
            flysystem:
                filesystem_service: oneup_flysystem.assets_filesystem
        incident_images:
            flysystem:
                filesystem_service: oneup_flysystem.incident_images_filesystem
        homepage_slider_images:
            flysystem:
                filesystem_service: oneup_flysystem.homepage_slider_images_filesystem
