@import "../../../assets/css/vars.scss";

.ReactModal__Overlay--addressProp {
  // To make sure the overlay is *ABOVE* the Leaflet map
  z-index: 1001;
}

.ReactModal__Content--addressProp {
  max-width: 50%;
}

.SavedAddressesBox__Results {
  max-height: 160px;
  overflow: auto;

  li {
    &:hover,
      &:focus {
        background-color: $light-gray;
      }
  }
}
