.homepage-search {
  position: relative;
  background-image: url(../../../assets/pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* Hide the address description field */
.mb-3:has(textarea#delivery_tasks_1_address_description) {
  display: none;
}
