@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

.homepage-delivery {

  position: relative;
  display: flex;
  justify-content: flex-end;

  background: #212121;
  padding: 40px 60px;

  @media (max-width: $screen-xs-max) {
    flex-direction: column;
  }

  margin-bottom: 80px;

  form {
    background: #FFFFFF;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 50px 40px;
    button[type="submit"] {
      background-color: #0076FF;
    }
  }

  &-form {
    @media (min-width: $screen-sm-min) {
      position: absolute;
      min-width: 50%;
      bottom: -50px;
      left: 60px;
    }
    @media (max-width: $screen-xs-max) {
      order: 2;
    }
  }

  &-text {
    color: #e5e5e5;
    @media (min-width: $screen-sm-min) {
      width: calc(50% - 90px);
    }
    @media (max-width: $screen-xs-max) {
      order: 1;
      margin-bottom: 30px;
    }
  }
}
