.delivery-pricing-ruleset {
  padding-left: 0;
  margin-bottom: 30px;
  &__rule {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #e7e7e7;
    &__handle {
      text-align: center;
      cursor: grab;
      padding: 20px 0;
    }
    &__remove {
      text-align: right;
    }
  }
}
