{% extends "AppBundle::base.html.twig" %}

{% block banner %}{% endblock %}

{% block body %}
<div class="container">

  {% include "AppBundle:Admin:nav.html.twig" %}

  <ol class="breadcrumb">
    <li><a href="{{ path('admin_index') }}">{% trans %}Admin dashboard{% endtrans %}</a></li>
    {% block breadcrumb %}{% endblock %}
  </ol>

  {% block content %}{% endblock %}

</div>
{% endblock %}
