{% extends "@App/base.html.twig" %}

{% block menu %}
  {% include "@App/admin/nav.html.twig" %}
{% endblock %}

{% block banner %}
  {% include '@App/_partials/maintenance.html.twig' %}
{% endblock %}

{% block body %}
<div class="container-fluid container--full-height">

  {% if not settings_manager.fullyConfigured %}
  <div class="alert alert-danger">
  {% trans with { '%settings_url%': path('admin_settings') } %}
  admin.settings.missing_mandatory_settings
  {% endtrans %}
  </div>
  {% endif %}

  <ol class="breadcrumb">
    <li><a href="{{ path('admin_index') }}">{% trans %}adminDashboard.title{% endtrans %}</a></li>
    {% block breadcrumb %}{% endblock %}
  </ol>

  {% block subnav %}{% endblock %}
  {% block content %}{% endblock %}

</div>
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('widgets-admin') }}
{% endblock %}

{% block scripts_common %}
  {{ encore_entry_script_tags('widgets-admin') }}
  {% block scripts %}{% endblock %}
{% endblock %}
