{% extends "AppBundle::base.html.twig" %}

{% block banner %}{% endblock %}

{% block body %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="{{ path('fos_user_profile_show') }}">{% trans %}My account{% endtrans %}</a></li>
    {% block breadcrumb %}{% endblock %}
  </ol>

  {% block content %}{% endblock %}

</div>
{% endblock %}
