{% extends "AppBundle::base.html.twig" %}

{% block body %}

<div class="container" id="help">

  <div class="row">
    <div class="col-md-3">
      <p>
        <a href="{{ path('help') }}" class="btn btn-block btn-default">
          <i class="fa fa-home"></i> {% trans %}Home{% endtrans %}
        </a>
      </p>
      <div class="panel panel-default">
        <div class="panel-heading">Index</div>
        <ul class="list-group">
          {% for route_key, trans_key in menu %}
            <a class="help-nav__item" href="{{ path(route_key) }}">
              <li class="list-group-item">
                {{ trans_key|trans }}
              </li>
            </a>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-md-9">
      {% set markdown_content %}
        {% include "AppBundle:Help:" ~ template %}
      {% endset %}
      {{ markdown_content|raw|markdown }}
    </div>
  </div>

</div>

{% endblock %}
