<mj-text align="left" line-height="24px">
  <h3>{{ 'order.cancelled.subject' | trans({}, 'emails', locale) }}</h3>
  <p>{{ 'order.cancelled.body.intro' | trans({}, 'emails', locale) | raw }}</p>
</mj-text>
