{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "> 5%",
          "ie >= 11"
        ],
        "uglify": true
      },
      "useBuiltIns": true,
      "debug": true
    }],
    "react"
  ],
  "plugins": [
    "transform-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current",
          }
        }]
      ]
    }
  }
}
