{
  "presets": [
    ["@babel/preset-env", {
      "targets": "> 5%, ie >= 11",
      "useBuiltIns": "usage"
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "node": "current",
          }
        }]
      ]
    }
  }
}
