root = true

[*.html.twig]
indent_style = space
indent_size = 2

[*.js]
indent_style = space
indent_size = 2

[*.jsx]
indent_style = space
indent_size = 2

[*.feature]
indent_style = space
indent_size = 2