/ansible/group_vars/*.yml
!ansible/group_vars/all.yml
/ansible/host_vars/*.yml
!ansible/host_vars/default.yml
/app/config/parameters.yml
/build/
/config/deploy/*
!config/deploy/.gitkeep
/phpunit.xml

# Dev temp files
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/

# Build with webpack
/web/bundles/
/web/css/
/web/fonts/
/web/images/*
!web/images/.gitkeep
/web/js/
/web/manifest.json

/.vagrant/
/node_modules/
.DS_Store

# Sublime text editor stuff
*.sublime-workspace
*.sublime-project

# PHPStorm stuff
.idea
