/app/config/parameters.yml
/build/
/phpunit.xml

# Dev temp files
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/

# Build with webpack
/web/bundles/
/web/css/
/web/fonts/
/web/images/*
!web/images/.gitkeep
/web/js/
/web/manifest.json
/web/manifest.js
/web/manifest.*.js

/node_modules/
.DS_Store

# Sublime text editor stuff
*.sublime-workspace
*.sublime-project

# PHPStorm stuff
.idea

# docker-sync stuff
.docker-sync
