/ansible/group_vars/*.yml
!ansible/group_vars/all.yml
/ansible/host_vars/*.yml
!ansible/host_vars/default.yml
/app/config/parameters.yml
/build/
/config/deploy/*
!config/deploy/.gitkeep
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/images/*
!web/images/.gitkeep
/web/js/*
!web/js/.gitkeep
/.vagrant/
/node_modules/
.DS_Store
*.sublime-workspace
*.sublime-project
