version: '2.1'
services:

  postgres:
    restart: always
    image: mdillon/postgis:9.4-alpine
    environment:
      POSTGRES_DB: coopcycle

  redis:
    restart: always
    image: redis:alpine

  nodejs:
    build:
      dockerfile: './docker/nodejs/Dockerfile'
      context: '.'
    depends_on:
      - postgres
      - redis
    ports:
      - '8000:8000'
      - '8001:8001'
      - '8002:8002'
    volumes:
      - './:/srv/coopcycle'
      - '/srv/coopcycle/node_modules'
    environment:
      ASSETS_BASE_URL: http://192.168.99.100:8080

  webpack:
    build:
      dockerfile: './docker/webpack/Dockerfile'
      context: '.'
    ports:
      - '8080:8080'
    volumes:
      - './:/srv/coopcycle'
      - 'node_modules:/srv/coopcycle/node_modules'

  osrm:
    build: './docker/osrm'
    mem_limit: 2g
    ports:
      - '5000:5000'
    volumes:
      - './var/osrm:/data'
    environment:
      OSRM_FILENAME: data.osrm

  php:
    build:
      dockerfile: './docker/php/Dockerfile'
      context: '.'
    depends_on:
      - postgres
    environment:
      SYMFONY_ENV: 'dev'
    volumes:
      - './:/srv/coopcycle'

  nginx:
    image: 'nginx:1.11-alpine'
    depends_on:
      - php
      - nodejs
    ports:
      - '80:80'
    volumes_from:
      - php
    volumes:
      - './docker/nginx/conf.d:/etc/nginx/conf.d:ro'

volumes:
  node_modules:
