services:

  postgres:
    restart: always
    image: ${POSTGRES_IMAGE:-postgis/postgis:16-3.4-alpine}
    environment:
      - POSTGRES_DB=${COOPCYCLE_DB_NAME}
      - POSTGRES_USER=${COOPCYCLE_DB_USER}
      - POSTGRES_PASSWORD=${COOPCYCLE_DB_PASSWORD}
    ports:
      - '5432:5432'
    volumes:
      - 'pg_data:/var/lib/postgresql/data'

  redis:
    restart: always
    image: redis:5-alpine
    ports:
      - '6379:6379'

  webpack:
    build:
      dockerfile: './docker/webpack/Dockerfile'
      context: '.'
    image: coopcycle/webpack
    ports:
      - '8080:8080'
    volumes:
      # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
      - '.:/srv/coopcycle'
      - 'webpack_php_cache:/srv/coopcycle/var/cache'
      - 'node_modules_webpack:/srv/coopcycle/node_modules/'

  osrm:
    build: './docker/osrm'
    ports:
      - '5000:5000'
    volumes:
      - './var/osrm:/data'
    environment:
      - OSRM_FILENAME=data.osrm

  php:
    build:
      dockerfile: './docker/php/Dockerfile'
      context: '.'
    image: coopcycle/php:${PHP_VERSION:-8.3}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - postgres
      - redis
      - osrm
      - stripe_mock
    links:
      - osrm
      - stripe_mock
      - browserless
    environment:
      # Make sure "base_url" has a trailing slash
      # https://github.com/FriendsOfBehat/SymfonyExtension/issues/124
      - 'BEHAT_PARAMS={"extensions":{"Behat\\MinkExtension":{"base_url": "http://nginx_test:80/"}}}'
      - GOOGLE_API_KEY
      - STRIPE_PUBLISHABLE_KEY
      - STRIPE_SECRET_KEY
      - STRIPE_CONNECT_CLIENT_ID
      - GEOCODE_EARTH_API_KEY
    volumes:
      - './:/var/www/html:cached'
      - 'php_logs:/var/www/html/var/logs'
      - 'php_cache:/var/www/html/var/cache'
      - 'php_profiles:/var/www/html/var/profiles'
      - 'php_public_images:/var/www/html/web/images'
    cap_add:
      - SYS_ADMIN

  php_worker:
    build:
      dockerfile: './docker/php_worker/Dockerfile'
      context: '.'
    depends_on:
      - php
    restart: always
    environment:
      - APP_ENV
      - GOOGLE_API_KEY
      - STRIPE_PUBLISHABLE_KEY
      - STRIPE_SECRET_KEY
    volumes:
      - './:/var/www/html:cached'
      - 'php_logs:/var/www/html/var/logs'
      - 'php_cache:/var/www/html/var/cache'
      - 'php_public_images:/var/www/html/web/images'

  nginx:
    image: 'nginx:1.25-alpine'
    depends_on:
      - php
      - centrifugo
    ports:
      - '80:80'
    volumes:
      - './docker/nginx/conf.d:/etc/nginx/conf.d:ro'
      - './web:/var/www/html/web:ro'
      - './vendor:/var/www/html/vendor:ro'
      - 'php_public_images:/var/www/html/web/images:ro'

  nginx_test:
    image: 'nginx:1.25-alpine'
    depends_on:
      - php
    ports:
      - '9080:80'
    volumes:
      - './docker/nginx_test/conf.d:/etc/nginx/conf.d:ro'
      - './web:/var/www/html/web:ro'
      - './vendor:/var/www/html/vendor:ro'
      - 'php_public_images:/var/www/html/web/images:ro'

  smtp:
    image: namshi/smtp
    ports:
      - 25:25

  stripe_mock:
    image: stripe/stripe-mock:latest
    ports:
      - '12111:12111'

  browserless:
    image: browserless/chrome
    environment:
      - DEBUG=browserless/chrome*

  mjml:
    image: adrianrudnik/mjml-server:2.4.0
    ports:
      - 8889:80
    environment:
      - CORS=*
      - MJML_KEEP_COMMENTS=true
      - MJML_VALIDATION_LEVEL=strict
      - MJML_MINIFY=false

  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    command: server --console-address ":9001" /data
    ports:
      - "9000:9000"
      - "9001:9001"
    volumes:
      - minio_data:/data
    environment:
      - MINIO_ACCESS_KEY=${S3_CREDENTIALS_KEY}
      - MINIO_SECRET_KEY=${S3_CREDENTIALS_SECRET}
      - MINIO_REGION=${S3_REGION}
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5

  # https://github.com/minio/minio/issues/4882
  # https://docs.min.io/docs/minio-client-complete-guide#policy
  minio_client:
    image: minio/mc:RELEASE.2025-04-16T18-13-26Z
    depends_on:
      minio:
        condition: service_healthy
    environment:
      - S3_CREDENTIALS_KEY
      - S3_CREDENTIALS_SECRET
      - S3_REGION
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc config host add coopcycle http://minio:9000 $S3_CREDENTIALS_KEY $S3_CREDENTIALS_SECRET;
      /usr/bin/mc mb --region $S3_REGION --ignore-existing coopcycle/edifact/;
      /usr/bin/mc mb --region $S3_REGION --ignore-existing coopcycle/images/;
      /usr/bin/mc mb --region $S3_REGION --ignore-existing coopcycle/images/assets/;
      /usr/bin/mc mb --region $S3_REGION --ignore-existing coopcycle/images/products/;
      /usr/bin/mc mb --region $S3_REGION --ignore-existing coopcycle/images/receipts/;
      /usr/bin/mc mb --region $S3_REGION --ignore-existing coopcycle/images/restaurants/;
      /usr/bin/mc mb --region $S3_REGION --ignore-existing coopcycle/images/stores/;
      /usr/bin/mc mb --region $S3_REGION --ignore-existing coopcycle/images/tasks/;
      /usr/bin/mc policy set public coopcycle/images/;
      "

  tile38:
    image: tile38/tile38

  vroom:
    image: vroomvrp/vroom-docker:v1.8.0
    ports:
      - "3000:3000"
    volumes:
      - ./vroom-conf/:/conf
    environment:
      - VROOM_ROUTER=osrm  # router to use, osrm or ors
    depends_on:
      - osrm

  sonic:
    image: valeriansaliou/sonic:v1.3.0
    ports:
      - "1491:1491"
    volumes:
      - ./sonic.cfg:/etc/sonic.cfg

  centrifugo:
    image: centrifugo/centrifugo:v2
    ports:
      - "8100:8000"
    depends_on:
      - redis
    environment:
      - CENTRIFUGO_TOKEN_HMAC_SECRET_KEY
      - CENTRIFUGO_API_KEY
      - CENTRIFUGO_V3_USE_OFFSET=true
      - CENTRIFUGO_ENGINE=redis
      - CENTRIFUGO_REDIS_URL=redis://redis:6379
      - CENTRIFUGO_ADMIN=true
      - CENTRIFUGO_ADMIN_PASSWORD=centrifugo
      - CENTRIFUGO_ADMIN_SECRET=centrifugo

  # https://cube.dev/docs/getting-started-docker
  cube:
    image: cubejs/cube:v0.34
    ports:
      - 4000:4000
    depends_on:
      - postgres
      - minio
    environment:
      - CUBEJS_DB_TYPE=postgres
      - CUBEJS_DB_HOST=${COOPCYCLE_DB_HOST}
      - CUBEJS_DB_PORT=${COOPCYCLE_DB_PORT}
      # - CUBEJS_DB_NAME=${COOPCYCLE_DB_NAME}
      - CUBEJS_DB_USER=${COOPCYCLE_DB_USER}
      - CUBEJS_DB_PASS=${COOPCYCLE_DB_PASSWORD}
      - CUBEJS_WEB_SOCKETS=true
      - CUBEJS_DEV_MODE=true
      - CUBEJS_API_SECRET
      - CUBEJS_SCHEMA_PATH=schema
      - CUBEJS_CACHE_AND_QUEUE_DRIVER=memory
      - CUBEJS_DB_DUCKDB_S3_ENDPOINT=${CUBEJS_DUCKDB_S3_ENDPOINT}
      - CUBEJS_DB_DUCKDB_S3_REGION=${CUBEJS_DUCKDB_S3_REGION}
      - CUBEJS_DB_DUCKDB_S3_ACCESS_KEY_ID=${CUBEJS_DUCKDB_S3_ACCESS_KEY_ID}
      - CUBEJS_DB_DUCKDB_S3_SECRET_ACCESS_KEY=${CUBEJS_DUCKDB_S3_SECRET_ACCESS_KEY}
      - CUBEJS_DB_DUCKDB_S3_USE_SSL=false
      - CUBEJS_DB_DUCKDB_S3_URL_STYLE=path
    volumes:
      - ./cube:/cube/conf/schema
      - ./cube.js:/cube/conf/cube.js
    attach: false

  typesense:
    image: typesense/typesense:0.22.2
    ports:
      - 8108:8108
    environment:
      - TYPESENSE_API_KEY
      - TYPESENSE_DATA_DIR=/data
    volumes:
      - typesense_data:/data
    attach: false

  storybook-react:
    build:
      dockerfile: './docker/storybook-react/Dockerfile'
      context: '.'
    ports:
      - '6007:6007'
    depends_on:
      - webpack
    volumes:
      # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
      - '.:/srv/coopcycle'
      - 'node_modules_webpack:/srv/coopcycle/node_modules/'
    profiles:
      - devFrontend

  storybook:
    build:
      dockerfile: './docker/storybook/Dockerfile'
      context: '.'
    ports:
      - '6006:6006'
    depends_on:
      - webpack
      - storybook-react
    volumes:
      # https://stackoverflow.com/questions/29181032/add-a-volume-to-docker-but-exclude-a-sub-folder
      - '.:/srv/coopcycle'
      - 'node_modules_webpack:/srv/coopcycle/node_modules/'
    profiles:
      - devFrontend

  odoo-web:
    image: odoo:17.0
    depends_on:
      - odoo-db
    ports:
      - "8069:8069"
    environment:
      - HOST=odoo-db
      - PORT=5433
    volumes:
      - odoo-web-data:/var/lib/odoo
    profiles:
      - devOdoo

  odoo-db:
    image: postgres:15
    ports:
      - "5433:5433"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_USER=odoo
      - PGPORT=5433
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
    profiles:
      - devOdoo

volumes:
  node_modules_webpack:
  pg_data:
  php_cache:
  php_profiles:
  minio_data:
  typesense_data:
  webpack_php_cache:
  php_logs:
  php_public_images:
  odoo-web-data:
  odoo-db-data:
