includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: 4
    paths:
        - src
    excludes_analyse:
        # Fatal error: Cannot declare class AppBundle\Form\Sylius\Promotion\Action\FixedDiscountConfigurationType because the name is already in use
        - src/Form/Sylius/Promotion/Action/FixedDiscountConfigurationType.php
        # Class AppBundle\Api\DataProvider\RestaurantCollectionDataProvider extends final class ApiPlatform\Core\Bridge\Doctrine\Orm\CollectionDataProvider
        - src/Api/DataProvider/RestaurantCollectionDataProvider
    ignoreErrors:
        - '#Access to an undefined property #'
        - '#Call to an undefined method Symfony\\Component\\Form\\FormInterface::getClickedButton\(\)#'
        - '#Call to an undefined method Sylius\\Component\\Order\\Model\\OrderInterface::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method Doctrine\\Persistence\\ObjectRepository::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method Sylius\\Component\\(Order|Payment|Product)\\Model\\[a-zA-Z]+Interface::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method FOS\\UserBundle\\Model\\UserInterface::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method AppBundle\\Sylius\\Order\\OrderInterface::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method AppBundle\\Entity\\Model\\TaggableInterface::getId\(\)#'
        - '#Call to an undefined method League\\Geotools\\Geohash\\GeohashInterface::getCoordinate\(\)#'
        - '#Call to an undefined method Sylius\\Component\\Order\\Repository\\OrderRepositoryInterface::countByCustomerAndCoupon\(\)#'
        - '#Call to an undefined method Symfony\\Component\\HttpFoundation\\Session\\SessionInterface::getFlashBag\(\)#'
        - '#Call to an undefined method Symfony\\Component\\DependencyInjection\\Extension\\ExtensionInterface::addSecurityListenerFactory\(\)#'
        - '#Call to an undefined method Swift_Mailer::getMessages\(\)#'
        - '#Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required#'
        - '#Strict comparison using === between null and Sylius\\Component\\Order\\Model\\OrderInterface will always evaluate to false#'
        - '#Call to an undefined method [a-zA-Z\\]+::accessControl\(\)#'
        - '#Comparison operation "<" between 0\|1 and 10 is always true#'
        - '#Call to an undefined method League\\Geotools\\Distance\\DistanceInterface::flat\(\)#'
        - '#Call to an undefined method Sylius\\Component\\Promotion\\Model\\PromotionSubjectInterface::getRestaurant\(\)#'
        - '#Call to an undefined method Sylius\\Component\\Resource\\Repository\\RepositoryInterface::findOneBy[a-zA-Z]+\(\)#'
        - '#Call to an undefined method Symfony\\Component\\Validator\\ConstraintViolationListInterface::findByCodes\(\)#'
        - '#Call to an undefined method Faker\\Generator::[a-zA-Z]+\(\)#'
        - '#Property MercadoPago\\Payment::\$payer \(object\) does not accept array<string, mixed>#'
        - '#Access to protected property MercadoPago\\Payment::\$[a-zA-Z_]#'
