includes:
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 4
    paths:
        - src
    excludes_analyse:
        # Fatal error: Cannot declare class AppBundle\Form\Sylius\Promotion\Action\FixedDiscountConfigurationType because the name is already in use
        - src/AppBundle/Form/Sylius/Promotion/Action/FixedDiscountConfigurationType.php
    ignoreErrors:
        - '#Access to an undefined property #'
        - '#Call to an undefined method Symfony\\Component\\Form\\FormInterface::getClickedButton\(\)#'
        - '#Call to an undefined method Sylius\\Component\\Order\\Model\\OrderInterface::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method Doctrine\\Common\\Persistence\\ObjectRepository::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method Sylius\\Component\\(Order|Payment|Product)\\Model\\[a-zA-Z]+Interface::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method FOS\\UserBundle\\Model\\UserInterface::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method AppBundle\\Sylius\\Order\\OrderInterface::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method AppBundle\\Entity\\Model\\TaggableInterface::getId\(\)#'
        - '#Call to an undefined method Sylius\\Component\\Resource\\Repository\\RepositoryInterface::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method League\\Geotools\\Geohash\\GeohashInterface::getCoordinate\(\)#'
        - '#Method AppBundle\\Command\\[a-zA-Z]+::execute\(\) should return int\|null but empty return statement found#'
        - '#Call to an undefined method Sylius\\Component\\Order\\Repository\\OrderRepositoryInterface::countByCustomerAndCoupon\(\)#'
        - '#Call to an undefined method Symfony\\Component\\HttpFoundation\\Session\\SessionInterface::getFlashBag\(\)#'
        - '#Call to an undefined method Symfony\\Component\\DependencyInjection\\Extension\\ExtensionInterface::addSecurityListenerFactory\(\)#'
        - '#Call to an undefined method Swift_Mailer::getMessages\(\)#'
        - '#Call to an undefined method Traversable::uasort\(\)#'
        - '#Method Symfony\\Contracts\\EventDispatcher\\EventDispatcherInterface::dispatch\(\) invoked with 2 parameters, 1 required#'
        - '#Strict comparison using === between null and Sylius\\Component\\Order\\Model\\OrderInterface will always evaluate to false#'
        - '#Call to an undefined method AppBundle\\Service\\RoutingInterface::getServiceResponse\(\)#'
        - '#Call to an undefined method [a-zA-Z\\]+::accessControl\(\)#'
