includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: 4
    paths:
        - src
    excludePaths:
        # Class AppBundle\Api\DataProvider\RestaurantCollectionDataProvider extends final class ApiPlatform\Core\Bridge\Doctrine\Orm\CollectionDataProvider
        - src/Api/DataProvider/RestaurantCollectionDataProvider
        - src/Doctrine/EventSubscriber/TaskSubscriber/EntityChangeSetProcessor
    ignoreErrors:
        - '#Access to an undefined property #'
        - '#Call to an undefined method Symfony\\Component\\Form\\FormInterface::getClickedButton\(\)#'
        - '#Call to an undefined method Sylius\\Component\\Order\\Model\\OrderInterface::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method Doctrine\\ORM\\EntityRepository<[a-zA-Z\\]+>::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method Sylius\\Component\\(Order|Payment|Product)\\Model\\[a-zA-Z]+Interface::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method Symfony\\Component\\Security\\Core\\User\\UserInterface::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method Nucleos\\UserBundle\\Model\\UserInterface::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method AppBundle\\Sylius\\Order\\OrderInterface::[a-zA-Z]+\(\)#'
        - '#Call to an undefined method AppBundle\\Entity\\Model\\TaggableInterface::getId\(\)#'
        - '#Call to an undefined method League\\Geotools\\Geohash\\GeohashInterface::getCoordinate\(\)#'
        - '#Call to an undefined method Sylius\\Component\\Order\\Repository\\OrderRepositoryInterface::countByCustomerAndCoupon\(\)#'
        - '#Call to an undefined method Symfony\\Component\\DependencyInjection\\Extension\\ExtensionInterface::addSecurityListenerFactory\(\)#'
        - '#Strict comparison using === between null and Sylius\\Component\\Order\\Model\\OrderInterface will always evaluate to false#'
        - '#Call to an undefined method [a-zA-Z\\]+::accessControl\(\)#'
        - '#Call to an undefined method League\\Geotools\\Distance\\DistanceInterface::flat\(\)#'
        - '#Call to an undefined method Sylius\\Component\\Promotion\\Model\\PromotionSubjectInterface::getRestaurant\(\)#'
        - '#Call to an undefined method Sylius\\Component\\(.*)RepositoryInterface::findOneBy[a-zA-Z]+\(\)#'
        - '#Property MercadoPago\\Payment::\$payer \(object\) does not accept array<string, mixed>#'
        - '#Access to protected property MercadoPago\\Payment::\$[a-zA-Z_]#'
        - '#Method AppBundle\\Entity\\Sylius\\(Product|Taxon)::compareTo\(\) should return int but returns bool#'
        - '#Method [a-zA-Z\\:\(\)]+ should return Doctrine\\Common\\Collections\\Collection<\(int\|string\), [a-zA-Z\\]+> but returns Doctrine\\Common\\Collections\\ArrayCollection<\(int\|string\), [a-zA-Z\\\|]+>#'
        - '#Call to an undefined method Symfony\\Component\\Validator\\ConstraintViolationListInterface::findByCodes\(\)#'
        - '#Call to an undefined method Doctrine\\Persistence\\ObjectManager::getFilters#'
        - '#(createdAt|updatedAt) is never written, only read#'
        - '#(createdAt|updatedAt) is unused#'
        - '#Property AppBundle\\Entity\\(.*)::\$id is never written, only read#'
        - '#Property AppBundle\\Entity\\(.*)::\$id is unused#'
        - '#updatedAt is never read, only written#'
        - '#Class AppBundle\\Security\\OAuth\\ResourceOwner\\FacebookResourceOwner extends @final class HWI\\Bundle\\OAuthBundle\\OAuth\\ResourceOwner\\FacebookResourceOwner#'
        - '#Property AppBundle\\Utils\\TimeRange::\$(.*) is never read, only written#'
        - '#Call to an undefined method Symfony\\Component\\Console\\Helper\\HelperInterface::ask\(\)#'
        - '#Cannot use array destructuring on array<int, mixed>\|Doctrine\\ORM\\PersistentCollection#'
        - '#Call to an undefined method Symfony\\Component\\Security\\Http\\Authenticator\\Passport\\PassportInterface::getAttribute\(\).#'
        - '#Call to an undefined method DateTimeInterface::modify\(\)#'
    universalObjectCratesClasses:
        - MercadoPago\Item
        - MercadoPago\Preference
        - MercadoPago\Payer
