<header class="restaurant-list-header bg-blue-400 mb-4" data-search="address"
  data-addresses="{{ addresses_normalized()|json_encode()|e('html') }}"
  data-tracking-category="RestaurantList">
  <div class="mx-auto p-4 md:w-1/2">
    <div data-element>
      <!-- This will be replaced by React -->
      <input class="form-control" />
    </div>
  </div>
  <!-- Do NOT put the search component inside the form -->
  <form method="GET" action="{{ path('shops') }}" data-form>
    <input type="hidden" name="geohash" value="{{ geohash }}">
    <input type="hidden" name="address" value="{{ address }}">
  </form>
</header>
