{% set max_displayed_products = 10 %}
{% set displayed_products = 0 %}
<div class="restaurant-menu">
  {% for section in sections %}
    <h4 id={{ section.name|url_encode }} class="restaurant-menu__section-name">{{ section.name }}</h4>
    {% if section.description is not empty %}
      <div class="text-muted">{{ section.description }}</div>
    {% endif %}
    <div class="restaurant-menu__section">
      {% for product in section.products %}
        {% set props = { product: product } %}
        {# If there are more than X products, they rest will be lazy loaded #}
        {% if displayed_products >= max_displayed_products %}
          {% set props = props|merge({ loading: 'lazy' }) %}
        {% endif %}
        {{ component('MenuItem', props) }}
        {% set displayed_products = displayed_products + 1 %}
      {% endfor %}
    </div>
  {% endfor %}
</div>
