.timeslot-container{
  display: flex;
  align-items: flex-end;

  &__picker{
    width: 95%
  }

  &__icon{
    cursor: pointer;
    color: #337AB7;
    width: 5%;
    line-height: 35px,
  }
}

.daterange-picker-container{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

    &__picker{
    width: 95%
  }

  &__icon{
    cursor: pointer;
    color: #337AB7;
    width: 5%;
    line-height: 32px;;
  }
}