{% extends '@App/delivery/form.html.twig' %}

{% block breadcrumb %}

  {% set delivery = form.vars.value %}

  <li><a href="{{ path(stores_route) }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
  <li><a href="{{ path(store_route, { id: store.id }) }}">{{ store.name }}</a></li>

  {% if delivery.id is not null %}
  <li>#{{ delivery.id }}</li>
  {% else %}
  <li>{% trans %}delivery.createNew{% endtrans %}</li>
  {% endif %}

{% endblock %}

