server {

    listen 80;
    server_name {{ item.value.server_name }};
    root {{ item.value.root }};

    # Fix bug to serve static files on shared folders
    sendfile off;

    # Prevents 502 bad gateway error
    large_client_header_buffers 8 32k;

    location /realtime {
        include snippets/websocket_proxy.conf;
        proxy_pass {{ item.value.upstreams.dispatch }};
        proxy_redirect off;
    }

    location /tracking {
        include snippets/websocket_proxy.conf;
        proxy_pass {{ item.value.upstreams.tracking }};
        proxy_redirect off;
    }

    location /order-tracking {
        include snippets/websocket_proxy.conf;
        proxy_pass {{ item.value.upstreams.order_tracking }};
        proxy_redirect off;
    }

    location / {
        # try to serve file directly, fallback to app.php
        try_files $uri /app_dev.php$is_args$args;
    }

    # DEV
    # This rule should only be placed on your development environment
    # In production, don't include this and don't deploy app_dev.php or config.php
    location ~ ^/(app_dev|config)\.php(/|$) {
        fastcgi_pass unix:/var/run/php7-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        # When you are using symlinks to link the document root to the
        # current version of your application, you should pass the real
        # application path instead of the path to the symlink to PHP
        # FPM.
        # Otherwise, PHP's OPcache may not properly detect changes to
        # your PHP files (see https://github.com/zendtech/ZendOptimizerPlus/issues/126
        # for more information).
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        fastcgi_param DOCUMENT_ROOT $realpath_root;
    }

    # return 404 for all other php files not matching the front controller
    # this prevents access to other php files you don't want to be accessible.
    location ~ \.php$ {
      return 404;
    }

    error_log /var/log/nginx/{{ item.value.server_name }}.error.log;
    access_log /var/log/nginx/{{ item.value.server_name }}.access.log;
}