{% extends "@App/base.html.twig" %}

{% block body %}

<div class="container" style="text-align: center">
	<h1>{% trans %} suggest.submitted.title {% endtrans %}</h1>
	<a class="btn btn-success" style="margin-top: 20px; padding: 9px" href="{{ path('homepage') }}">{% trans %} button.suggest.submitted.label {% endtrans %}</a>
</div>

{% endblock %}
