# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:

    # indicates in which country the platform will be deployed
    country_iso: fr
    coopcycle.locale: fr

    database_driver:   pdo_pgsql
    database_host:     postgres
    database_port:     5432
    database_name:     coopcycle
    database_user:     postgres
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       smtp
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       ~
    mailer_encryption: ~
    mailjet.api_key: ""
    mailjet.secret_key: ""

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    cors_allow_origin: http://localhost

    jwt_private_key_path: '%kernel.root_dir%/../var/jwt/private.pem'   # ssh private key path
    jwt_public_key_path:  '%kernel.root_dir%/../var/jwt/public.pem'    # ssh public key path
    jwt_key_pass_phrase:  'coursiers'                                  # ssh key pass phrase
    jwt_token_ttl:        86400

    transactional_address: transactional@coopcycle.dev
    transactional_sender_name: CoopCycle

    redis_host: redis
    redis_dsn: redis://%redis_host%:6379

    osrm_host: "osrm:5000"

    app.name: default
    app.dispatch_port: "8000"
    app.tracking_port: "8001"

    piwik_site_id: ~

    is_demo: false

    sentry_dsn: "https://<public>:<secret>@sentry.io/********"
    sentry_public_dsn: "https://<public>@sentry.io/********"

    statsd_host: "graphite"
    statsd_port: "8125"

    fcm_server_api_key: ""
    apns_certificate_file: "/dev/null"
    apns_certificate_pass_phrase: ""
