# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:

    # indicates in which country the platform will be deployed
    country_iso: fr

    database_driver:   pdo_pgsql
    database_host:     postgres
    database_port:     5432
    database_name:     coopcycle
    database_user:     postgres
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~
    mailer_port:       ~
    mailer_encryption: ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    cors_allow_origin: http://localhost

    jwt_private_key_path: %kernel.root_dir%/../var/jwt/private.pem   # ssh private key path
    jwt_public_key_path:  %kernel.root_dir%/../var/jwt/public.pem    # ssh public key path
    jwt_key_pass_phrase:  'coursiers'                                # ssh key pass phrase
    jwt_token_ttl:        86400

    google_api_key: YOUR_API_KEY

    stripe_secret_key: YOUR_STRIPE_SECRET_KEY
    stripe_publishable_key: YOUR_STRIPE_PUBLISHABLE_KEY
    stripe_connect_client_id: YOUR_STRIPE_CONNECT_CLIENT_ID

    transactional_address: transactional@coopcycle.dev
    transactional_sender_name: CoopCycle

    redis_host: redis
    redis_dsn: redis://%redis_host%:6379

    osrm_host: "osrm:5000"

    app.name: default
    app.dispatch_port: "8000"
    app.tracking_port: "8001"
    app.order_tracking_port: "8002"
    app.restaurant_panel_port: "8003"

    # Change this for development if you are using Docker
    # Ex: http://192.168.99.100:8080
    webpack.dev_server.base_url: http://localhost:8080

    applicolis_api_base_url: ~

    piwik_site_id: ~

    is_demo: false

    sentry_dsn: "https://<public>:<secret>@sentry.io/********"
    sentry_public_dsn: "https://<public>@sentry.io/********"
