# To get started with security, check out the documentation:
# http://symfony.com/doc/current/book/security.html
security:

    encoders:
        Symfony\Component\Security\Core\User\User: plaintext
        FOS\UserBundle\Model\UserInterface: sha512

    role_hierarchy:
        ROLE_CUSTOMER: ROLE_USER
        ROLE_COURIER: ROLE_CUSTOMER
        ROLE_RESTAURANT: ROLE_USER
        ROLE_STORE: ROLE_USER
        ROLE_ADMIN: ROLE_COURIER

    # http://symfony.com/doc/current/book/security.html#where-do-users-come-from-user-providers
    providers:
        fos_userbundle:
            id: fos_user.user_provider.username_email
        # jwt:
        #     lexik_jwt:
        #         class: AppBundle\Entity\ApiUser

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        api_login:
            pattern:  ^/api/login
            stateless: true
            anonymous: true
            form_login:
                check_path:               /api/login_check
                success_handler:          lexik_jwt_authentication.handler.authentication_success
                failure_handler:          lexik_jwt_authentication.handler.authentication_failure
                require_previous_session: false

        api_orders:
            pattern:   ^/api/orders
            stateless: true
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

        api_deliveries_create:
            pattern:   ^/api/deliveries
            methods: [ POST ]
            stateless: true
            guard:
                authenticators:
                    - AppBundle\Security\StoreTokenAuthenticator

        api_deliveries:
            pattern:   ^/api/deliveries
            stateless: true
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

        api_restaurant_orders:
            pattern:   ^/api/restaurants/\d+/orders
            stateless: true
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

        api_restaurant_update:
            pattern:   ^/api/restaurants/\d+
            methods: [ PUT ]
            stateless: true
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

        api_opening_hours_specifications:
            pattern:   ^/api/opening_hours_specifications
            methods: [ DELETE ]
            stateless: true
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

        api_me_location:
            pattern:   ^/api/me/location
            stateless: true
            # FIXME Doesn't work
            # provider: jwt
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

        api_products:
            pattern:   ^/api/products
            stateless: true
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

        api_me:
            pattern:   ^/api/me
            stateless: true
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

        api_tasks:
            pattern:   ^/api/tasks
            stateless: true
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

        api_pricing_calculate_price:
            pattern:   ^/api/pricing/calculate-price
            stateless: true
            guard:
                authenticators:
                    - AppBundle\Security\StoreTokenAuthenticator

        token_check:
            pattern:   ^/api/token/check
            stateless: true
            guard:
                authenticators:
                    - lexik_jwt_authentication.jwt_token_authenticator

        token_refresh:
            pattern:  ^/api/token/refresh
            stateless: true
            anonymous: true

        web:
            pattern:            ^/
            form_login:
                provider:       fos_userbundle
                success_handler: coopcycle.web_success_handler
            oauth:
                resource_owners:
                    google:             "/login/check-google"
                login_path:        /login
                use_forward:       false
                failure_path:      /login
                oauth_user_provider:
                    service: coopcycle.user_provider


            logout: true
            anonymous: ~

        main:
            anonymous: ~
            logout_on_user_change: true

    access_control:
        - { path: ^/login, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/register, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/resetting, role: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api/login, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api/settings, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api/token/refresh, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/api/token/check, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/me, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/deliveries, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/orders, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/tasks, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/pricing, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/products, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/restaurants/\d+/orders, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/api/restaurants/\d+, roles: IS_AUTHENTICATED_FULLY, methods: [ PUT ] }
        - { path: ^/api/opening_hours_specifications, roles: IS_AUTHENTICATED_FULLY, methods: [ DELETE ] }
        - { path: ^/order/public, roles: IS_AUTHENTICATED_ANONYMOUSLY }
        - { path: ^/order, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/profile/restaurants, roles: ROLE_RESTAURANT }
        - { path: ^/profile, roles: IS_AUTHENTICATED_FULLY }
        - { path: ^/admin, roles: ROLE_ADMIN }
