# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]

  app.locale_listener:
    class: AppBundle\EventListener\LocaleListener
    arguments: ['%kernel.default_locale%']
    tags:
      - { name: kernel.event_subscriber }

  app.form.registration:
    class: AppBundle\Form\RegistrationType
    tags:
      - { name: form.type, alias: app_user_registration }

  my.registration_listener:
    class: AppBundle\EventListener\RegistrationListener
    arguments: ['@router']
    tags:
      - { name: kernel.event_subscriber }

  my.order_listener:
    class: AppBundle\EventListener\OrderListener
    arguments: [ "@delivery_service_factory" ]
    tags:
      - { name: "kernel.event_listener", event: "order.payment_success", method: "onPaymentSuccess" }

  order.entity_listener:
    class: AppBundle\Entity\Listener\OrderListener
    arguments: [ "@security.token_storage", "@delivery_service_factory" ]
    tags:
      - { name: doctrine.orm.entity_listener }

  order_item.entity_listener:
    class: AppBundle\Entity\Listener\OrderItemListener
    tags:
      - { name: doctrine.orm.entity_listener }

  my.order_normalizer:
    class: AppBundle\Serializer\OrderNormalizer
    arguments:
      - "@api_platform.jsonld.normalizer.item"
    tags: [ { name: serializer.normalizer, priority: 128 } ]

  app.menu_normalizer:
    class: AppBundle\Serializer\MenuNormalizer
    arguments:
      - "@api_platform.jsonld.normalizer.item"
    tags: [ { name: serializer.normalizer, priority: 128 } ]

  app.menu_section:
    class: AppBundle\Serializer\MenuSectionNormalizer
    arguments:
      - "@api_platform.jsonld.normalizer.item"
    tags: [ { name: serializer.normalizer, priority: 128 } ]

  app.menu_item_normalizer:
    class: AppBundle\Serializer\MenuItemNormalizer
    arguments:
      - "@api_platform.jsonld.normalizer.item"
    tags: [ { name: serializer.normalizer, priority: 128 } ]

  'AppBundle\Form\RestaurantType':
    arguments: [ '@translator', '@delivery_service_factory' ]
    tags: [ form.type ]

  my.jwt_listener:
    class: AppBundle\EventListener\JwtListener
    tags:
      - { name: kernel.event_listener, event: lexik_jwt_authentication.on_authentication_success, method: onAuthenticationSuccess }

  my.order_repository:
    class: AppBundle\Entity\OrderRepository
    factory: ['@doctrine.orm.default_entity_manager', getRepository]
    arguments:
      - AppBundle\Entity\Order

  delivery_service.default:
    class: AppBundle\Service\DeliveryService\Core
    arguments: [ "@snc_redis.default", "%osrm_host%" ]

  delivery_service.applicolis:
    class: AppBundle\Service\DeliveryService\AppliColis
    arguments: [ "@snc_redis.default", "%osrm_host%", "%applicolis_api_base_url%", "%applicolis_api_key%", "@logger" ]

  delivery_service_factory:
    class: AppBundle\Service\DeliveryService\Factory
    arguments:
      - [ "@delivery_service.applicolis" ]
      - "@delivery_service.default"

  routing_service:
    class: AppBundle\Service\Routing\Osrm
    arguments:
      - '@csa_guzzle.client.osrm'

  payment_service:
    class: AppBundle\Service\PaymentService
    arguments:
      - "%stripe_secret_key%"
      - "@logger"

  restaurant.search_filter:
    parent: "api_platform.doctrine.orm.search_filter"
    class: 'AppBundle\Filter\RestaurantFilter'
    arguments: [ { distance: "exact", coordinate: "exact" } ]
    tags:  [ { name: 'api_platform.filter', id: 'restaurant.search' } ]

  twig.extension.text:
    class: Twig_Extensions_Extension_Text
    tags:
      - { name: twig.extension }

  twig.extension.intl:
    class: Twig_Extensions_Extension_Intl
    tags:
      - { name: twig.extension }
