# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
  sylius_cart_restaurant_session_key_name: _coopcycle.sylius.cart.restaurant

imports:
  - { resource: services/forms.yml }
  - { resource: services/serializer.yml }
  - { resource: services/twig.yml }
  - { resource: services/validators.yml }

services:

  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  AppBundle\Action\:
    resource: '../../src/AppBundle/Action/*'
    tags: ['controller.service_arguments']

  AppBundle\Command\:
    resource: '../../src/AppBundle/Command/*'

  AppBundle\EventSubscriber\:
    resource: '../../src/AppBundle/EventSubscriber/*'

  AppBundle\Service\:
    resource: '../../src/AppBundle/Service/*'

  AppBundle\Twig\:
    resource: '../../src/AppBundle/Twig/*'

  AppBundle\Controller\:
    resource: '../../src/AppBundle/Controller'
    tags: ['controller.service_arguments']

  coopcycle.repository.restaurant: '@AppBundle\Entity\RestaurantRepository'

  coopcycle.preparation_time_calculator: '@AppBundle\Utils\PreparationTimeCalculator'
  coopcycle.shipping_time_calculator: '@AppBundle\Utils\ShippingTimeCalculator'
  coopcycle.shipping_date_filter:
    alias: AppBundle\Utils\ShippingDateFilter
    public: true
  coopcycle.order_timeline_calculator:
    alias: AppBundle\Utils\OrderTimelineCalculator
    public: true
  coopcycle.store_token_manager:
    alias: AppBundle\Security\StoreTokenManager
    public: true
  coopcycle.utils.order_text_encoder: '@AppBundle\Utils\OrderTextEncoder'
  coopcycle.order_number_assigner: '@AppBundle\Sylius\Order\OrderNumberAssigner'
  coopcycle.utils.restaurant_filter: '@AppBundle\Utils\RestaurantFilter'
  coopcycle.expression_language:
    alias: AppBundle\ExpressionLanguage\ExpressionLanguage
    public: true
  coopcycle.tag_manager: '@AppBundle\Service\TagManager'
  coopcycle.socket_io_manager: '@AppBundle\Service\SocketIoManager'
  coopcycle.geocoder: '@AppBundle\Service\Geocoder'
  coopcycle.task_manager: '@AppBundle\Service\TaskManager'
  coopcycle.order_manager: '@AppBundle\Service\OrderManager'
  coopcycle.delivery.manager: '@AppBundle\Service\DeliveryManager'
  coopcycle.stripe_manager: '@AppBundle\Service\StripeManager'
  coopcycle.settings_manager:
    alias: AppBundle\Service\SettingsManager
    public: true
  coopcycle.email_manager: '@AppBundle\Service\EmailManager'
  coopcycle.notification_manager: '@AppBundle\Service\NotificationManager'
  coopcycle.remote_push_notification_manager: '@AppBundle\Service\RemotePushNotificationManager'

  Sylius\Component\Product\Resolver\ProductVariantResolverInterface: '@sylius.product_variant_resolver.default'
  Sylius\Component\Currency\Context\CurrencyContextInterface: '@sylius.context.currency'
  Sylius\Component\Order\Context\CartContextInterface: '@sylius.context.cart.composite'
  Predis\Client: '@snc_redis.default'
  SM\Factory\FactoryInterface: '@sm.factory'
  Sylius\Bundle\CurrencyBundle\Templating\Helper\CurrencyHelperInterface: '@sylius.templating.helper.currency'
  FOS\UserBundle\Util\UserManipulator:
    alias: 'fos_user.util.user_manipulator'
    public: true

  AppBundle\Command\SetupCommand:
    arguments:
      $productRepository: '@sylius.repository.product'
      $productFactory: '@sylius.factory.product'
      $productManager: '@sylius.manager.product'
      $productAttributeRepository: '@sylius.repository.product_attribute'
      $productAttributeManager: '@sylius.manager.product_attribute'
      $localeRepository: '@sylius.repository.locale'
      $localeFactory: '@sylius.factory.locale'
      $currencyRepository: '@sylius.repository.currency'
      $currencyFactory: '@sylius.factory.currency'

  AppBundle\Command\InitDemoCommand:
    arguments:
      $fixturesLoader: '@fidry_alice_data_fixtures.loader.doctrine'
      $faker: '@nelmio_alice.faker.generator'
      $craueConfig: '@craue_config'
      $configEntityName: '%craue_config.entity_name%'
      $productVariantGenerator: '@sylius.generator.product_variant'
      $taxonFactory: '@sylius.factory.taxon'
      $phoneNumberUtil: '@libphonenumber.phone_number_util'
      $taxCategoryRepository: '@sylius.repository.tax_category'
      $taxCategoryFactory: '@sylius.factory.tax_category'
      $taxCategoryManager: '@sylius.manager.tax_category'
      $taxRateFactory: '@sylius.factory.tax_rate'
      $taxRateManager: '@sylius.manager.tax_rate'

  AppBundle\EventListener\LocaleListener:
    arguments: ['%kernel.default_locale%']
    tags:
      - { name: kernel.event_subscriber }

  AppBundle\EventListener\SeoListener:
    arguments: ['@translator', '@sonata.seo.page.default']
    tags:
      - { name: kernel.event_listener, event: kernel.request }

  AppBundle\EventListener\MaintenanceListener:
    arguments:
      - '@security.authorization_checker'
      - '@security.token_storage'
      - '@crawler_detect'
      - '@snc_redis.default'
      - '@templating'
    tags:
      - { name: kernel.event_listener, event: kernel.request, method: onKernelRequest }

  sylius.context.locale.request_based:
    class: Sylius\Bundle\LocaleBundle\Context\RequestBasedLocaleContext
    arguments: ['@request_stack', '@sylius.locale_provider']
    tags:
      - { name: sylius.context.locale, priority: 128 }

  sylius.context.locale.immutable:
    class: Sylius\Component\Locale\Context\ImmutableLocaleContext
    arguments: ['%sylius_locale.locale%']
    tags:
      - { name: sylius.context.locale, priority: 64 }

  sylius.context.currency.settings_aware:
    class: AppBundle\Sylius\Currency\SettingsAwareCurrencyContext
    arguments: ['@coopcycle.settings_manager']
    tags:
      - { name: sylius.context.currency }

  sylius.order_processing.order_fee_processor:
    class: AppBundle\Sylius\OrderProcessing\OrderFeeProcessor
    arguments:
      - "@sylius.factory.adjustment"
      - "@translator"
    tags:
      - { name: sylius.order_processor, priority: 64 }

  sylius.order_processing.order_options_processor:
    class: AppBundle\Sylius\OrderProcessing\OrderOptionsProcessor
    arguments:
      - "@sylius.factory.adjustment"
    tags:
      - { name: sylius.order_processor, priority: 48 }

  sylius.order_processing.order_taxes_processor:
    class: AppBundle\Sylius\OrderProcessing\OrderTaxesProcessor
    arguments:
      - "@sylius.factory.adjustment"
      - "@sylius.tax_rate_resolver"
      - "@sylius.tax_calculator"
      - "@coopcycle.settings_manager"
      - "@sylius.repository.tax_category"
    tags:
      - { name: sylius.order_processor, priority: 32 }

  sylius.order_processing.order_payment_processor:
    class: AppBundle\Sylius\OrderProcessing\OrderPaymentProcessor
    arguments:
      - "@doctrine"
      - "@sylius.context.currency"
    tags:
      - { name: sylius.order_processor, priority: 16 }

  coopcycle.sylius.factory.product_variant:
    class: AppBundle\Sylius\Product\ProductVariantFactory
    decorates: sylius.factory.product_variant
    arguments:
      - "@coopcycle.sylius.factory.product_variant.inner"
      - "@sylius.repository.product"
      - "@sylius.repository.product_variant"
      - "@sylius.repository.tax_category"
      - "@coopcycle.settings_manager"
      - "@translator"
    public: false

  coopcycle.sylius.factory.order:
    class: AppBundle\Sylius\Order\OrderFactory
    decorates: sylius.factory.order
    arguments:
      - "@coopcycle.sylius.factory.order.inner"
    public: false

  coopcycle.sylius.product_variant_resolver.lazy:
    class: AppBundle\Sylius\Product\LazyProductVariantResolver
    arguments:
      - "@sylius.product_variant_resolver.default"
      - "@sylius.factory.product_variant"
    public: true

  AppBundle\Sylius\Cart\RestaurantCartContext:
    arguments:
      - "@session"
      - "@sylius.repository.order"
      - "@sylius.factory.order"
      - "@coopcycle.repository.restaurant"
      - "%sylius_cart_restaurant_session_key_name%"
    tags:
      - { name: sylius.context.cart, priority: 32 }

  coopcycle.repository.zone:
    class: Doctrine\ORM\EntityRepository
    factory: ['@doctrine.orm.default_entity_manager', getRepository]
    arguments:
      - AppBundle\Entity\Zone

  coopcycle.expression_language.zone.provider:
    public: false
    class: AppBundle\ExpressionLanguage\ZoneExpressionLanguageProvider
    arguments: [ '@coopcycle.repository.zone' ]

  AppBundle\ExpressionLanguage\ExpressionLanguage:
    arguments:
      - null
      - [ "@coopcycle.expression_language.zone.provider" ]

  AppBundle\EventListener\RegistrationListener:
    arguments: ['@router']
    tags:
      - { name: kernel.event_subscriber }

  AppBundle\EventListener\WebAuthenticationListener:
    arguments: ['@sylius.manager.order', '@sylius.context.cart']
    tags:
      - { name: kernel.event_subscriber }

  AppBundle\EventListener\SyliusIdGeneratorSubscriber:
    tags:
      - { name: doctrine.event_subscriber, connection: default }

  AppBundle\EventListener\TaggableSubscriber:
    arguments: [ '@coopcycle.tag_manager' ]
    tags:
      - { name: doctrine.event_subscriber, connection: default }

  AppBundle\Service\DeliveryManager:
    arguments:
      - "@coopcycle.expression_language"

  AppBundle\Utils\PreparationTimeCalculator:
    arguments:
      - {
          'restaurant.state == "rush" and order.itemsTotal < 2000':        '20 minutes',
          'restaurant.state == "rush" and order.itemsTotal in 2000..5000': '30 minutes',
          'restaurant.state == "rush" and order.itemsTotal > 5000':        '45 minutes',
          'order.itemsTotal < 2000':                                       '10 minutes',
          'order.itemsTotal in 2000..5000':                                '15 minutes',
          'order.itemsTotal > 5000':                                       '30 minutes'
        }

  AppBundle\Utils\ShippingTimeCalculator:
    arguments:
      - '@routing_service'

  AppBundle\Utils\ShippingDateFilter:
    arguments:
      - "@coopcycle.preparation_time_calculator"
      - "@coopcycle.shipping_time_calculator"

  AppBundle\Utils\OrderTimelineCalculator:
    arguments:
      - '@coopcycle.preparation_time_calculator'
      - '@coopcycle.shipping_time_calculator'

  AppBundle\Entity\Listener\TaskListener:
    arguments:
      - "@event_bus"
      - "@logger"
    tags:
      - { name: doctrine.orm.entity_listener }

  AppBundle\EventListener\JwtListener:
    tags:
      - { name: kernel.event_listener, event: lexik_jwt_authentication.on_authentication_success, method: onAuthenticationSuccess }

  coopcycle.repository.task:
    class: Doctrine\ORM\EntityRepository
    factory: ['@doctrine.orm.default_entity_manager', getRepository]
    arguments:
      - AppBundle\Entity\Task

  AppBundle\Entity\RestaurantRepository:
    factory: ['@doctrine.orm.default_entity_manager', getRepository]
    arguments:
      - AppBundle\Entity\Restaurant
    calls:
      - method: setRestaurantFilter
        arguments:
            - '@coopcycle.utils.restaurant_filter'

  routing_service:
    public: true
    class: AppBundle\Service\Routing\Osrm
    arguments:
      - '@csa_guzzle.client.osrm'

  AppBundle\Filter\OrderDateFilter:
    tags: [ 'api_platform.filter' ]

  AppBundle\Api\Filter\DateFilter:
    tags: [ 'api_platform.filter' ]

  AppBundle\Api\Filter\UserRoleFilter:
    tags: [ 'api_platform.filter' ]

  AppBundle\Api\Filter\TaskFilter:
    arguments: [ '@doctrine', '@request_stack', '@?logger', { tokenStorage: '@security.token_storage' } ]
    tags: [ 'api_platform.filter' ]

  AppBundle\Api\Filter\AssignedFilter:
    arguments: [ '@doctrine', '@request_stack', '@?logger', { tokenStorage: '@security.token_storage' } ]
    tags: [ 'api_platform.filter' ]

  swiftmailer.transport.eventdispatcher.mailjet:
    class: Swift_Events_SimpleEventDispatcher

  swiftmailer.mailer.transport.mailjet:
    class: Mailjet\MailjetSwiftMailer\SwiftMailer\MailjetTransport
    arguments:
        - "@swiftmailer.transport.eventdispatcher.mailjet"
        - "%mailjet.api_key%"
        - "%mailjet.secret_key%"

  swiftmailer.mailer.default.transport.mailjet: '@swiftmailer.mailer.transport.mailjet'
  mailjet: '@swiftmailer.mailer.default.transport.mailjet'

  AppBundle\Service\MailLoggerService:
    arguments: ["@logger"]
    tags:
      - { name: monolog.logger, channel: mailer }
      - { name: "swiftmailer.default.plugin" }

  coopcycle.metrics_helper:
    class: AppBundle\Utils\MetricsHelper
    arguments:
      - "%database_name%"
      - "@m6_statsd"

  coopcycle.web_success_handler:
    class: AppBundle\EventListener\AuthenticationWebSuccessHandler
    arguments: ['@security.http_utils', '@router']

  coopcycle.user_manager:
    parent: fos_user.user_manager.default
    autowire: false
    autoconfigure: false
    public: true
    class: AppBundle\Security\UserManager

  AppBundle\Service\SettingsManager:
    arguments:
      - "@craue_config"
      - "%craue_config.entity_name%"
      - "@doctrine"
      - "@libphonenumber.phone_number_util"
      - "%country_iso%"
      - "@logger"

  AppBundle\Service\EmailManager:
    arguments:
      - "@mailer"
      - "@templating"
      - "@translator"
      - "@coopcycle.settings_manager"
      - "%transactional_address%"

  AppBundle\Service\RemotePushNotificationManager:
    arguments:
      - "@csa_guzzle.client.fcm"
      - "@apns_php.push"
      - "%apns_certificate_pass_phrase%"
      - "%fcm_server_api_key%"

  AppBundle\Service\Geocoder:
    arguments:
      - "@coopcycle.settings_manager"
      - "%country_iso%"
      - "%kernel.default_locale%"

  AppBundle\EventListener\TaskCollectionSubscriber:
    arguments: [ '@event_dispatcher', '@routing_service', '@logger' ]
    tags:
      - { name: doctrine.event_subscriber, connection: default }

  AppBundle\EventListener\TaskSubscriber:
    arguments: [ '@event_bus', '@coopcycle.domain.event_store', '@logger' ]
    tags:
      - { name: doctrine.event_subscriber, connection: default }

  AppBundle\Api\EventSubscriber\RemotePushTokenSubscriber:
    arguments:
        - '@security.token_storage'
        - '@doctrine'
        - '@logger'
    tags: [ 'kernel.event_subscriber' ]

  AppBundle\Api\EventSubscriber\PricingSubscriber:
    arguments:
        - '@coopcycle.delivery.manager'
        - '@routing_service'
        - '@coopcycle.geocoder'
        - '@security.token_storage'
    tags: [ 'kernel.event_subscriber' ]

  AppBundle\Api\EventSubscriber\RestaurantSubscriber:
    arguments:
        - '@api_platform.item_data_provider'
        - '@api_platform.security.listener.request.deny_access'
    tags: [ 'kernel.event_subscriber' ]

  AppBundle\Api\EventSubscriber\DeliverySubscriber:
    arguments:
        - '@doctrine'
        - '@security.token_storage'
    tags: [ 'kernel.event_subscriber' ]

  AppBundle\Action\Settings:
    arguments:
      - '@coopcycle.settings_manager'
      - '%country_iso%'
      - '%kernel.default_locale%'

  AppBundle\Security\StoreTokenAuthenticator:
    parent: lexik_jwt_authentication.jwt_token_authenticator.not_expiring
    autowire: false
    autoconfigure: false
    public: true
    arguments: [ '@doctrine' ]

  # The services below are needed to generate tokens that never expire
  # @see https://github.com/lexik/LexikJWTAuthenticationBundle/issues/521

  lexik_jwt_authentication.jws_provider.not_expiring:
    public: true
    parent: Lexik\Bundle\JWTAuthenticationBundle\Services\JWSProvider\JWSProviderInterface
    autowire: false
    autoconfigure: false
    arguments:
      index_3: ~

  lexik_jwt_authentication.encoder.not_expiring:
    parent: lexik_jwt_authentication.encoder
    autowire: false
    autoconfigure: false
    public: true
    arguments:
      index_0: '@lexik_jwt_authentication.jws_provider.not_expiring'

  lexik_jwt_authentication.jwt_manager.not_expiring:
    parent: lexik_jwt_authentication.jwt_manager
    autowire: false
    autoconfigure: false
    public: true
    arguments:
      index_0: '@lexik_jwt_authentication.encoder.not_expiring'

  lexik_jwt_authentication.jwt_token_authenticator.not_expiring:
    parent: lexik_jwt_authentication.jwt_token_authenticator
    autowire: false
    autoconfigure: false
    public: true
    arguments:
      index_0: '@lexik_jwt_authentication.jwt_manager.not_expiring'

  AppBundle\Security\StoreTokenManager:
    arguments:
      - '@security.token_storage'
      - '@lexik_jwt_authentication.jwt_manager.not_expiring'
      - '@event_dispatcher'

  AppBundle\EventListener\EnabledFilterConfigurator:
    arguments:
      - "@doctrine.orm.entity_manager"
      - "@security.token_storage"
      - "@coopcycle.repository.restaurant"
      - "@annotation_reader"
    tags:
      - { name: kernel.event_listener, event: kernel.request, priority: 5 }

  AppBundle\Api\DataProvider\RestaurantCollectionDataProvider:
    arguments:
      $managerRegistry: '@doctrine'
      $collectionExtensions: !tagged api_platform.doctrine.orm.query_extension.collection
      $restaurantFilter: '@coopcycle.utils.restaurant_filter'
    tags:
      - { name: 'api_platform.collection_data_provider', priority: 2 }
    autoconfigure: false

  AppBundle\Utils\RestaurantFilter:
    arguments:
      - '@routing_service'
      - '@coopcycle.expression_language'

  AppBundle\Sylius\Order\OrderNumberAssigner:
    decorates: 'sylius.order_number_assigner'

  AppBundle\Utils\OrderTextEncoder:
    arguments:
      - '@templating'
