.new-order, .delivery-form {
  display: flex;
  flex-wrap: wrap;
  
}

.new-order {
  justify-content: space-around;
  gap: 2em;
  
  &__item {
    max-width: 400px;
  }
}

.delivery-form {
  justify-content: space-around;

}

.order-informations {
  align-self: start;
  position: sticky;
  top:0;
  min-width: 300px;
}


@media (max-width: 1200px) {

  .delivery-form{
    flex-wrap:nowrap
  }

  .order-informations {
    min-width: 200px
  }

  .new-order{
    flex-direction: column;
  }


}

@media (max-width: 768px){
  .delivery-form{
    flex-direction: column;
    align-items: center;
    gap: 2em
  }

  .order-informations{

    width: 100%;
    text-align: center;
  }
}