.delivery-form {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  padding: 2em;
}

.new-order {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  width: 65%;
  flex-wrap: wrap;
  overflow: hidden;
  
  &__pickups, &__dropoffs {
    width: 47%;
  }
}

.delivery-form {
  justify-content: space-around;
}

.order-informations {
  align-self: start;
  position: sticky;
  top:0;
  width: 30%;

  &__tracking{
    background-color: #f3f2f2f8;
    border-color: #cac8c8;
    color: #6c6a6a;

    a {
      color:#6c6a6a;
    }
  }

}


@media (max-width: 1250px) {

  .delivery-form{
    flex-wrap:nowrap
  }

  .order-informations {
    min-width: 40%
  }

  .new-order{
    flex-direction: column;
    justify-content: start;

    &__pickups, &__dropoffs {
      width: 100%;
    }
  }
}

@media (max-width: 720px){
  .delivery-form{
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .new-order {
    margin-top: 2em;
    width: 100%;
  }

  .order-informations{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__map {
      width: 100%
    }

    &__tracking {
      width: 100%;
      text-align: start;
    }
  }
}

.delivery-spinner {
  width: 100%;
  height: 32rem;
  display: flex;
  justify-content: center;
  align-items: center;

  .loader{
    width: 15rem;
    height: 15rem;
    border-width: 1rem;
    margin: auto;
  }
}
