{% extends layout %}

{% block dashboard_subnav %}
  <div>
    <a href="{{ path(back_route) }}">
      <i class="fa fa-arrow-left mr-2"></i>{{ 'stores.deliveries'|trans }}
    </a>
  </div>
{% endblock %}


{% block content %}

  {% include 'delivery/_partials/navbar.html.twig' %}

  {% block alerts %}
  {% endblock %}


  {% set is_new = delivery.id is null %}

  <div {{ react_component('Delivery/DeliveryForm', { storeId: store.id, deliveryId: delivery.id|default(null) }) }}></div>
{% endblock %}
