{% extends 'delivery/form.html.twig' %}

{% block breadcrumb %}

  <li><a href="{{ path(stores_route) }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
  <li><a href="{{ path(store_route, { id: store.id }) }}">{{ store.name }}</a></li>
  <li>{% trans %}orders.new{% endtrans %}</li>

{% endblock %}

{% if is_granted('ROLE_DISPATCHER') %}
  {% set title = 'orders.new'|trans %}
{% endif %}
