{% extends "@App/base.html.twig" %}

{% block body %}
  {% block fos_user_content %}
  <div class="container">
  {% include "@FOSUser/Registration/register_content.html.twig" %}
  </div>
  {% endblock fos_user_content %}
{% endblock %}
