{% if layout == 'dashboard.html.twig' and is_granted('ROLE_STORE') and store is defined %}
  <div class="d-flex align-items-center justify-content-between">
    <a href="{{ path('dashboard_store_addresses', { id: store.id }) }}" class="btn btn-default">
      <i class="fa fa-address-book-o mr-2"></i>
      <span>{{ 'store.address_book'|trans }}</span>
    </a>
    {% if with_new_button is not defined or with_new_button %}
    <a href="{{ path('dashboard_store_delivery_new', { id: store.id }) }}" class="btn btn-success">
      <i class="fa fa-plus mr-2"></i>
      <span>{{ 'delivery.createNew'|trans }}</span>
    </a>
    {% endif %}
  </div>
{% endif %}
