.dotstyle li a {
    background-color: #bdc3c7;
    background-color: rgba(#bdc3c7, 0.3);
}

.dotstyle-scaleup li a:hover,
.dotstyle-scaleup li a:focus {
    background-color: darken(#bdc3c7, 10%);
}

.dotstyle-scaleup li.current a {
    background-color: darken(#bdc3c7, 10%);
}
