<ol class="breadcrumb">
  <li><a href="{{ path('embed_delivery_start', { hashid: hashid }) }}">{{ 'embed.breadcrumb.start'|trans }}</a></li>
  <li>{{ 'embed.breadcrumb.summary'|trans }}</li>
  <li>{{ 'embed.breadcrumb.confirm'|trans }}</li>
</ol>
