<header class="flex justify-center">
  <ol class="steps w-full">
    <li class="step step-primary"><a href="{{ path('embed_delivery_start', { hashid: hashid }) }}">{{ 'embed.breadcrumb.start'|trans }}</a></li>
    <li class="step {% if step >= 2 %}step-primary{% endif %}">{{ 'embed.breadcrumb.summary'|trans }}</li>
    <li class="step">{{ 'embed.breadcrumb.confirm'|trans }}</li>
  </ol>
</header>
