{% extends "deliveries.html.twig" %}

{% block breadcrumb %}
<li><a href="{{ path('admin_api_apps') }}">{{ 'api_apps.breadcrumb'|trans }}</a></li>
{% endblock %}

{% block content %}
<p class="text-right">
  <a href="{{ path('admin_new_api_app') }}" class="btn btn-success">
    <i class="fa fa-plus"></i> {% trans %}basics.add{% endtrans %}
  </a>
</p>
{% include '_partials/api_app/list.html.twig' %}
{% endblock %}

{% block scripts %}
<script>
new ClipboardJS('[data-toggle="copy"]');
</script>
{% endblock %}
