{% extends "deliveries.html.twig" %}

{% block breadcrumb %}
{{ parent() }}
<li>{% trans %}adminDashboard.incidents.title{% endtrans %}</li>
{% endblock %}

{% block content %}
  <div class="text-right mb-4">
    <a href="" class="btn btn-success">
      <i class="fa fa-plus"></i> {% trans %}adminDashboard.incidents.createNew{% endtrans %}
    </a>
  </div>
<div {{ react_component('Incident/List') }}></div>
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('incident-form') }}
{% endblock %}

{% block scripts %}
{{ encore_entry_script_tags('incident-form') }}
{% endblock %}
