{% extends "deliveries.html.twig" %}

{% block prepare_title %}
  {{ add_title_prefix('integrations.breadcrumb'|trans) }}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('admin_integrations') }}">{{ 'integrations.breadcrumb'|trans }}</a></li>
{% endblock %}

{% block content %}
<ul>
  <li>
    <a href="{{ path('admin_integrations_woopit') }}">
      Woopit
    </a>
  </li>
</ul>
{% endblock %}
