{% extends "deliveries.html.twig" %}

{% block prepare_title %}
  {{ add_title_prefix('adminDashboard.invoicing.title'|trans) }}
{% endblock %}

{% block breadcrumb %}
<li>{{ 'adminDashboard.invoicing.title'|trans }}</li>
{% endblock %}

{% block content %}
  <div id="invoicing" {{ react_component('admin/invoicing/page') }}></div>
{% endblock %}
