{% extends "admin.html.twig" %}

{% block breadcrumb %}
<li><a href="{{ path('admin_users') }}">{% trans %}adminDashboard.users.title{% endtrans %}</a></li>
<li>{{ user.username }}</li>
{% endblock %}

{% block content %}
  <h2 class="page-header">
    {% trans with { '%username%': user.username } %}User %username%{% endtrans %}
    {% if is_granted('edit', user) %}
    <a class="btn btn-success pull-right" href="{{ path('admin_user_edit', { username: user.username }) }}">
      <i class="fa fa-pencil" aria-hidden="true"></i>  {% trans from 'messages' %}Edit{%  endtrans %}
    </a>
    {% endif %}
  </h2>
  {% include "profile/profile.html.twig" %}
{% endblock %}
