{% extends "deliveries.html.twig" %}

{% block prepare_title %}
  {{ add_title_prefix('vehicles.breadcrumb'|trans) }}
{% endblock %}

{% block breadcrumb %}
<li><a href="{{ path('admin_vehicles') }}">{{ 'vehicles.breadcrumb'|trans }}</a></li>
{% endblock %}

{% block content %}
  <div id="vehicles-admin-app" {{ react_component('FleetManagement/VehiclesList') }}></div>
{% endblock %}
