<ol class="breadcrumb">
  <li>Commande</li>
  <li><a href="{{ path(checkout_customer_route, { id: restaurant.id }) }}">Client</a></li>
  <li><a href="{{ path(checkout_address_route, { id: restaurant.id }) }}">Adresse</a></li>
</ol>
