.quantity-change-button {
  min-width: 3rem;
  min-height: 3rem;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    min-width: 2rem;
    min-height: 2rem;
    background-color: var(--color-base-200);
    color: var(--color-base-content);
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: var(--color-base-300);
    }
  }
}
