{% extends "AppBundle::admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}Dashboard{% endtrans %}</li>
{% endblock %}

{% block content %}
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="/tracking"></iframe>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}