{% extends "@App/admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.dashboard.title{% endtrans %}</li>
{% endblock %}

{% block content %}
<p class="text-right">
  <a class="btn btn-sm btn-success" href="{{ path('admin_dashboard_fullscreen', { date: date|date('Y-m-d') }) }}">
    <i class="fa fa-arrows-alt" aria-hidden="true"></i>  Fullscreen
  </a>
</p>
<div class="embed-responsive embed-responsive-16by9" style="border: 1px solid #000;">
  <iframe class="embed-responsive-item" src="{{ path('admin_dashboard_fullscreen', { date: date|date('Y-m-d'), nav: 'off' }) }}"></iframe>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
