{% extends "AppBundle::admin.html.twig" %}

{% block body %}
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" src="/tracking"></iframe>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}