{% extends "AppBundle::admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}Dashboard{% endtrans %}</li>
{% endblock %}

{% block content %}
<div class="embed-responsive embed-responsive-16by9" style="border: 1px solid #000;">
  <iframe class="embed-responsive-item" src="{{ path('admin_dashboard_fullscreen') }}"></iframe>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
