{% extends "AppBundle::base.html.twig" %}

{% block body %}
<div class="row">

  <div class="col-xs-12">



  </div>

  {# <div class="col-xs-12 col-sm-4">
    <h2>Panier</h2>
    <div id="cart"></div>
    <hr>
    <a href="{{ path('order') }}" class="btn btn-block btn-primary">Commander</a>
  </div> #}

</div>
{% endblock %}

{% block scripts %}
{% endblock %}