{% extends "AppBundle::admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.menuCategories.menu{% endtrans %}</li>
<li>{% trans %}adminDashboard.menuCategories.categories{% endtrans %}</li>
{% endblock %}

{% block content %}
<table class="table">
<tbody>
{% for category in categories %}
<tr>
  <td>#{{ category.id }}</td>
  <td>{{ category.name }}</td>
</tr>
{% endfor %}
</tbody>
</table>
<a href="{{ path('admin_menu_category_new') }}" class="btn btn-success">{% trans %}adminDashboard.menuCategories.addCategory{% endtrans %}</a>
{% endblock %}

{% block scripts %}
{% endblock %}
