{% extends "AppBundle::admin.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.menuCategories.menu{% endtrans %}</li>
<li>{% trans %}adminDashboard.menuCategories.categories{% endtrans %}</li>
<li>{% trans %}adminDashboard.menuCategories.addCategory{% endtrans %}</li>
{% endblock %}

{% block content %}
{{ form_start(form) }}
  {{ form_row(form.name) }}
  {{ form_row(form.description) }}
  <button type="submit" class="btn btn-block btn-primary">{% trans %}adminDashboard.menuCategories.save{% endtrans %}</button>
{{ form_end(form) }}
{% endblock %}

{% block scripts %}
{% endblock %}
