{% extends "AppBundle::admin.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
{{ form_start(form, { action: path('admin_order_new_address') }) }}

  {# <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">Client</div>
        <div class="panel-body">
          <div id="user-search"></div>
          {{ form_widget(form) }}
          <hr>
          <button type="submit" class="btn btn-block btn-primary">Continuer</button>
        </div>
      </div>
    </div>
  </div> #}

  {{ dump(form.customer) }}

{{ form_end(form) }}
{% endblock %}

{% block scripts %}

{% endblock %}
