{% extends "AppBundle::admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}Restaurants{% endtrans %}</li>
{% endblock %}

{% block content %}
{% include "AppBundle:Admin:pagination.html.twig" %}
{% include "AppBundle:Restaurant:list-admin.html.twig" %}
{% include "AppBundle:Admin:pagination.html.twig" %}
<a href="{{ path('admin_restaurant_new') }}" class="btn btn-success"><i class="fa fa-plus"></i> {% trans %}Add a restaurant{% endtrans %}</a>
{% endblock %}

{% block scripts %}
{% endblock %}
