{% extends "AppBundle::admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}Restaurants{% endtrans %}</li>
{% endblock %}

{% block content %}
{% include "AppBundle:Admin:pagination.html.twig" %}
{% include "AppBundle::_partials/Restaurant/list.html.twig" %}
{% include "AppBundle:Admin:pagination.html.twig" %}
<a href="{{ path('admin_restaurant_new') }}" class="btn btn-success">
  <i class="fa fa-plus"></i> {% trans %}Create a new restaurant{% endtrans %}
</a>
{% endblock %}

{% block scripts %}
  <script src="{{ asset('js/widgets/opening-hours-parser.js') }}"></script>
  <script>
  document.querySelectorAll('.restaurant-opening-hours').forEach(function(el) {
    new CoopCycle.OpeningHoursParser(el, {
      openingHours: JSON.parse(el.getAttribute('data-opening-hours')),
      locale: $('html').attr('lang')
    })
  })
  </script>
{% endblock %}
