{% extends "AppBundle::admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}Stores{% endtrans %}</li>
{% endblock %}

{% block content %}
  <a href="{{ path('admin_store_new') }}" class="btn btn-success float-right margin-bottom-md"><i class="fa fa-plus"></i> {% trans %}Create a new store{% endtrans %}</a>
  {% include "AppBundle:Store:list.html.twig" %}
{% endblock %}

{% block scripts %}
  <script src="{{ asset('js/widgets/opening-hours-parser.js') }}"></script>
  <script>
    document.querySelectorAll('.store-opening-hours').forEach(function(el) {
      new CoopCycle.OpeningHoursParser(el, {
        openingHours: JSON.parse(el.getAttribute('data-opening-hours')),
        locale: $('html').attr('lang')
      })
    })
  </script>
{% endblock %}
