{% extends "@App/admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.taxation.title{% endtrans %}</li>
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <th>{{ 'sylius.form.tax_category.name'|trans }}</th>
    <th class="text-right">{{ 'sylius.form.tax_rate.amount'|trans }}</th>
  </thead>
  <tbody>
  {% for category in categories %}
  <tr>
    <td>
      {{ category.name }}
    </td>
    <td class="text-right">{{ (category.rate.amount * 100)|number_format(2, '.', ',') }} %</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}

{% block scripts %}
{% endblock %}
