{% extends "AppBundle::admin.html.twig" %}

{% block body %}
<div class="row">

  <div class="col-xs-12">
    <div class="text-center">
      <iframe src="/tracking" width="800" height="600" frameborder="0" hspace="0" vspace="0" marginheight="0" marginwidth="0"></iframe>
    </div>
  </div>

</div>
{% endblock %}

{% block scripts %}
{% endblock %}