{% extends "@App/admin.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block breadcrumb %}
  <li><a href="{{ path('admin_users') }}">{% trans %}adminDashboard.users.title{% endtrans %}</a></li>
  <li>{% trans %}adminDashboard.users.createNew{% endtrans %}</li>
{% endblock %}

{% block content %}
  <h2 class="page-header">
    {% trans %}adminDashboard.users.createNew{%  endtrans %}
  </h2>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-block btn-primary">{% trans %}adminDashboard.users.save{% endtrans %}</button>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
