[program:osrm_{{ osrm_server.name }}]
command=docker run -t -p {{ osrm_server.port }}:{{ osrm_server.port }} -v {{ osrm_server.root_dir }}:/data osrm/osrm-backend osrm-routed -p {{ osrm_server.port }} /data/data.osrm
user=root
