<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#order-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">Commande {{ order.number }} (#{{ order.id }})</a>
    </div>
    <div class="collapse navbar-collapse" id="order-navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a>{% include '@App/_partials/order/state.html.twig' %}</a></li>
        <li><a>Dernière modification le {{ order.updatedAt|localizeddate('medium', 'short') }}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#delivery">Livraison</a></li>
        <li><a href="#payments">Paiements</a></li>
      </ul>
    </div>
  </div>
</nav>
