@import "~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";

.ReactModal__Overlay--termsAndPolicy {
  z-index: 2;
}

.ReactModal__Content--termsAndPolicy {
  max-height: 482px;
  @media (min-width: $screen-lg-min) {
    width: 50%;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 66%;
  }
  @media (max-width: $screen-xs-max) {
    width: calc(100% - 30px);
  }
}

.legal {
  font-size: $font-size-large;
  letter-spacing: 0.02em;
  h1, h2, h3, h4 {
    font-weight: 700;
  }
}

.legal-text {
  max-height: 350px;
  overflow: auto;
}

.help {
  font-size: 12px;
  color: #6B6B6B;
}

.btn-agree {
  background-color: #E4022D;
  color: #F2F2F3;

  .inactive {
    background-color: #FF7A94;
  }

  &:hover {
    color: #F2F2F3;
  }
}

.btn-default {
  border-color: transparent;
  color: #6B6B6B;

  &:hover {
    border-color: transparent;
    background-color: #f9f9f9;
  }
}

.bottom {
  min-height: 8px;
  background-color: transparent;
  color: transparent;
}
