html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.navbar--dashboard {
  margin-bottom: 0;
}

.dashboard {

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  width: 100%;
  height: 100%;

  &--with-nav {
    height: calc(100% - 50px);
  }

  padding: 0;
  margin: 0;

  &__map, &__aside, &__map-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }

  &__map {
    padding-bottom: 50px;
    position: relative;
  }
  &__map-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  &__toolbar-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    .navbar {
      margin-bottom: 0;
    }
  }

  &__panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    flex-direction: column;
    > h3, > h4 {
      padding: 15px;
      margin: 0;
      background-color: #95A5A6;
      color: #fff;
    }
    .dashboard__panel__scroll {
      overflow: auto;
    }
  }

  &__map {
    -webkit-box-flex: 7.5;
    -webkit-flex: 7.5;
    -ms-flex: 7.5;
    flex: 7.5;
  }

  &__aside {

    -webkit-box-flex: 2.5;
    -webkit-flex: 2.5;
    -ms-flex: 2.5;
    flex: 2.5;

    -webkit-flex-direction: column;
    flex-direction: column;

    font-size: 11px;

    &-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      -webkit-flex-direction: column;
      flex-direction: column;
    }

    .dashboard__panel {
      h4 > a {
        color: #fff;
        &:hover, &:active {
          color: darken(#fff, 15%);
          text-decoration: none;
        }
      }
    }

    .dropzone {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background-color: lighten(#F39C12, 30%);
      border: 3px dashed #F1C40F;

      &--over {
        background-color: lighten(#F39C12, 30%);
        border: 3px dashed #E74C3C;

        .dropzone-item {
          display: none;
        }

      }
      &--loading {
        background-color: lighten(#F39C12, 30%);
        border: 3px dashed #E74C3C;
        .dropzone-item {
          display: none;
        }
      }
      .list-group-item {
        background-color: transparent;
      }
      .dropzone-item {
        border-width: 0;
      }
    }
  }
}

.list-group-item {
  font-size: 11px;
  position: relative;
  padding-right: 60px;
  cursor: pointer;
  color: #fff;
  a {
    color: #fff;
  }
  &--pickup {
    background-color: lighten(#3498DB, 15%);
  }
  &--pickup:hover {
    background-color: lighten(#3498DB, 5%);
  }
  &--dropoff {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    background-color: lighten(#2ECC71, 15%);
  }
  &--dropoff:hover {
    background-color: lighten(#2ECC71, 5%);
  }
  &--done {
    opacity: 0.6;
  }
  &--failed {
    background-color: lighten(#E74C3C, 15%);
  }
  &--failed:hover {
    background-color: lighten(#E74C3C, 5%);
  }
}

.task__streetAddress {
  display: inline-block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task__icon {
  font-size: 16px;
  line-height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  &--right {
    right: 15px;
  }
  &--left {
    right: 40px;
  }
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

#map {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 0;
  padding: 0;
  z-index: 0;
}

#date-picker {
  margin: 9px 0;
}

#task_edit_history {
  padding-top: 10px;
}
