/* http://google-webfonts-helper.herokuapp.com */

/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* open-sans-semibold - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v17-latin/open-sans-v17-latin-semibold.eot');
  src: url('../fonts/open-sans-v17-latin/open-sans-v17-latin-semibold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/open-sans-v17-latin/open-sans-v17-latin-semibold.woff2') format('woff2'),
      url('../fonts/open-sans-v17-latin/open-sans-v17-latin-semibold.woff') format('woff'),
      url('../fonts/open-sans-v17-latin/open-sans-v17-latin-semibold.ttf') format('truetype'),
      url('../fonts/open-sans-v17-latin/open-sans-v17-latin-semibold.svg#open-sans-v17-latin-semibold') format('svg');
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v17-latin/open-sans-v17-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/open-sans-v17-latin/open-sans-v17-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v14-latin/raleway-v14-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('../fonts/raleway-v14-latin/raleway-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v14-latin/raleway-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v14-latin/raleway-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v14-latin/raleway-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v14-latin/raleway-v14-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway-v14-latin/raleway-v14-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('../fonts/raleway-v14-latin/raleway-v14-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v14-latin/raleway-v14-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v14-latin/raleway-v14-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v14-latin/raleway-v14-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v14-latin/raleway-v14-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* roboto-mono-regular - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-mono-v7-latin/roboto-mono-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
       url('../fonts/roboto-mono-v7-latin/roboto-mono-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-mono-v7-latin/roboto-mono-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-mono-v7-latin/roboto-mono-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-mono-v7-latin/roboto-mono-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-mono-v7-latin/roboto-mono-v7-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}
/* roboto-mono-700 - latin */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-mono-v7-latin/roboto-mono-v7-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'),
       url('../fonts/roboto-mono-v7-latin/roboto-mono-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-mono-v7-latin/roboto-mono-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-mono-v7-latin/roboto-mono-v7-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-mono-v7-latin/roboto-mono-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-mono-v7-latin/roboto-mono-v7-latin-700.svg#RobotoMono') format('svg'); /* Legacy iOS */
}
