@import "./vars.scss";
@import "~font-awesome/scss/_variables.scss";
@import "~font-awesome/scss/_mixins.scss";
@import "~font-awesome/scss/_animated.scss";


.react-autosuggest__container {
  position: relative;

  &:after {
    @include fa-icon();
    content: $fa-var-spinner;
    @extend .fa-pulse;
    display: block;
    position: absolute;
    top: calc(50% - 7px);
    right: $padding-base-horizontal;
    display: none;
  }
}

.react-autosuggest__container--loading {
  &:after {
    display: inline;
  }
}

.react-autosuggest__suggestions-container {
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2000!important;
}

.react-autosuggest__suggestions-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  border: 1px solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #eee;
}
