html, body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  min-height: 100%;
  @media screen and (min-width: $screen-md-min) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.content {
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.h2 {
  @media screen and (max-width: $screen-md-min) {
    margin-bottom: 10px;
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.container--full-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container--center {
  align-items: center;
  justify-content: center;
}

.row--full-height {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  padding: $base-margin 0;
  margin-top: $base-margin-l;
  background-color: #212121;
  color: $white;

  a.footer-link {
    color: $white;
  }

  @media screen and (max-width: $screen-md-min) {
    display: none;
  }
}

.btn-google-play {
  display: inline-block;
  width: 180px;
  margin-right: -12px;
  & > img {
    display: inline-block;
    width: 100%;
  }
}

.navbar-brand {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.navbar-brand.navbar-brand-img {
  padding-top: 10px;
  padding-bottom: 10px;
  img {
    height: 30px;
  }
}

.navbar-coopcycle {
  background-color: #ffffff;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid #ecf0f1;
}

.page-header {
  margin: 0 0 10px;

  @media screen and (max-width: $screen-md-min) {
    padding-bottom: 0;
    margin: 0 0 10px;

    h1 {
      margin: 0 0 10px;
    }
  }

  & ~ .table > tbody > tr:first-child > td {
    border-top: none;
  }
}

.maintenance {
  @extend .alert;
  @extend .alert-danger;
  text-align: center;
  padding: 40px;
}

/* Vertically centered modal */
/* @see https://stackoverflow.com/questions/18422223/bootstrap-3-modal-vertical-position-center */
/* @see https://codepen.io/dimbslmh/full/mKfCc */

.modal {
  text-align: center;
}

@media screen and (min-width: $screen-sm-min) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal {
  @media (max-width: $screen-xs-max) {
    .modal-dialog {
      width: calc(100% - 20px);
    }
  }
}

// ------------------ Admin ------------------

.navbar--admin {
  .navbar-nav.navbar-right {
    @media (max-width: 1480px) {
      .navbar-label {
        display: none;
      }
    }
  }
}

.label {
  font-weight: 400;
}

.banner-title {
  color: $white;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 60px;
  @media (max-width: $screen-xs-max) {
    font-size: 26px;
    text-align: center;
  }
}

.banner-search {
  margin-top: $bs-base-margin * 2;
  @media (max-width: $screen-xs-max) {
    margin-top: 0;
  }
}

.banner {
  padding: 10px 0;
  background-color: $orange;
  color: #fff;
  margin-top: -20px;
  margin-bottom: 20px;
  a {
    color: $light-orange;
  }
  &-message {
    p {
      display: inline;
    }
  }
}

.flash-messages {
  margin-top: -20px;
  margin-bottom: 20px;
  .alert {
    margin-bottom: 0;
  }
}

.homepage-search {
  position: relative;
  margin-top: -20px;
  background-color: $main-blue-light;
  background-image: url(../pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  &-container {
    position: relative;
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: center;
    @media (max-width: $screen-sm-max) {
      width: 80%;
    }
  }
  margin-bottom: 50px;
}

.homepage-map {
  margin-bottom: -40px;
  color: #ccc;
}

.homepage-searchbox-container {
  position: absolute;
  bottom: -40px;
  width: 100%;
  left: 0;
}

.homepage-searchbox {

  padding: 20px 25px;
  background-color: #ffff;
  border-radius: 12px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);

  .address-autosuggest__container {
    margin: 0;
  }

}

.restaurant-show-more {
  font-size: $font-size-large;
  color: #585858;
  text-decoration: underline;
  text-align: right;
  &:hover {
    color: lighten(#585858, 10%);
  }
}

.dashboard-subnav {
  background-color: #ECFFFD;
  border-bottom: 1px solid #BDFFF6;
  margin-top: -20px;
  h3 {
    color: white;
  }
  .navbar {
    .navbar-toggle {
      background-color: darken(#ECFFFD, 50%);
      border-color: white;
      .icon-bar {
        background-color: white;
      }
    }
  }
}

.dashboard-actions {
  background-color: #ededed;
  border-bottom: 1px solid darken(#ededed, 10%);
}

.btn-payment > .fa-spinner {
  display:none;
}

.btn-payment__loading > .fa-spinner {
  display:inline-block;
}

.ant-calendar-picker {
  margin-right: 5px;
}

.ant-form-item {
  margin-bottom: 0;
}

// ------------------ React Modal ------------------

// Copy default styles to be able to use overlayClassName prop
// @see https://github.com/reactjs/react-modal/tree/master/docs/styles
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  // min-width: 50%;
}

// Prevent scroll on html/body
// https://github.com/reactjs/react-modal/blob/master/docs/styles/classes.md#for-the-documentbody-and-html-tag
.ReactModal__Html--open,
.ReactModal__Body--open {
  overflow: hidden;
}

.text-monospace {
  font-family: "Roboto Mono", "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.bike-icon {

  $icon-size: 48px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: $icon-size;
  height: $icon-size;
  margin: 0 auto;

  &--bike {
    background-image: url(../svg/noun_1149947_cc.svg);
  }

  &--cargo_bike {
    background-image: url(../svg/noun_1149946_cc.svg);
  }
}

.btn-group--vehicle {
  width: 100%;
  > label {
    min-width: 50%;
  }
}

.btn-transparent {
  background: transparent;
}

.map-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  &__map {
    flex: 1;
  }
}

.btn-facebook {
  background: #3B5998;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #263961;
}

.login-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  &__content {
    min-width: 100%;
  }
}
.btn-facebook:link, .btn-facebook:visited {
  color: #fff;
}
.btn-facebook:active, .btn-facebook:hover {
  background: #263961;
  color: #fff;
}

.restaurant-pledge__image {
  max-width: 66.6666%;
}

.button-icon {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  appearance: none;
}

.about-us {
  font-size: $font-size-large;
  letter-spacing: 0.02em;
  h1, h2, h3, h4 {
    font-weight: 700;
  }
  table {
    @extend .table;
    @extend .table-bordered;
  }
}

.checkout-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 3;
}

.table-order-items {
  tbody tr,
  tfoot tr {
    td:last-child {
      font-family: "Roboto Mono", monospace;
    }
  }
}

.homepage-zerowaste {
  background-color: #00DD61;
  color: lighten(#00DD61, 50%);
  a {
    font-size: $font-size-large;
    color: lighten(#00DD61, 50%);
    text-decoration: none;
  }
}

// https://github.com/coopcycle/coopcycle-web/issues/3296
.leaflet-container {
  font-size: 12px;
}
