html, body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.h2 {
  @media screen and (max-width: $screen-md-min) {
    margin-bottom: 10px;
  }
}

.main-container {
  min-height: 400px;
}

.container--full-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.row--full-height {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  padding: $base-margin 0;
  margin-top: $base-margin-l;
  background-color: $main-blue;

  a.footer-link {
    color: $white;
    margin: 0 $base-margin-s;
  }

  @media screen and (max-width: $screen-md-min) {
    display: none;
  }
}

.navbar-brand {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.page-header {
  margin: 0 0 10px;

  @media screen and (max-width: $screen-md-min) {
    padding-bottom: 0;
    margin: 0 0 10px;

    h1 {
      margin: 0 0 10px;
    }
  }

  & ~ .table > tbody > tr:first-child > td {
    border-top: none;
  }
}

// ------------------ Admin ------------------

.admin-navbar__help {
  border-left: 1px solid grey;
}

.restaurant-header {
  h1 {
    display: inline-block;
  }
}

.store-opening-hours {
  width: 35%;
}

// ------------------ Help ------------------

.help-nav__item {

  &:hover {
    text-decoration: none;
  }

  .list-group-item {
    font-size: 14px;
    color: $main-blue;

    &:hover {
      color: white;
      background-color: $main-blue-light;
      text-decoration: none;
    }
  }
}

.label {
  font-weight: 400;
}

.banner-title {
  color: $white;
  font-weight: 700;
  margin-bottom: $bs-base-margin;
}

.banner-search {
  margin-top: $bs-base-margin * 2;
}

.location-result {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.location-result--active {
  background-color: $light-gray;
}

.location-result--active .location-result--preferred {
  background-color: $main-blue;
}

.location-result--preferred {
  background-color: $main-blue-light;
}

.location-result--preferred::after {
  font-family: 'FontAwesome';
  content: '\F006';
  color: $main-blue;
  position: absolute;
  top: 8px;
  right: 4px;

  font-size: 18px;
  text-align: center;
  width: 30px;
}

#banner {
  padding: 10px 0;
  background-color: $orange;
  color: #fff;
  margin-top: -20px;
  margin-bottom: 20px;
  a {
    color: $light-orange;
  }
}

.homepage-search {
  margin-top: -20px;
  padding: 100px 0;
  background-color: $main-blue-light;
  background-image: url(../pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.homepage-map {
  margin-bottom: -40px;
  background-color: #111;
  padding: 30px 0;
  color: #ccc;
}

#search small {
  color: #fff;
}

// ------------------ Cart ------------------

#cart .list-group-item .close {
  margin-left: 10px;
}

$cart-heading-height: 40px;

.cart-heading {
  position: relative;
  height: $cart-heading-height;

  @media screen and (max-width: $screen-md-min) {
    height: $cart-heading-height;
    text-align: center;
    color: $white !important;
    background-color: $main-blue-light !important;
  }
}

.cart-heading--items {
  display: none;

  @media screen and (max-width: $screen-md-min) {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    left: 30px;
    background-color: $main-blue;
  }
}

.cart-heading--total {
  display: none;

  @media screen and (max-width: $screen-md-min) {
    display: block;
    position: absolute;
    right: 40px;
    height: 20px;
    width: 20px;
    padding: 0 5px;
    border-radius: 30px;
    background-color: $main-blue;

    .fa {
      position: relative;
      right: 2px;
    }
  }
}

.cart-wrapper {
  overflow-y: scroll;
  height: 100%;

  @media screen and (max-width: $screen-md-min) {
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(calc(100% - #{$cart-heading-height}));
    transition: transform 0.4s;
  }
}

.cart-wrapper--show {
  @media screen and (max-width: $screen-md-min) {
    transform: translateY(0);
  }
}

.cart {
  &__items {
    @extend .list-group;
  }
  &__item {
    @extend .list-group-item;
    &__heading {
      @include clearfix;
    }
    &__adjustments {
      @extend .text-muted;
    }
  }
}

#map-wrapper {
  padding: 60px 0;
}

.restaurant-list-filter {
  padding-top: $bs-base-margin / 2;
  margin-bottom: $bs-base-margin;
}

.restaurant-item:hover {
  text-decoration: none;
}

.restaurant-item:hover img {
  opacity: 0.8;
}

.menu-item {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 45px;
}

.menu-item:after {
  font-family: 'Glyphicons Halflings';
  content: "\002b";
  color: #bdc3c7;
  position: absolute;
  right: 15px;
}

.menu-item--unavailable {
  background-color: #f5f5f5;
  cursor: default;
}

.menu-item--unavailable:after {
  content: none;
}

.menu-item .menu-item-content {
  font-weight: bold;
  width: 80%;
}

.menu-item .menu-item-description {
  display: block;
  font-weight: normal;
}

.menu-item .menu-item-price {
  width: 20%;
  text-align: right;
}

.modifier-item input[type="radio"] {
  position: relative;
  margin-left: 0;
}

.modifier-item:hover {
  background-color: $main-blue-light;
}

.modifier-item__selected {
  background-color: $main-blue;
}



.order-map__wrapper {
  height: 100%;
  position: relative;
}

.order-map {
  flex: 1;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.order-map__column {
  margin: 40px 20px 60px;
  background-color: $white;
  box-sizing: border-box;
  padding: 20px;

  @media screen and (max-width: $screen-md-min) {
    margin: 20px 10px 0;
    padding: 10px;
  }
}

.order-map__image {
  margin-bottom: 20px;
}

.ant-calendar-picker {
  margin-right: 5px;
}

.ant-form-item {
  margin-bottom: 0;
}

form[name="restaurant"] #restaurant_imageFile_file,
form[name="store"] #store_imageFile_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

// ------------------ Autosuggest ------------------

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__suggestions-container {
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2000!important;
}

// ------------------ Address Picker ------------------

.autocomplete-wrapper {
  position: relative;
}

.autocomplete-clear {
  position: absolute;
  right: 4px;
  top: 6px;
  font-size: 18px;
  cursor: pointer;
}

$input-location-icon-width: 30px;

.input-location-wrapper {
  position: relative;
}

.input-location-wrapper::before {
  font-family: 'FontAwesome';
  content: '\F041';
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  font-size: 22px;
  text-align: center;
  width: 30px;
  background-color: $main-blue;

  // HACK: mimic the bootrstap input border-radius
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-location {
  text-indent: $input-location-icon-width;
}

.input-height {
  line-height: $bs-input-height;
  height: $bs-input-height;
}

// ------------------ Order Follow ------------------

.order-follow--step {
  opacity: 0.7;
  padding-bottom: $base-margin-s;

  &.order-follow--step__done {
    opacity: 1;
  }

  &.order-follow--step__done .order-follow--number {
    background-color: $green;
  }
}

$order-follow--number-width: 26px;

.order-follow--number {
  border-radius: 100px;
  line-height: $order-follow--number-width;
  height: $order-follow--number-width;
  width: $order-follow--number-width;
  background-color: $main-blue;
  display: inline-block;
  text-align: center;
  margin-right: $base-margin-s;
  color: #fff;
}

.order-follow--description {
  border-left: 1px solid $gray;
  min-height: 50px;
  margin: $base-margin-s 0 $base-margin-s $order-follow--number-width / 2;
  padding: $base-margin-s;
  display: none;
}

// ------------------ Image uploader ------------------

.image-uploader {
  position: relative;
  width: 230px;
  height: 230px;
  border: 1px dashed black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image-uploader > label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ant-time-picker + .ant-time-picker {
  margin-left: 10px;
}

// HACK : disable Antd input style so it fits with Bootstrap's design
#closing-rules-range-picker .ant-calendar-picker-input.ant-input {
  padding: 0;
  width: 100%;
  border: none;
}

// HACK : vertical-align submit button to bottom
#closing_rule_submit {
  margin-top: 25px;
}

.restaurant-availability-errors {
  list-style: initial;
}

.calendar-close {
  color: $white;
  background-color: $light-red;
  border-top: 1px solid $red;
  border-bottom: 1px solid $red;
  list-style: none;
  padding: $base-margin-xs $base-margin-xs;
}

form[name="menu"] {
  #menu_sections .switch {
    padding-top: 4px;
  }
  .menu-item-modifiers {
    margin-top: 15px;
  }
  .tooltip-inner {
    text-align: left;
  }
}

.menuForm__menuItem {
  .menuForm__menuItem__heading {
    padding: 10px;
    border-bottom: 1px dashed #dedede;
    .form-group {
      margin-bottom: 0;
      .menuForm__menuItem__heading__toggle,
      .menuForm__menuItem__heading__arrows {
        width: 30px;
        float: left;
        padding-top: 6px;
        text-align: center;
      }
      .menuForm__menuItem__heading__toggle {
        text-decoration: none;
        padding-right: 15px;
        .fa-caret-down {
          display: none;
        }
        &.collapsed {
          .fa-caret-up {
            display: none;
          }
          .fa-caret-down {
            display: inline;
          }
        }
      }
      .menuForm__menuItem__heading__arrows {
        padding-left: 15px;
        padding-right: 15px;
      }
      .form-control {
        width: calc(100% - 60px);
        float: left;
      }
    }
  }
  .menuForm__menuItem__body {
    padding: 10px;
    border-bottom: 1px dashed #dedede;
  }
  &.gu-mirror {
    border: 1px dashed #dedede;
    background-color: #fff;
    .switch {
      display: none;
    }
  }
}
.menuForm__menuItem:last-child {
  .menuForm__menuItem__heading {
    border-bottom: none;
  }
  .menuForm__menuItem__body {
    border-top: 1px dashed #dedede;
    border-bottom: none;
  }
}

.menuEditor {
  display: flex;
  &__left, &__right {
    flex: 1;
  }
  &__left {
    padding-right: 15px;
  }
  &__right {
    padding-left: 15px;
    display: flex;
  }
  &__productList {
    flex: 1;
  }
  &__product {
    padding: 10px;
    margin-bottom: 10px;
    background-color: lighten(lightgrey, 10%);
  }
  &__product:last-child {
    margin-bottom: 0;
  }

  &__panel {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    &__title {
      padding: 10px;
      background-color: lightgrey;
      color: #fff;
      margin: 0;
    }
    &__body {
      flex: 1;
      border: 2px dashed lightgrey;
      border-top: none;
      padding: 10px;
      min-height: 50px;
    }
  }
}

.role-icons {
  .fa {
    margin-left: 5px;
  }
}

.restaurant-dashboard {
  display: flex;
  height: 500px;
  &__list {
    flex: 3;
    padding-right: 15px;
    overflow-y: scroll;
    h4 {
      margin-top: 0;
    }
  }
  &__details {
    display: flex;
    flex: 2;
    padding-left: 15px;
    &__container {
      display: flex;
      flex: 1;
      flex-direction: column;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 15px;
      &--empty {
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      & > h3 {
        margin-top: 0;
      }
    }
    &__dishes {
      max-height: 60%;
      overflow-y: scroll;
    }
    &__buttons {
      margin-top: auto;
    }
  }
}

.delivery-pricing-ruleset {
  padding-left: 0;
  &__rule {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: #fff;
    &__handle {
      flex: 1;
      text-align: center;
      cursor: grab;
      padding: 20px 0;
    }
    &__expression {
      flex: 8;
      padding-right: 15px;
    }
    &__price {
      flex: 4;
    }
    &__remove {
      flex: 1;
      text-align: right;
    }
  }
}

.rule-picker {
  padding: 15px 15px 0 15px;
  border: 1px solid black;
  border-radius: 4px;
  &-preview {
    margin-top: 10px;
    pre {
      margin: 0;
      font-size: 11px;
    }
  }
}


.react-autosuggest__suggestions-container--open {
  display: block;
  border: 1px solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin-bottom: 0;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #eee;
}

.text-monospace {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#cart-top {
  a {
    margin-right: 0;
  }
}

#help {
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  table {
    width: 100%;
    th[align="center"] {
      text-align: center;
    }
    th[align="right"] {
      text-align: right;
    }
    th, td {
      padding: 5px 0;
    }
  }
}

.bike-icon {

  $icon-size: 48px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: $icon-size;
  height: $icon-size;
  margin: 0 auto;

  &--bike {
    background-image: url(../svg/noun_1149947_cc.svg);
  }

  &--cargo_bike {
    background-image: url(../svg/noun_1149946_cc.svg);
  }
}

.btn-group--vehicle {
  width: 100%;
  > label {
    min-width: 50%;
  }
}

.map-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  &__map {
    flex: 1;
  }
}

.restaurant-opening-hours {
  font-size: 12px;
}

// Make sure Google Place Autocomplete is always on top
// Fix for Bootstrap's modal
div.pac-container {
   z-index: 1050 !important;
}
