// VARS
$main-blue: #337ab7;
$main-blue-light: lighten($main-blue, 20%);
$banner-color: #d35400;
$light-gray: #f5f5f5;
$gray: #ddd;

body {
    font-family: "Arvo", Helvetica, Arial, sans-serif;
}

footer {
    padding: 30px 0;
    margin-top: 30px;
    border-top: 1px solid #e7e7e7;
}

#topnav {
    background-color: #fff;
}

.label {
    font-weight: 400;
}

#banner {
    padding: 10px 0;
    background-color: $banner-color;
    color: #fff;
    margin-top: -20px;
    margin-bottom: 20px;
    a {
        color: lighten($banner-color, 33.3333%);
    }
}

#search {
    margin-top: -20px;
    padding: 100px 0;
    background-color: #ecf0f1;
    background-image: url(../pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#map {
    margin-bottom: -30px;
    background-color: #111;
    padding: 30px 0;
    color: #ccc;
}

#search small {
    color: #fff;
}

#cart .list-group-item .close {
    margin-left: 10px;
}

#map-wrapper {
    padding: 60px 0;
}

#payment-form, .card {
    margin: 40px 0;
}

.restaurant-item:hover {
    text-decoration: none;
}

.restaurant-item:hover img {
    opacity: 0.8;
}

.menu-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 45px;
}

.menu-item:hover:after {
    font-family: 'Glyphicons Halflings';
    content: "\002b";
    color: #bdc3c7;
    position: absolute;
    right: 15px;
}

.menu-item--unavailable {
    background-color: #f5f5f5;
    cursor: default;
}

.menu-item--unavailable:hover:after {
    content: none;
}

.menu-item .menu-item-content {
    width: 80%;
}

.menu-item .menu-item-price {
    width: 20%;
    text-align: right;
}

.modifier-item input[type="radio"] {
    position: relative;
    margin-left: 0;
}

.modifier-item:hover {
    background-color: $main-blue-light;
}

.modifier-item__selected {
    background-color: $main-blue;
}
.ant-calendar-picker {
    margin-right: 5px;
}
.ant-form-item {
    margin-bottom: 0;
}

form[name="restaurant"] #restaurant_imageFile_file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.image-uploader {
    position: relative;
    width: 230px;
    height: 230px;
    border: 1px dashed black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.image-uploader > label {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#opening-hours .ant-time-picker + .ant-time-picker {
    margin-left: 10px;
}
