html, body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  min-height: 100%;
  @media screen and (min-width: $screen-md-min) {
    display: flex;
    flex-direction: column;
  }
}

.rushInfoSize {
  font-size: 1.5em;
  margin-left: 0.2em;
  top: 6px;
}

.FoodtechDashboard__Navbar > div > .ant-switch {
  background-color: green;
}

.FoodtechDashboard__Navbar > div > .ant-switch-checked {
  background-color: red;
}

.content {
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.h2 {
  @media screen and (max-width: $screen-md-min) {
    margin-bottom: 10px;
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}

.container--full-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container--center {
  align-items: center;
  justify-content: center;
}

.row--full-height {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  padding: $base-margin 0;
  margin-top: $base-margin-l;
  background-color: $main-blue;
  color: $white;

  a.footer-link {
    color: $white;
    margin: 0 $base-margin-s;
  }

  @media screen and (max-width: $screen-md-min) {
    display: none;
  }
}

.navbar-brand {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.page-header {
  margin: 0 0 10px;

  @media screen and (max-width: $screen-md-min) {
    padding-bottom: 0;
    margin: 0 0 10px;

    h1 {
      margin: 0 0 10px;
    }
  }

  & ~ .table > tbody > tr:first-child > td {
    border-top: none;
  }
}

.maintenance {
  @extend .alert;
  @extend .alert-danger;
  text-align: center;
  padding: 40px;
}

/* Vertically centered modal */
/* @see https://stackoverflow.com/questions/18422223/bootstrap-3-modal-vertical-position-center */
/* @see https://codepen.io/dimbslmh/full/mKfCc */

.modal {
  text-align: center;
}

@media screen and (min-width: $screen-sm-min) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

// ------------------ Admin ------------------

.store-opening-hours {
  width: 35%;
}

.navbar--admin {
  .navbar-nav.navbar-right {
    @media (max-width: 1480px) {
      .navbar-label {
        display: none;
      }
    }
  }
}

// ------------------ Help ------------------

.help-nav__item {

  &:hover {
    text-decoration: none;
  }

  .list-group-item {
    font-size: 14px;
    color: $main-blue;

    &:hover {
      color: white;
      background-color: $main-blue-light;
      text-decoration: none;
    }
  }
}

.label {
  font-weight: 400;
}

.banner-title {
  color: $white;
  font-weight: 700;
  margin-bottom: $bs-base-margin;
}

.banner-search {
  margin-top: $bs-base-margin * 2;
}

.banner {
  padding: 10px 0;
  background-color: $orange;
  color: #fff;
  margin-top: -20px;
  margin-bottom: 20px;
  a {
    color: $light-orange;
  }
  &-message {
    p {
      display: inline;
    }
  }
}

.flash-messages {
  margin-top: -20px;
  margin-bottom: 20px;
  .alert {
    margin-bottom: 0;
  }
}

.homepage-search {
  margin-top: -20px;
  padding: 100px 0;
  background-color: $main-blue-light;
  background-image: url(../pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.homepage-map {
  margin-bottom: -40px;
  background-color: #111;
  padding: 30px 0;
  color: #ccc;
}

.homepage-restaurants {
  &__title {
    text-align: center;
    margin: 20px 0;
  }
  &__show-more {
    font-size: $font-size-large;
    margin-bottom: 15px;
    > a {
      padding: 5px 0;
      display: block;
      width: 100%;
    }
  }
}

#search small {
  color: #fff;
}

// ------------------ Cart ------------------

#cart {
  margin-top: ($base-margin + 20px);
  .sticky-outer-wrapper.active {
    .sticky-inner-wrapper {
      overflow: auto;
      max-height: 100%;
      padding: 20px 0;
    }
  }
}

// $panel-heading-padding is 10px 15px !default;
// nth() allows to extract individual values
$panel-heading-padding-vertical: nth($panel-heading-padding, 1);
$panel-heading-padding-horizontal: nth($panel-heading-padding, 2);

$cart-heading-line-height: ($navbar-height - ($panel-heading-padding-vertical * 2));

.restaurant-menu-wrapper {
  // On mobile, add a margin to allow scrolling
  @media (max-width: $screen-xs-max) {
    margin-bottom: $navbar-height;
  }
}

.restaurant-menu-section {

  display: grid;
  grid-gap: 8px;
  grid-template-columns: repeat(2, 1fr);

  @media (max-width: $screen-xs-max) {
    grid-template-columns: repeat(1, 1fr);
  }


  &-item {
    border: 1px solid $list-group-border;
    & > * {
      width: 100%;
      min-height: 100%;
      height: 100%;
    }
    &:hover,
    &:focus {
      color: $list-group-link-hover-color;
      background-color: $list-group-hover-bg;
      button.menu-item {
        color: $list-group-link-color;
        background-color: $list-group-hover-bg;
      }
    }
    button.menu-item {
      width: 100%;
      min-height: 100%;
      height: 100%;

      // Reset button styles
      // @see https://gist.github.com/MoOx/9137295

      border: none;
      margin: 0;
      padding: 0;
      width: 100%;
      overflow: visible;
      background: transparent;
      color: inherit;
      font: inherit;
      text-align: inherit;
      line-height: normal;
      -webkit-font-smoothing: inherit;
      -moz-osx-font-smoothing: inherit;
      -webkit-appearance: none;

      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
    .menu-item-inner {
      display: flex;
      flex: 1;
    }
    .menu-item-content-wrapper {
      padding: 15px;
      flex: 3;
      flex-direction: column;
      display: flex;
      justify-content: space-between;
    }
    .menu-item-image-wrapper {
      flex: 1;
      align-self: center;
      padding: 15px 15px 15px 0;
      > img {
        width: 100%;
      }
    }
  }
}

.cart-heading {
  position: relative;

  @media (max-width: $screen-xs-max) {
    height: $navbar-height;
    text-align: center;
    color: $white !important;
    background-color: $main-blue-light !important;
    line-height: $cart-heading-line-height;
  }

  &--warning {
    @media (max-width: $screen-xs-max) {
      background-color: $state-warning-bg !important;
      color: $state-warning-text !important;

      .cart-heading__left,
      .cart-heading__right {
        background-color: $state-warning-text;
        color: $state-warning-bg;
      }
    }
  }

  &--success {
    @media (max-width: $screen-xs-max) {
      background-color: $state-success-bg !important;
      color: $state-success-text !important;

      .cart-heading__left,
      .cart-heading__right {
        background-color: $state-success-text;
        color: $state-success-bg;
      }

      .cart-heading__right {
        display: none;
      }

      .cart-heading__button {
        display: block;
      }
    }
  }
}

.cart-heading__right {
  position: relative;
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
    box-shadow: inset 0 0 0 35px rgba(111, 148, 182, 0);
  }
  &--ripple:after {
    animation: ripple-effect-radomir 0.5s ease-out forwards;
  }
}

.cart-heading__button {
  display: none;

  @media (max-width: $screen-xs-max) {
    position: absolute;
    top: 0;
    right: 0;
    width: $navbar-height;
    height: $navbar-height;
    background-color: $state-success-text;
    color: $state-success-bg;
    border: none;
  }
}

.cart-heading__left,
.cart-heading__right {
  display: none;

  @media (max-width: $screen-xs-max) {
    display: block;
    position: absolute;
    width: $cart-heading-line-height;
    height: $cart-heading-line-height;
    border-radius: $cart-heading-line-height;
    background-color: $main-blue;
    top: $panel-heading-padding-vertical;
  }
}

.cart-heading__left {
  @media (max-width: $screen-xs-max) {
    left: $panel-heading-padding-horizontal;
  }
}

.cart-heading__right {
  @media (max-width: $screen-xs-max) {
    right: $panel-heading-padding-horizontal;
  }
}

.cart-heading--title {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.cart-heading--title-or-errors {
  display: none;
  @media (max-width: $screen-xs-max) {
    display: inline;
  }
}

.cart-wrapper {
  height: 100%;
  margin: 0;
  &__messages {
    text-align: center;
  }
  @media (max-width: $screen-xs-max) {
    padding: 0;
    cursor: pointer;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(calc(100% - #{$navbar-height}));
    transition: transform 0.4s;

    &__messages {
      display: none;
    }
  }
}

.cart-wrapper--show {
  @media (max-width: $screen-xs-max) {
    transform: translateY(0);
  }
}

.cart {
  &__items {

    margin: 15px 0;
    padding: 15px 0;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;

    max-height: 200px;
    overflow-y: auto;
    @media (max-width: $screen-xs-max) {
      max-height: 150px;
    }
  }
  &__item {
    padding: 10px 0;
    &__adjustments {
      @extend .text-muted;
    }
    &__content {
      display: flex;
      justify-content: space-between;
      &__left {
        min-width: 60px;
        max-width: 60px;
      }
      &__body {
        flex-grow: 1;
        padding: 0 10px;
      }
      &__right {
        text-align: right;
      }
    }
    &__quantity {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      &__decrement,
      &__increment {
        border: none;
        outline: none;
        background-color: transparent;
        &[disabled] {
          cursor: $cursor-disabled;
          @include opacity(.65);
        }
      }
      &__decrement {
        padding: 0 5px 0 0;
      }
      &__increment {
        padding: 0 0 0 5px;
      }
    }
  }
  &__time {
    display: block;
    margin: 15px 0;
    text-align: center;
    @extend .text-success;
    &:hover,
    &:visited,
    &:focus {
      text-decoration: none;
    }
    &--not-today {
      @extend .text-danger;
    }
    &__text,
    &__edit {
      display: block;
    }
    &__text {
      margin-bottom: 5px;
    }
    &__edit {
      font-size: $font-size-small;
    }
  }
}

#map-wrapper {
  padding: 60px 0;
}

.restaurant-title {
  display:inline-block;

}

.restaurant-header {

  display: flex;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 15px;

  @media (max-width: $screen-xs-max) {
    flex-direction: column;
  }

  img.restaurant-image {
    width: 120px;
    height: 120px;
    margin-right: 15px;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

  &-body {
    flex: 8;
    @media (max-width: $screen-xs-max) {
      text-align: center;
    }
  }
  &-right {
    flex: 4;
    @extend .text-muted;
    text-align: right;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }

}

.restaurant-list {
  h1 {
    display: inline-block;
  }
  /* Use object-fit to make sure images have same ratio */
  .restaurant-image {
    &--placeholder {
      object-fit: contain;
      padding: 20px;
      border-bottom: 1px solid #ddd;
    }
  }
}

.restaurant-list-header {
  margin-top: -20px;
  padding-top: $bs-base-margin;
  margin-bottom: $bs-base-margin;
  background-color: $main-blue-light;
  background-image: url(../pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.restaurant-item {
  position: relative;
  &--disabled > * {
    opacity: 0.6;
  }
  &--disabled > &__top-left,
  &--disabled > &__top-right {
    opacity: 0.9;
  }
  &__top-left,
  &__top-right {
    position: absolute;
    top: 12px;
  }
  &__top-left {
    left: 12px;
  }
  &__top-right {
    right: 12px;
  }
}

.restaurant-item:hover {
  text-decoration: none;
}

.restaurant-item:hover img {
  opacity: 0.8;
}

// TODO Add more precise selector
button.menu-item:focus,
button.menu-item:active {
   outline: none !important;
   box-shadow: none;
}

.menu-item.menu-item--unavailable {
  display: block;
  color: #ddd;
  cursor: default;
  &:hover {
    text-decoration: none;
  }
  .menu-item-price {
    text-decoration: line-through;
  }
}

.menu-item .menu-item-description,
.menu-item .menu-item-allergens,
.menu-item-restricted-diets {
  display: block;
  font-weight: normal;
}

.menu-item .menu-item-content {
  margin-bottom: 5px;
}

.menu-item .menu-item-name {
  font-family: inherit;
  font-weight: bold;
  margin: 0 0 5px 0;
}

.menu-item .menu-item-price {
  white-space: nowrap;
}

.product-option-item {
  &:hover {
    background-color: $main-blue-light;
  }
  .radio,
  .checkbox {
    width: 100%;
    label {
      width: 100%;
    }
  }
}

.product-option-item-range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  input[type="number"] {
    @extend .form-control;
    width: 44px;
    padding: 3px 6px;
    margin-right: 5px;
  }
  label {
    flex-grow: 1;
    margin: 0;
    font-weight: 400;
    padding: 6px 0;
    &:hover {
      cursor: pointer;
    }
  }
}

.order-map__wrapper {
  height: 100%;
  position: relative;
}

.order-map {
  flex: 1;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.order-map__column {
  margin: 10px;
  background-color: $white;
  box-sizing: border-box;

  h4 {
    margin: 0;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
  }

  table {
    margin-bottom: 0;
  }

  @media screen and (max-width: $screen-sm-max) {
    margin: 0 0 20px;
  }
}

.order-map__column-heading {
  display: block;
  color: $headings-color;
  &:hover {
    color: $headings-color;
    text-decoration: none;
    background-color: #eee;
  }
}

.order-map__column-block {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  &:last-of-type {
    border-bottom: none;
  }
}

.btn-payment > .fa-spinner {
  display:none;
}

.btn-payment__loading > .fa-spinner {
  display:inline-block;
}

.order-map__image {
  margin-bottom: 20px;
}

.ant-calendar-picker {
  margin-right: 5px;
}

.ant-form-item {
  margin-bottom: 0;
}

form[name="restaurant"] #restaurant_imageFile_file,
form[name="store"] #store_imageFile_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form-group-delete {
  padding-top: ($line-height-computed + 5px);
}

// ------------------ Autosuggest ------------------

.react-autosuggest__container {
  position: relative;

  &:after {
    @include fa-icon();
    content: $fa-var-spinner;
    @extend .fa-pulse;
    display: block;
    position: absolute;
    top: calc(50% - 7px);
    right: $padding-base-horizontal;
    display: none;
  }
}

.react-autosuggest__container--loading {
  &:after {
    display: inline;
  }
}

.react-autosuggest__suggestions-container {
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2000!important;
}

.react-autosuggest__suggestions-list {
  list-style: none;
  padding-left: 0;
}

// ------------------ React Modal ------------------

// Copy default styles to be able to use overlayClassName prop
// @see https://github.com/reactjs/react-modal/tree/master/docs/styles
.ReactModal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

// Custom class to allow scrolling inside modal
// @see https://github.com/reactjs/react-modal/issues/283
.ReactModal__Overlay--overflow {
  @media (max-width: $screen-xs-max) {
    height: 100vh;
    .ReactModal__Content {
      overflow-y: auto;
    }
  }
}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  // min-width: 50%;
}

.ReactModal__Content--enter-address {
  overflow: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: $screen-lg-min) {
    width: 33%;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 50%;
  }
  @media (max-width: $screen-xs-max) {
    width: calc(100% - 30px);
    height: 80%;
  }
}

.ReactModal__Content--restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  @media (min-width: $screen-lg-min) {
    width: 50%;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 66%;
  }
  @media (max-width: $screen-xs-max) {
    width: calc(100% - 30px);
    height: 80%;
  }
  .ReactModal__Restaurant__button {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    > button {
      margin-bottom: 15px;
    }
  }
}

.ReactModal__Content--date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  @media (min-width: $screen-lg-min) {
    width: 50%;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 66%;
  }
  @media (max-width: $screen-xs-max) {
    width: calc(100% - 30px);
    height: 80%;
  }
  .ReactModal__Date__asap {
    display: block;
    padding: 15px 0;
    margin: 15px 0;
  }
}

.ReactModal__Content--foodtech {
  width: 440px;
  height: 80%;
  padding: 0;
  border: none;
  > .panel {
    margin-bottom: 0;
  }
  .ant-timeline-item.ant-timeline-item-last {
    padding-bottom: 0;
  }
  .ant-timeline-item-last .ant-timeline-item-content {
    min-height: inherit;
  }
}

// Prevent scroll on html/body
// https://github.com/reactjs/react-modal/blob/master/docs/styles/classes.md#for-the-documentbody-and-html-tag
.ReactModal__Html--open,
.ReactModal__Body--open {
  overflow: hidden;
}

// ------------------ Order Timeline ------------------

.order-timeline {

  $bullet-width: 26px;

  &__step {

    padding-bottom: $base-margin-s;
    opacity: 0.7;

    &__bullet {
      @include fa-icon();
      margin-right: $base-margin-s;
      line-height: $bullet-width;
      height: $bullet-width;
      width: $bullet-width;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%;
      color: #fff;
      background-color: $main-blue;
    }
    &__bullet:before {
      content: $fa-var-clock-o;
    }

    &--success &__bullet {
      background-color: $green;
    }
    &--success &__bullet:before {
      content: $fa-var-check;
    }

    &--danger &__bullet {
      background-color: $red;
    }
    &--danger &__bullet:before {
      content: $fa-var-times;
    }

    &__description {
      border-left: 1px solid $gray;
      min-height: 50px;
      margin: $base-margin-s 0 $base-margin-s ($bullet-width / 2);
      padding: $base-margin-s;
      display: none;
    }

    &--active &__description {
      display: block;
    }

    &--active {
      opacity: 1;
    }

  }

}

// ------------------ Image uploader ------------------

.image-uploader {
  position: relative;
  width: 230px;
  height: 230px;
  border: 1px dashed black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image-uploader > label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ant-time-picker + .ant-time-picker {
  margin-left: 10px;
}

// HACK : disable Antd input style so it fits with Bootstrap's design
#closing-rules-range-picker .ant-calendar-picker-input.ant-input {
  padding: 0;
  width: 100%;
  border: none;
}

// HACK : vertical-align submit button to bottom
#closing_rule_submit {
  margin-top: 25px;
}

.restaurant-availability-errors {
  list-style: initial;
}

.calendar-close {
  color: $white;
  background-color: $light-red;
  border-top: 1px solid $red;
  border-bottom: 1px solid $red;
  list-style: none;
  padding: $base-margin-xs $base-margin-xs;
}

table.task-table {
  tbody {
    tr {
      border-left: 6px solid #fff;
    }
    tr.task--cancelled {
      color: $gray-light;
    }
  }
}

.menuEditor {
  display: flex;
  &__left, &__right {
    flex: 1;
  }
  &__left {
    padding-right: 15px;
  }
  &__right {
    padding-left: 15px;
    display: flex;
  }
  &__productList {
    flex: 1;
  }
  &__product {
    padding: 10px;
    margin-bottom: 10px;
    background-color: lighten(lightgrey, 10%);
  }
  &__product:last-child {
    margin-bottom: 0;
  }

  &__panel {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    &__title {
      padding: 10px;
      background-color: lightgrey;
      color: #fff;
      margin: 0;
      > a {
        color: #fff;
        &:hover {
          color: darken(#fff, 5%);
        }
      }
    }
    &__body {
      flex: 1;
      border: 2px dashed lightgrey;
      border-top: none;
      padding: 10px;
      min-height: 50px;
    }
  }
}

.role-icons {
  .fa {
    margin-left: 5px;
  }
}

.restaurant-dashboard {
  display: flex;
  height: 500px;
  &__list {
    flex: 3;
    padding-right: 15px;
    overflow-y: scroll;
    h4 {
      margin-top: 0;
    }
  }
  &__details {
    display: flex;
    flex: 2;
    padding-left: 15px;
    &__container {
      display: flex;
      flex: 1;
      flex-direction: column;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 15px;
      &--empty {
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      & > h3 {
        margin-top: 0;
      }
    }
    &__dishes {
      max-height: 60%;
      overflow-y: scroll;
    }
    &__buttons {
      margin-top: auto;
    }
  }
}

.delivery-pricing-ruleset {
  padding-left: 0;
  &__rule {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: #fff;
    &__handle {
      flex: 1;
      text-align: center;
      cursor: grab;
      padding: 20px 0;
    }
    &__expression {
      flex: 8;
      padding-right: 15px;
      width: 0;
    }
    &__price {
      flex: 4;
    }
    &__remove {
      flex: 1;
      text-align: right;
    }
  }
}

.rule-picker {
  padding: 15px 15px 0 15px;
  border: 1px solid black;
  border-radius: 4px;
  &-preview {
    margin-top: 10px;
    pre {
      margin: 0;
      font-size: 11px;
      white-space: pre-wrap;
    }
  }
}

.react-autosuggest__suggestions-container--open {
  display: block;
  border: 1px solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin-bottom: 0;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #eee;
}

.text-monospace {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#cart-top {
  a {
    margin-right: 0;
  }
}

.panel--delivery {
  .panel-heading > a {
    display: block;
    text-decoration: none;
  }
}

#help {
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  table {
    width: 100%;
    th[align="center"] {
      text-align: center;
    }
    th[align="right"] {
      text-align: right;
    }
    th, td {
      padding: 5px 0;
    }
  }
}

.bike-icon {

  $icon-size: 48px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: $icon-size;
  height: $icon-size;
  margin: 0 auto;

  &--bike {
    background-image: url(../svg/noun_1149947_cc.svg);
  }

  &--cargo_bike {
    background-image: url(../svg/noun_1149946_cc.svg);
  }
}

.btn-group--vehicle {
  width: 100%;
  > label {
    min-width: 50%;
  }
}

.btn-transparent {
  background: transparent;
}

.map-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  &__map {
    flex: 1;
  }
}

.restaurant-opening-hours {
  font-size: 12px;
}

.FoodtechDashboard {

  padding: 0 15px 15px 15px;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;

  &__Navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    > div:first-child {
      width: 33.3333%;
    }
    .ant-calendar-picker {
      margin-right: 0;
    }
  }

  &__Columns {
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
  }

  &__Column {
    display: flex;
    flex-direction: column;
    min-width: 24%;
    overflow: hidden;
    &.panel {
      margin-bottom: 0;
    }
    & > .panel-body {
      overflow-y: scroll;
    }
  }

  &__OrderCard {
    cursor: pointer;
  }

  &__OrderCard:active,
  &__OrderCard:hover {
    border: 1px solid #bbb;
  }

}

// Make sure Google Place Autocomplete is always on top
// Fix for Bootstrap's modal
div.pac-container {
   z-index: 1050 !important;
}

.preparation_time_rules_preparationTimeRule {

  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;

  .form-group {
    flex-grow: 1;
    margin-bottom: 0;
  }

  .form-group:first-child {
    margin-right: 10px;
  }

  &:before {
    @include fa-icon();
    content: $fa-var-arrows;
    display: block;
    margin-right: 10px;
  }

  .close {
    margin-left: 10px;
  }

}

.btn-confirm-delete {
  display: flex;
  margin: 0 auto;
  transition: all 0.4s;
  .message {
    // @see https://stackoverflow.com/questions/3508605/how-can-i-transition-height-0-to-height-auto-using-css
    max-width: 0;
    height: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: max-width 0.4s;
  }
  &.confirm {
    .fa {
      margin-right: 4px;
    }
    .message {
      max-width: 500px;
      height: auto;
    }
  }
}

/* Dropzone */

.dz-image {
  img {
    width: 100%;
    height: 100%;
  }
}

.dropzone {
  &.dropzone--blue {

    border: 3px dashed #0074d9;
    text-align: center;
    transition: border-color 0.4s;

    &.dz-drag-hover,
    &:hover {
      border-style: dashed;
      border-color: lighten(#0074d9, 40%);
    }

  }
}

.quantity-input-group {
  display: flex;
  justify-content: space-between;
  input[type="number"] {
    text-align: center;
    border: none;
  }
  &__decrement,
  &__increment {
    border: none;
    background-color: transparent;
  }
}

.button-icon--decrement,
.button-icon--increment {
  border: none;
  background-color: transparent;
  &[disabled] {
    cursor: $cursor-disabled;
    @include opacity(.65);
  }
}

form[name="restaurant"] {
  .help-block.collapsed .fa-minus {
    display: none;
  }
  .help-block:not(.collapsed) .fa-plus {
    display: none;
  }
}

.btn-facebook {
  background: #3B5998;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #263961;
}

.login-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  &__content {
    min-width: 100%;
  }
}
.btn-facebook:link, .btn-facebook:visited {
  color: #fff;
}
.btn-facebook:active, .btn-facebook:hover {
  background: #263961;
  color: #fff;
}

.delivery-price {

  position: relative;
  border: 1.5px solid #ccc;
  color: #ccc;
  padding: 10px 40px 10px 20px;
  margin-bottom: 15px;
  border-radius: 16px;
  font-size: $font-size-large;

  &--error {
    border: 1.5px solid $alert-danger-border;
    color: $alert-danger-text;
  }
  &-error {
    float: right;
  }
  &--loading {
    &:after {
      @include fa-icon();
      content: $fa-var-spinner;
      @extend .fa-pulse;
      display: block;
      position: absolute;
      top: calc(50% - 10px);
      right: $padding-base-horizontal;
    }
  }
}

.restaurant-pledge__image {
  max-width: 66.6666%;
}

.delivery__tracking {

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  padding: 0;
  margin: 0;

  &__topnav,
  &__bottomnav {
    padding: 10px 20px;
  }

  &__topnav {
    text-align: center;
    border-bottom: 1px solid #ccc;
    h1 {
      font-size: 24px;
      margin: 0;
    }
  }
  &__bottomnav {
    border-top: 1px solid #ccc;
  }

  &__map-container {
    flex: 1;
    display: flex;
    position: relative;

    &--completed:after {
      content: '';
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 401;
    }
  }

  &__map {
    flex: 1;
  }
}

.delivery__form__packages {
  &__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    &-quantity {
      flex: 1;
    }
    &-multiply {
      padding: 0 15px;
    }
    &-package {
      flex: 3;
    }
    &-delete {
      margin-left: 15px;
    }
  }
}

.product__form__options {
  &--sortable {
    > * {
      border: 1px solid #ebebeb;
      padding: 10px;
      background-color: #fff;
    }
  }
}
