body {
    font-family: "Arvo", Helvetica, Arial, sans-serif;
}

footer {
  padding: 30px 0;
  margin-top: 30px;
  border-top: 1px solid $gray;

  @media screen and (max-width: $screen-md-min){
    display: none;
  }
}

.page-header {
  margin: 0 0 10px;

  @media screen and (max-width: $screen-md-min){
    padding-bottom: 0;
    margin: 0 0 10px;

    h1 {
      margin: 0 0 10px;
    }
  }
}

.h2 {
  @media screen and (max-width: $screen-md-min) {
    margin-bottom: 10px;
  }
}

.restaurant-header {
  h1 {
    display: inline-block;
  }
}

.label {
    font-weight: 400;
}

.banner-title {
    color: $white;
    font-weight: 700;
    margin-bottom: $bs-base-margin;
}

.banner-search {
    margin-top: $bs-base-margin * 2;
}

.location-result {
    position: relative;
    padding: 10px;
    cursor: pointer;
}

.location-result--active {
    background-color: $light-gray;
}

.location-result--active .location-result--preferred {
    background-color: $main-blue;
}

.location-result--preferred {
    background-color: $main-blue-light;
}

.location-result--preferred::after {
    font-family: 'FontAwesome';
    content: '\F006';
    color: $main-blue;
    position: absolute;
    top: 8px;
    right: 4px;

    font-size: 18px;
    text-align: center;
    width: 30px;
}

#banner {
    padding: 10px 0;
    background-color: $orange;
    color: #fff;
    margin-top: -20px;
    margin-bottom: 20px;
    a {
        color: $light-orange;
    }
}

#search {
    margin-top: -20px;
    padding: 100px 0;
    background-color: $main-blue-light;
    background-image: url(../pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#map {
    margin-bottom: -30px;
    background-color: #111;
    padding: 30px 0;
    color: #ccc;
}

#search small {
    color: #fff;
}

#cart .list-group-item .close {
    margin-left: 10px;
}

$cart-heading-height: 40px;

.cart-heading {
    position: relative;
    height: $cart-heading-height;

    @media screen and (max-width: $screen-md-min) {
      height: $cart-heading-height;
      text-align: center;
      color: $white !important;
      background-color: $main-blue-light !important;
    }
}

.cart-heading--items {
  display: none;

  @media screen and (max-width: $screen-md-min) {
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    left: 30px;
    background-color: $main-blue;
  }
}

.cart-heading--total {
  display: none;

  @media screen and (max-width: $screen-md-min) {
    display: block;
    position: absolute;
    right: 40px;
    height: 20px;
    width: 20px;
    padding: 0 5px;
    border-radius: 30px;
    background-color: $main-blue;

    .fa {
      position: relative;
      right: 2px;
    }
  }
}

.cart-wrapper {
  overflow-y: scroll;
  height: 100%;

    @media screen and (max-width: $screen-md-min) {
        padding: 0;
        margin-bottom: 0;
        cursor: pointer;


        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateY(calc(100% - #{$cart-heading-height}));
        transition: transform 0.4s;
    }
}

.cart-wrapper--show {
    @media screen and (max-width: $screen-md-min) {
        transform: translateY(0);
    }
}

#map-wrapper {
    padding: 60px 0;
}

.restaurant-list-filter {
    padding-top: $bs-base-margin / 2;
    margin-bottom: $bs-base-margin;
}

.restaurant-item:hover {
    text-decoration: none;
}

.restaurant-item:hover img {
    opacity: 0.8;
}

.menu-item {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-right: 45px;
}

.menu-item:hover:after {
    font-family: 'Glyphicons Halflings';
    content: "\002b";
    color: #bdc3c7;
    position: absolute;
    right: 15px;
}

.menu-item--unavailable {
    background-color: #f5f5f5;
    cursor: default;
}

.menu-item--unavailable:hover:after {
    content: none;
}

.menu-item .menu-item-content {
    font-weight: bold;
    width: 80%;
}

.menu-item .menu-item-description {
    display: block;
    font-weight: normal;
}

.menu-item .menu-item-price {
    width: 20%;
    text-align: right;
}

.modifier-item input[type="radio"] {
    position: relative;
    margin-left: 0;
}

.modifier-item:hover {
    background-color: $main-blue-light;
}

.modifier-item__selected {
    background-color: $main-blue;
}

.order-map {
    z-index:-1;
    position:absolute;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
}

.order-map__wrapper {
    position: relative;
}

.order-map__column {
    margin: 40px 20px 60px;
    background-color: $white;
    box-sizing: border-box;
    padding: 20px;
}

.order-map__image {
    margin-bottom: 20px;
}

.ant-calendar-picker {
    margin-right: 5px;
}
.ant-form-item {
    margin-bottom: 0;
}

form[name="restaurant"] #restaurant_imageFile_file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.input-location {
    position: relative;
}

.input-location::after {
    font-family: 'FontAwesome';
    content: '\F041';
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    font-size: 22px;
    text-align: center;
    width: 30px;
    background-color: $main-blue;

    // HACK: mimic the bootrstap input border-radius
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.input-height {
    line-height: $bs-input-height;
    height: $bs-input-height;
}

.image-uploader {
    position: relative;
    width: 230px;
    height: 230px;
    border: 1px dashed black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.image-uploader > label {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#opening-hours .ant-time-picker + .ant-time-picker {
    margin-left: 10px;
}

form[name="menu"] {
    #menu_sections .switch {
        padding-top: 26px;
    }
    .menu-item-modifiers {
        margin-top: 15px;
    }
    .tooltip-inner {
        text-align: left;
    }
}
