html, body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  min-height: 100%;
  @media screen and (min-width: $screen-md-min) {
    display: flex;
    flex-direction: column;
  }
}

.content {
  flex: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.h2 {
  @media screen and (max-width: $screen-md-min) {
    margin-bottom: 10px;
  }
}

.container--full-height {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container--center {
  align-items: center;
  justify-content: center;
}

.row--full-height {
  display: flex;
  flex-wrap: wrap;
}

.footer {
  width: 100%;
  padding: $base-margin 0;
  margin-top: $base-margin-l;
  background-color: $main-blue;
  color: $white;

  a.footer-link {
    color: $white;
    margin: 0 $base-margin-s;
  }

  @media screen and (max-width: $screen-md-min) {
    display: none;
  }
}

.navbar-brand {
  font-family: "Raleway", Helvetica, Arial, sans-serif;
}

.page-header {
  margin: 0 0 10px;

  @media screen and (max-width: $screen-md-min) {
    padding-bottom: 0;
    margin: 0 0 10px;

    h1 {
      margin: 0 0 10px;
    }
  }

  & ~ .table > tbody > tr:first-child > td {
    border-top: none;
  }
}

.maintenance {
  @extend .alert;
  @extend .alert-danger;
  text-align: center;
  padding: 40px;
}

// ------------------ Admin ------------------

.admin-navbar__help {
  border-left: 1px solid grey;
}

.store-opening-hours {
  width: 35%;
}

// ------------------ Help ------------------

.help-nav__item {

  &:hover {
    text-decoration: none;
  }

  .list-group-item {
    font-size: 14px;
    color: $main-blue;

    &:hover {
      color: white;
      background-color: $main-blue-light;
      text-decoration: none;
    }
  }
}

.label {
  font-weight: 400;
}

.banner-title {
  color: $white;
  font-weight: 700;
  margin-bottom: $bs-base-margin;
}

.banner-search {
  margin-top: $bs-base-margin * 2;
}

#banner {
  padding: 10px 0;
  background-color: $orange;
  color: #fff;
  margin-top: -20px;
  margin-bottom: 20px;
  a {
    color: $light-orange;
  }
}

.homepage-search {
  margin-top: -20px;
  padding: 100px 0;
  background-color: $main-blue-light;
  background-image: url(../pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.homepage-map {
  margin-bottom: -40px;
  background-color: #111;
  padding: 30px 0;
  color: #ccc;
}

.homepage-restaurants {
  &__title {
    text-align: center;
    margin: 20px 0;
  }
}

#search small {
  color: #fff;
}

// ------------------ Cart ------------------

#cart {
  margin-top: $base-margin;
}

#cart .list-group-item .close {
  margin-left: 10px;
}

// $panel-heading-padding is 10px 15px !default;
// nth() allows to extract individual values
$panel-heading-padding-vertical: nth($panel-heading-padding, 1);
$panel-heading-padding-horizontal: nth($panel-heading-padding, 2);

$cart-heading-line-height: ($navbar-height - ($panel-heading-padding-vertical * 2));

.cart-heading {
  position: relative;

  @media (max-width: $screen-xs-max) {
    height: $navbar-height;
    text-align: center;
    color: $white !important;
    background-color: $main-blue-light !important;
    line-height: $cart-heading-line-height;
  }

  &--warning {
    @media (max-width: $screen-xs-max) {
      background-color: $state-warning-bg !important;
      color: $state-warning-text !important;

      .cart-heading__left,
      .cart-heading__right {
        background-color: $state-warning-text;
        color: $state-warning-bg;
      }
    }
  }

  &--success {
    @media (max-width: $screen-xs-max) {
      background-color: $state-success-bg !important;
      color: $state-success-text !important;

      .cart-heading__left,
      .cart-heading__right {
        background-color: $state-success-text;
        color: $state-success-bg;
      }

      .cart-heading__right {
        display: none;
      }

      .cart-heading__button {
        display: block;
      }
    }
  }
}

.cart-heading__right {
  position: relative;
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
    box-shadow: inset 0 0 0 35px rgba(111, 148, 182, 0);
  }
  &--ripple:after {
    animation: ripple-effect-radomir 0.5s ease-out forwards;
  }
}

.cart-heading__button {
  display: none;

  @media (max-width: $screen-xs-max) {
    position: absolute;
    top: 0;
    right: 0;
    width: $navbar-height;
    height: $navbar-height;
    background-color: $state-success-text;
    color: $state-success-bg;
    border: none;
  }
}

.cart-heading__left,
.cart-heading__right {
  display: none;

  @media (max-width: $screen-xs-max) {
    display: block;
    position: absolute;
    width: $cart-heading-line-height;
    height: $cart-heading-line-height;
    border-radius: $cart-heading-line-height;
    background-color: $main-blue;
    top: $panel-heading-padding-vertical;
  }
}

.cart-heading__left {
  @media (max-width: $screen-xs-max) {
    left: $panel-heading-padding-horizontal;
  }
}

.cart-heading__right {
  @media (max-width: $screen-xs-max) {
    right: $panel-heading-padding-horizontal;
  }
}

.cart-heading--title {
  @media (max-width: $screen-xs-max) {
    display: none;
  }
}

.cart-heading--title-or-errors {
  display: none;
  @media (max-width: $screen-xs-max) {
    display: inline;
  }
}

.cart-wrapper {
  height: 100%;

  @media (max-width: $screen-xs-max) {
    padding: 0;
    margin-bottom: 0;
    cursor: pointer;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(calc(100% - #{$navbar-height}));
    transition: transform 0.4s;

    &__messages {
      display: none;
    }
  }
}

.cart-wrapper--show {
  @media (max-width: $screen-xs-max) {
    transform: translateY(0);
  }
}

.cart {
  &__items {
    @extend .list-group;
  }
  &__item {
    @extend .list-group-item;
    &__heading {
      @include clearfix;
    }
    &__adjustments {
      @extend .text-muted;
    }
  }
}

#map-wrapper {
  padding: 60px 0;
}

.restaurant-title {
  display:inline-block;

}

.restaurant-header {
  h1 {
    display: inline-block;
  }
  .restaurant-image {
    display: inline-block;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 150px;
    height: 100px;
  }
}

.restaurant-list {
  h1 {
    display: inline-block;
  }
  /* Use object-fit to make sure images have same ratio */
  .restaurant-image {
    width: 400px;
    height: 300px;
    object-fit: cover;
    &--placeholder {
      object-fit: contain;
      padding: 20px;
      border-bottom: 1px solid #ddd;
    }
  }
}

.restaurant-list-header {
  margin-top: -20px;
  padding-top: $bs-base-margin;
  margin-bottom: $bs-base-margin;
  background-color: $main-blue-light;
  background-image: url(../pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.restaurant-item {
  position: relative;
  &--disabled > * {
    opacity: 0.6;
  }
  &--disabled > &__top-left,
  &--disabled > &__top-right {
    opacity: 0.9;
  }
  &__top-left,
  &__top-right {
    position: absolute;
    top: 12px;
  }
  &__top-left {
    left: 12px;
  }
  &__top-right {
    right: 12px;
  }
}

.restaurant-item:hover {
  text-decoration: none;
}

.restaurant-item:hover img {
  opacity: 0.8;
}

.menu-item, .modifier-item {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 45px;
}

.menu-item:after {
  font-family: 'Glyphicons Halflings';
  content: "\002b";
  color: #bdc3c7;
  position: absolute;
  right: 15px;
}

a.list-group-item.menu-item--unavailable {
  color: #ddd;
  cursor: default;
  padding-right: 15px;
}

.menu-item--unavailable:after {
  content: none;
}

.menu-item .menu-item-content {
  font-weight: bold;
  width: 80%;
}

.menu-item .menu-item-description,
.menu-item .menu-item-allergens,
.menu-item-restricted-diets {
  display: block;
  font-weight: normal;
}

.menu-item .menu-item-price {
  width: 20%;
  text-align: right;
}

.modifier-item {
  &:hover {
    background-color: $main-blue-light;
  }
  .radio {
    width: 100%;
    label {
      width: 100%;
    }
  }
}

.order-map__wrapper {
  height: 100%;
  position: relative;
}

.order-map {
  flex: 1;
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.order-map__column {
  margin: 10px;
  background-color: $white;
  box-sizing: border-box;

  h4 {
    margin: 0;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
  }

  table {
    margin-bottom: 0;
  }

  @media screen and (max-width: $screen-sm-max) {
    margin: 0 0 20px;
  }
}

.order-map__column-heading {
  display: block;
  color: $headings-color;
  &:hover {
    color: $headings-color;
    text-decoration: none;
    background-color: #eee;
  }
}

.order-map__column-block {
  padding: 10px 15px;
  border-bottom: 1px solid #ddd;
  &:last-of-type {
    border-bottom: none;
  }
}

.btn-payment > .fa-spinner {
  display:none;
}

.btn-payment__loading > .fa-spinner {
  display:inline-block;
}

.order-map__image {
  margin-bottom: 20px;
}

.ant-calendar-picker {
  margin-right: 5px;
}

.ant-form-item {
  margin-bottom: 0;
}

form[name="restaurant"] #restaurant_imageFile_file,
form[name="store"] #store_imageFile_file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form-group-delete {
  padding-top: ($line-height-computed + 5px);
}

// ------------------ Autosuggest ------------------

.react-autosuggest__container {
  position: relative;

  &:after {
    @include fa-icon();
    content: $fa-var-spinner;
    @extend .fa-pulse;
    display: block;
    position: absolute;
    top: calc(50% - 7px);
    right: $padding-base-horizontal;
    display: none;
  }
}

.react-autosuggest__container--loading {
  &:after {
    display: inline;
  }
}

.react-autosuggest__suggestions-container {
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2000!important;
}

.react-autosuggest__suggestions-list {
  list-style: none;
  padding-left: 0;
}

// ------------------ Address Picker ------------------

.autocomplete-wrapper {
  position: relative;
}

.autocomplete-clear {
  position: absolute;
  border: none;
  background-color: transparent;
  right: 0;
  top: 0;
  font-size: $font-size-large;
  cursor: pointer;
  height: $input-height-base;
  width: $input-height-base;
}

.autocomplete-suggestions-wrapper {
  position: absolute;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.input-location-wrapper {
  position: relative;
}

.input-location-wrapper::before {
  font-family: 'FontAwesome';
  content: '\F041';
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  font-size: 22px;
  text-align: center;
  width: $input-height-base;
  line-height: $input-height-base;
  background-color: $main-blue;

  // HACK: mimic the bootrstap input border-radius
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.input-location {
  text-indent: $input-height-base;
  padding-right: $input-height-base;
}

.input-height {
  line-height: $bs-input-height;
  height: $bs-input-height;
}

.location-result {
  position: relative;
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
}

.location-result--active {
  background-color: $light-gray;
}

.autocomplete-footer {
  display: flex;
  justify-content: flex-end;
  padding: 4px;
  img {
    display: inline-block;
    width: 150px;
  }
}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  // min-width: 50%;
}

.ReactModal__Content--enter-address {
  overflow: inherit;
  @media (min-width: $screen-lg-min) {
    width: 33%;
  }
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    width: 50%;
  }
  @media (max-width: $screen-xs-max) {
    width: calc(100% - 30px);
    height: 80%;
  }
}

// ------------------ Order Timeline ------------------

.order-timeline {

  $bullet-width: 26px;

  &__step {

    padding-bottom: $base-margin-s;
    opacity: 0.7;

    &__bullet {
      @include fa-icon();
      margin-right: $base-margin-s;
      line-height: $bullet-width;
      height: $bullet-width;
      width: $bullet-width;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%;
      color: #fff;
      background-color: $main-blue;
    }
    &__bullet:before {
      content: $fa-var-clock-o;
    }

    &--success &__bullet {
      background-color: $green;
    }
    &--success &__bullet:before {
      content: $fa-var-check;
    }

    &--danger &__bullet {
      background-color: $red;
    }
    &--danger &__bullet:before {
      content: $fa-var-times;
    }

    &__description {
      border-left: 1px solid $gray;
      min-height: 50px;
      margin: $base-margin-s 0 $base-margin-s ($bullet-width / 2);
      padding: $base-margin-s;
      display: none;
    }

    &--active &__description {
      display: block;
    }

    &--active {
      opacity: 1;
    }

  }

}

// ------------------ Image uploader ------------------

.image-uploader {
  position: relative;
  width: 230px;
  height: 230px;
  border: 1px dashed black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.image-uploader > label {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ant-time-picker + .ant-time-picker {
  margin-left: 10px;
}

// HACK : disable Antd input style so it fits with Bootstrap's design
#closing-rules-range-picker .ant-calendar-picker-input.ant-input {
  padding: 0;
  width: 100%;
  border: none;
}

// HACK : vertical-align submit button to bottom
#closing_rule_submit {
  margin-top: 25px;
}

.restaurant-availability-errors {
  list-style: initial;
}

.calendar-close {
  color: $white;
  background-color: $light-red;
  border-top: 1px solid $red;
  border-bottom: 1px solid $red;
  list-style: none;
  padding: $base-margin-xs $base-margin-xs;
}

table.task-table {
  tbody {
    tr {
      border-left: 6px solid #fff;
    }
    tr.task--cancelled {
      color: $gray-light;
    }
  }
}

.menuEditor {
  display: flex;
  &__left, &__right {
    flex: 1;
  }
  &__left {
    padding-right: 15px;
  }
  &__right {
    padding-left: 15px;
    display: flex;
  }
  &__productList {
    flex: 1;
  }
  &__product {
    padding: 10px;
    margin-bottom: 10px;
    background-color: lighten(lightgrey, 10%);
  }
  &__product:last-child {
    margin-bottom: 0;
  }

  &__panel {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    &__title {
      padding: 10px;
      background-color: lightgrey;
      color: #fff;
      margin: 0;
      > a {
        color: #fff;
        &:hover {
          color: darken(#fff, 5%);
        }
      }
    }
    &__body {
      flex: 1;
      border: 2px dashed lightgrey;
      border-top: none;
      padding: 10px;
      min-height: 50px;
    }
  }
}

.role-icons {
  .fa {
    margin-left: 5px;
  }
}

.restaurant-dashboard {
  display: flex;
  height: 500px;
  &__list {
    flex: 3;
    padding-right: 15px;
    overflow-y: scroll;
    h4 {
      margin-top: 0;
    }
  }
  &__details {
    display: flex;
    flex: 2;
    padding-left: 15px;
    &__container {
      display: flex;
      flex: 1;
      flex-direction: column;
      border: 1px solid #ddd;
      border-radius: 4px;
      padding: 15px;
      &--empty {
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }
      & > h3 {
        margin-top: 0;
      }
    }
    &__dishes {
      max-height: 60%;
      overflow-y: scroll;
    }
    &__buttons {
      margin-top: auto;
    }
  }
}

.delivery-pricing-ruleset {
  padding-left: 0;
  &__rule {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    background-color: #fff;
    &__handle {
      flex: 1;
      text-align: center;
      cursor: grab;
      padding: 20px 0;
    }
    &__expression {
      flex: 8;
      padding-right: 15px;
      width: 0;
    }
    &__price {
      flex: 4;
    }
    &__remove {
      flex: 1;
      text-align: right;
    }
  }
}

.rule-picker {
  padding: 15px 15px 0 15px;
  border: 1px solid black;
  border-radius: 4px;
  &-preview {
    margin-top: 10px;
    pre {
      margin: 0;
      font-size: 11px;
      white-space: pre-wrap;
    }
  }
}


.react-autosuggest__suggestions-container--open {
  display: block;
  border: 1px solid #aaa;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  margin-bottom: 0;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #eee;
}

.text-monospace {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

#cart-top {
  a {
    margin-right: 0;
  }
}

#help {
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  table {
    width: 100%;
    th[align="center"] {
      text-align: center;
    }
    th[align="right"] {
      text-align: right;
    }
    th, td {
      padding: 5px 0;
    }
  }
}

.bike-icon {

  $icon-size: 48px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: $icon-size;
  height: $icon-size;
  margin: 0 auto;

  &--bike {
    background-image: url(../svg/noun_1149947_cc.svg);
  }

  &--cargo_bike {
    background-image: url(../svg/noun_1149946_cc.svg);
  }
}

.btn-group--vehicle {
  width: 100%;
  > label {
    min-width: 50%;
  }
}

.map-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  &__map {
    flex: 1;
  }
}

.restaurant-opening-hours {
  font-size: 12px;
}

// Make sure Google Place Autocomplete is always on top
// Fix for Bootstrap's modal
div.pac-container {
   z-index: 1050 !important;
}
