.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.display-inline-block {
  display: inline-block;
}

.flex-1 {
  flex: 1;
}

.nomargin {
  margin: 0;
}

.noborder {
  border: none;
}

.noradius {
  border-radius: 0;
}

.nopadding {
  padding: 0;
}
