.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.display-inline-block {
  display: inline-block;
}

.margin-top-s {
  margin-top: $base-margin-s;
}

.margin-top-md {
  margin-top: $base-margin;
}

.margin-top-l {
  margin-top: $base-margin-l;
}

.margin-left-l {
  margin-left: $base-margin-l;
}

.margin-bottom-md {
  margin-bottom: $base-margin;
}

.margin-bottom-l {
  margin-bottom: $base-margin-l;
}

.margin-right-md {
  margin-right: $base-margin;
}

.nomargin {
  margin: 0;
}

.noborder {
  border: none;
}

.noradius {
  border-radius: 0;
}

.nopadding {
  padding: 0;
}
