// Colors

$main-blue: #337ab7;
$main-blue-light: lighten($main-blue, 20%);

$orange: #d35400;
$light-orange: lighten($orange, 33.3333%);

$light-gray: #f5f5f5;
$gray: #ddd;
$white: #fff;

$red: #ff0033;
$dark: #06070f;
$yellow: #eeb516;
$blue: #ff0033;
$green: #558900;

// Bootstrap variable
$bs-input-height: 34px;
$bs-base-margin: 20px;
$screen-md-min: 768px;

// Length
$base-margin-l: $bs-base-margin * 2;
$base-margin: $bs-base-margin;
$base-margin-s: $base-margin / 2;
$base-margin-xs: $base-margin-s / 2;