// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";


// ---

// legacy variables (v3); todo get rid of them / move to defauls

// Colors

$main-blue: #337ab7;
$main-blue-light: lighten($main-blue, 20%);
$main-blue-dark: darken($main-blue, 20%);

$orange: #d35400;
$light-orange: lighten($orange, 33.3333%);

$light-gray: #f5f5f5; // Colors/Color Grayscale/grayscale-50
$gray-100: #E3E3E3; // Colors/Color Grayscale/grayscale-100
$gray: #ddd;
$gray-300: #ABABAB; // Colors/Color Grayscale/grayscale-300
$dark-gray: #95A5A6;
$white: #fff;

$red: #ff0033;
$light-red: lighten($red, 33.3333%);
$dark: #06070f;
$yellow: #eeb516;
$green: #558900;

$text-green: #0DA136; // alert/alert-text-green


$brand-primary: $main-blue;

$primary-default: #E4022D;
$primary-desactivated: #FF7A94;


// Scaffolding

$text-color: #2B2B2B; // tab/tab-text

// Typography

$font-family-base: "Open Sans", Helvetica, Arial, sans-serif;

// Components

$bs-base-margin: 20px;

$bs-input-height: 34px;

// Length
$base-margin-l: $bs-base-margin * 2;
$base-margin: $bs-base-margin;
$base-margin-s: $base-margin * 0.5;
$base-margin-xs: $base-margin-s * 0.5;

$alert-info-bg: #EBF1FF;
$alert-info-border: #CEDFFF;
$alert-info-text: #3D7DFA;

$modal-title-padding: 1rem;
$modal-inner-padding: 1rem;
$modal-padding-md: 1.5rem;


// Media queries breakpoints
$screen-xl-min: 1200px;
$screen-xxl-min: 1400px;

// Grid containers
$container-md: 720px; // match the default v5 screen-md container width


// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  768px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;

$font-size-large:         ceil((14px * 1.25)) !default; // ~18px
$font-size-h2:            floor((14px * 2.15)) !default; // ~30px
$font-size-h4:            ceil((14px * 1.25)) !default; // ~18px

$cursor-disabled:                not-allowed !default;

$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$navbar-height:                    50px !default;

$form-group-margin-bottom:       15px !default;

$line-height-computed:    floor((14px * $line-height-base)) !default; // ~20px

$input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2) !default;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$brand-info:            #5bc0de !default;
$brand-danger:          #d9534f !default;

$nav-link-hover-bg:                         $gray-lighter !default;

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;

$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-text:           $state-danger-text !default;
$alert-danger-border:         $state-danger-border !default;

$label-info-bg:               $brand-info !default;
$label-color:                 #fff !default;

//** `<input>` background color
$input-bg:                       #fff !default;
//** `<input disabled>` background color
$input-bg-disabled:              $gray-lighter !default;
$input-border:                   #ccc !default;
$input-border-focus:             #66afe9 !default;

@mixin opacity($opacity) {
  $opacity-ie: ($opacity * 100);  // IE8 filter
  filter: alpha(opacity=$opacity-ie);
  opacity: $opacity;
}
