// Colors

$main-blue: #337ab7;
$main-blue-light: lighten($main-blue, 20%);

$orange: #d35400;
$light-orange: lighten($orange, 33.3333%);

$light-gray: #f5f5f5;
$gray: #ddd;
$white: #fff;

// Bootstrap variable
$bs-input-height: 34px;
$bs-base-margin: 20px;
$screen-xs-min: 480px;