.override__form {
  display: flex;
  flex-direction: column;
  gap: 1em; 
  width: 100%;

  &__variant-name,
  &__variant-price {
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    width: 100%;

    &___label {
      width: 30%; 
      padding-right: 1em; 
    }

    &___input {
      width: 70%; 
      
    }
  }
}
