body {
    font-family: "Arvo", Helvetica, Arial, sans-serif;
}

#topnav {

}

#search {
    margin-top: -20px;
    padding: 40px 0;
    background-color: #ecf0f1;
}

#cart .list-group-item .close {
    margin-left: 10px;
}

#map-wrapper {
    padding: 20px 0;
}

/* @link http://stackoverflow.com/questions/11122249/scale-iframe-css-width-100-like-an-image/12121929#12121929 */
.iframe-responsive-wrapper        {
    position: relative;
}

.iframe-responsive-wrapper .iframe-ratio {
    display: block;
    width: 100%;
    height: auto;
}

.iframe-responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#payment-form, .card {
    margin: 40px 0;
}