<button class="btn btn-default dropdown-toggle" type="button" id="deliveries-sort"
  data-toggle="dropdown"
  aria-haspopup="true" aria-expanded="true">
  {% if deliveries.isSorted('d.createdAt') %}
    {% if deliveries.direction == 'asc' %}
      {{ 'deliveries.sort.oldest'|trans }}
    {% else %}
      {{ 'deliveries.sort.newest'|trans }}
    {% endif %}
  {% endif %}
  <span class="caret"></span>
</button>
<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="deliveries-sort">
  <li>{{ knp_pagination_sortable(deliveries, 'deliveries.sort.newest'|trans, 'd.createdAt', {}, { direction: 'desc' } )|raw }}</li>
  <li>{{ knp_pagination_sortable(deliveries, 'deliveries.sort.oldest'|trans, 'd.createdAt', {}, { direction: 'asc' } )|raw }}</li>
</ul>
