<style>
  .transporter-event-timeline .list-group-item .actions {
    float: right;
  }
  .transporter-event-timeline .list-group-item {
    padding-left: 12px;
  }
  .transporter-event-timeline .list-group-item.unsynced {
    border-left: 2px solid grey;
    padding-left: 10px;
  }
</style>
{% if delivery.store is not empty and delivery.store.isTransporterEnabled %}
{% set importMessage = delivery.getDropoff().getImportMessage() %}
{% set ediMessages = delivery.getEdifactMessagesTimeline() %}
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Transporter</h3>
  </div>
  <div class="panel-body">
    {% if importMessage %}
      <svg class="barcode img-thumbnail img-responsive center-block"
          jsbarcode-format="code128"
          jsbarcode-height="60"
          jsbarcode-value="{{ importMessage.getReference() }}"/>
    {% endif %}
    <h4>Event timeline</h4>
    <div {{ react_component('Transporter/TransporterTimeline', {
        'ediMessages': ediMessages|serialize
        }) }}></div>
  </div>
</div>
{% endif %}
