@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.CodeMirror {
  height: 400px;
}

.coopcycle-mdx-editor-light {
  color: #000000;
}

.coopcycle-mdx-editor-dark {
  color: #ffffff;
}

// Can be imported twice
// @import './swiper-homepage.scss'
