@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.CodeMirror {
  height: 400px;
}

.codex-editor {
  .swiper {
    z-index: 0;
  }
}

// Can be imported twice
// @import './swiper-homepage.scss'
