@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.CodeMirror {
  height: 400px;
}

.codex-editor {
  .swiper {
    z-index: 0;
  }
}

// https://github.com/codex-team/editor.js/discussions/1891#discussioncomment-1983770
.ce-block__content,
.ce-toolbar__content {
  max-width: 850px;
}

// Can be imported twice
// @import './swiper-homepage.scss'
