<section class="homepage-restaurants">
	<div class="container">
		<div class="d-flex flex-row justify-content-between align-items-center py-4">
			<h3 class="m-0">{{ section_title }}</h3>
			{% if show_more %}
				<a class="restaurant-show-more" href="{{ view_all_path }}">{{ view_all }}<i class="fa fa-arrow-right ml-2"></i>
				</a>
			{% endif %}
		</div>
		<div class="row restaurant-list mb-4 px-4">
			<div class="swiper">
				<div class="swiper-wrapper">
					{% for restaurant in items %}
						{% set restaurant_path_params = {} %}
						{% if address is defined and address is not empty %}
							{% set restaurant_path_params = restaurant_path_params|merge({ address: address }) %}
						{% endif %}
						<div class="swiper-slide">
							{% include "components/restaurant_card/restaurant_card.html.twig" with {
                url: local_business_path(restaurant, restaurant_path_params),
                image: coopcycle_asset(restaurant, 'imageFile', 'restaurant_thumbnail')|placeholder_image('restaurant_thumbnail'),
                name: restaurant.name,
                description: restaurant.description,
                address: restaurant.address.streetAddress,
                fulfillment_timing_url: path('restaurant_fulfillment_timing', { id: restaurant.id }),
                should_show_pre_order: should_show_pre_order(restaurant),
				tags: restaurant_tags(restaurant),
				badges: restaurant_badges(restaurant),
				banner_image: coopcycle_asset(restaurant, 'bannerImageFile', 'restaurant_banner')|placeholder_image(filter='restaurant_banner', obj=restaurant)
              } %}
						</div>
					{% endfor %}
				</div>
				<button class="btn swiper-nav-prev d-none d-sm-block">
					<i class="fa fa-arrow-left"></i>
				</button>
				<button class="btn swiper-nav-next d-none d-sm-block">
					<i class="fa fa-arrow-right"></i>
				</button>
			</div>
		</div>
	</div>
</section>
