{% set role_icon = {
  'ROLE_ADMIN':      'lock',
  'ROLE_DISPATCHER': 'code-fork',
  'ROLE_COURIER':    'bicycle',
  'ROLE_RESTAURANT': 'cutlery',
  'ROLE_STORE':      'shopping-cart',
  'ROLE_USER':       'user',
} %}

<span class="role-icons">
{% for role in user.roles %}
  {% if role_icon[role] is defined %}
    <i class="fa fa-lg fa-{{ role_icon[role] }}" title="{{ ('roles.' ~ role)|trans }}"></i>
  {% else %}
    {{ role }}
  {% endif %}
{% endfor %}
</span>
