{% set variant = product|sylius_resolve_variant %}
{% set product_image = null %}
{% set images_1x1 = product.images|filter(image => image.ratio == '1:1') %}
{% if images_1x1|length > 0 %}
  {% set product_image = coopcycle_asset(images_1x1|first, 'imageFile', 'product_thumbnail', true, true) %}
{% endif %}

<span class="menu-item-inner">
  <span class="menu-item-content-wrapper">
    <span class="menu-item-content">
      {% include '_partials/restaurant/menu_item_content.html.twig' %}
    </span>
    <span class="d-flex align-items-center">
      <span class="menu-item-price">
        {{ variant.price|price_format }}
      </span>
      {% if product.isReusablePackagingEnabled() %}
      <span class="label label-info ml-2">{{ 'restaurant.list.tags.zerowaste'|trans }}</span>
      {% endif %}
    </span>
  </span>
  <span class="menu-item-image-wrapper">
  {% if product_image is not empty %}
    <img src="{{ product_image }}">
  {% endif %}
  </span>
</span>
