<h4>
  {% trans %}form.local_business.mercadopago_account.title{% endtrans %}
</h4>

<table class="table">
  {% set mercadopago_account = restaurant.getMercadopagoAccount() %}
  <tr>
    <td>
      {% if mercadopago_account is not empty %}
        <span class="label label-success">Connected</span>
      {% else %}
        <a href="{{ path(mercadopago_oauth_redirect_route, { id: restaurant.id }) }}" class="btn btn-sm mercadopago-connect">
          <span>{{ 'form.local_business.mercadopago.connect_button.text'|trans }}</span>
        </a>
      {% endif %}
    </td>
    <td></td>
  </tr>
  {# TODO Allow connecting live account #}
</table>
