{% if count == 0 %}
	{# empty state to be shown after an ajax request #}
	<div class="col-md-6 col-md-offset-3 alert alert-warning text-center">
		{{ 'restaurants.no_results'|trans|raw }}
	</div>
{% else %}
	{% for restaurant in restaurants %}
		{% set restaurant_path_params = {} %}
		{% if address is defined and address is not empty %}
			{% set restaurant_path_params = restaurant_path_params|merge({ address: address }) %}
		{% endif %}
		{% include "components/restaurant/card/restaurant_card.html.twig" with {
      url: local_business_path(restaurant, restaurant_path_params),
      image: coopcycle_asset(restaurant, 'imageFile', 'restaurant_thumbnail')|placeholder_image('restaurant_thumbnail'),
      name: restaurant.name,
      description: restaurant.description,
      address: restaurant.address.streetAddress,
      fulfillment_timing_url: path('restaurant_fulfillment_timing', { id: restaurant.id }),
      should_show_pre_order: should_show_pre_order(restaurant),
      tags: restaurant_tags(restaurant),
      badges: restaurant_badges(restaurant),
      banner_image: coopcycle_asset(restaurant, 'bannerImageFile', 'restaurant_banner')|placeholder_image(filter='restaurant_banner', obj=restaurant)
    } %}
	{% endfor %}
{% endif %}
