.delivery-pricing-ruleset {

  $bgcolor: #FFEFCF;

  padding-left: 0;
  margin-bottom: 30px;

  &__rule {

    margin-bottom: 15px;
    font-family: 'Roboto Mono', monospace;
    list-style: none;

    background-color: $bgcolor;
    color: darken($bgcolor, 50%);
    padding-top: 15px;

    &__main {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid darken($bgcolor, 25%);
    }

    &__handle {
      text-align: center;
      cursor: grab;
      padding: 20px;
    }
    &__remove {
      text-align: right;
    }
    &__price {
      padding: 10px 15px;
      .form-control {
        background-color: darken($bgcolor, 5%);
        border: 2px dashed darken($bgcolor, 50%);
        box-shadow: none;
        color: darken($bgcolor, 50%);
      }
    }
    .btn {
      background-color: darken($bgcolor, 5%);
      border-color: darken($bgcolor, 50%);
      color: darken($bgcolor, 50%);
    }
  }
}
