<a href="#" class="btn btn-default" data-toggle="modal" data-target="#export-deliveries-modal">
  <i class="fa fa-upload"></i> {% trans %}basics.import{% endtrans %}
</a>
<span {{ react_component('Delivery/DeliveriesProofs', {
  store_id: store.id
}) }}></span>
{% include '_partials/delivery/create_new_button.html.twig' %}
