{% if store is defined %}
  <div class="d-flex align-items-center justify-content-between">
    <h3 class="m-0 font-weight-bold">{{ 'stores.orders'|trans }}</h3>
    <div>
      {% include "store/_partials/buttons.html.twig" %}
    </div>
  </div>
{% endif %}
