<div id="delivery-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form method="post" class="form-horizontal">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">
            {% trans %}Delivery{% endtrans %} #<span data-delivery></span>
          </h4>
        </div>
        <div class="modal-body">

          <div class="alert alert-info" data-action="dispatch">
            {% trans %}Please choose a courier in the list below{% endtrans %}
            <br>
            {% trans %}The delivery will appear in his planning{% endtrans %}
          </div>
          <div class="alert alert-warning" data-action="pick">
            {% trans %}This delivery will be considered as picked{% endtrans %}
            <br>
            {% trans %}This action cannot be undone{% endtrans %}
          </div>
          <div class="alert alert-warning" data-action="deliver">
            {% trans %}This delivery will be considered as delivered{% endtrans %}
            <br>
            {% trans %}This action cannot be undone{% endtrans %}
          </div>

          {% if couriers is defined %}
          <div class="form-group" data-action="dispatch">
            <label for="courier" class="col-sm-2 control-label">
              {% trans %}Courier{% endtrans %}
              </label>
            <div class="col-sm-10">
              <select name="courier" class="form-control">
                <option></option>
                {% for courier in couriers %}
                  <option value="{{ courier.id }}">
                    {{ courier.username }}
                  </option>
                {% endfor %}
              </select>
            </div>
          </div>
          {% endif %}

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            {% trans %}Cancel{% endtrans %}
          </button>
          <button type="submit" class="btn btn-primary">
            {% trans %}Validate{% endtrans %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
