.override__form {
  display: flex;
  flex-direction: column;
  gap: 1em; 
  width: 100%;
  background-color: #f3f2f2f8;

  &__variant-name,
  &__variant-price {
    display: flex;
    flex-direction: row;
    align-items: baseline; 
    width: 100%;

    &___label {
      width: 30%; 
      padding-right: 1em; 
    }

    &___input {
      width: 70%; 
      
    }
  }
}

.total__price{
  font-size: 1.2em;
}

