.rule-picker {
  padding: 15px 15px 0 15px;
  border: 1px solid black;
  border-radius: 4px;
  &-preview {
    margin-top: 10px;
    pre {
      margin: 0;
      font-size: 11px;
      white-space: pre-wrap;
    }
  }
}
