<div class="d-flex flex-row justify-content-between py-4">
  {% if form.cancel is defined %}
    {{ form_widget(form.cancel, { attr: { class: 'btn btn-danger' } }) }}
  {% endif %}
  {% if form.refuse is defined %}
    {{ form_widget(form.refuse, { attr: { class: 'btn btn-danger' } }) }}
  {% endif %}
  {% if form.accept is defined %}
    {{ form_widget(form.accept, { attr: { class: 'btn btn-success' } }) }}
  {% endif %}
  {% if form.fulfill is defined %}
    {{ form_widget(form.fulfill, { attr: { class: 'btn btn-success' } }) }}
  {% endif %}
</div>
