<div class="text-center" style="background-color: #fff; padding: 15px; margin: 10px; border: 1px solid #eee;">
  <strong class="text-success">{% trans with { '%time%': asap|date_calendar } %}order.delivery_time{% endtrans %}</strong>
</div>
