<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block subject %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway:400,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Mono:400,700">
  </head>
  <body>
    <table style="width:80%; margin: auto;">
      <tbody>
        <td>
          {# Header #}
          <table style="height:60px;background-color:#f5f5f5;margin-bottom: 40px; width:100%;padding: 20px 0;">
            <tbody style="text-align: center;">
              <td>
                <span style="font-family: 'Raleway', Arial, sans-serif; font-weight: 400; font-size: 24px;">{{ coopcycle_setting('brand_name') }}</span>
              </td>
            </tbody>
          </table>
          {# Content #}
          <table style="padding:0 20px; margin: auto;">
            <tbody>
              <td style="font-family: 'Open Sans', Arial, sans-serif; font-weight: 400; font-size: 14px;">
                {% block content %}
                  {{ raw_content | raw }}
                {% endblock %}
              </td>
            </tbody>
          </table>
          {# Footer #}
          <table style="height:50px;background-color:#f5f5f5;margin-top: 40px;width:100%;padding: 20px 0;">
            <tbody>
              <tr style="text-align: center;">
                <td>
                  <span style="font-family: 'Open Sans', Arial, sans-serif; font-weight: 400; font-size: 14px;">
                    {{ 'basics.powered_by'|trans|raw }}
                  </span>
                </td>
              </tr>
              <tr style="text-align: center;">
                <td>
                  <img alt="Logo CoopCycle" title="Logo CoopCycle" style="display:block; margin: 10px auto 0 auto;" width="24" height="24" src="cid:logo">
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tbody>
    </table>
  </body>
</html>
