{% if type == "allergen" %}
  <div class="product-badge-wrapper product-badge-allergen">
    <i class="fa fa-warning"></i> <small class="product-badge-text product-badge-text--compact">{{ value }}</small>
  </div>
{% elseif type == "restricted_diet" %}
  <div class="product-badge-wrapper product-badge-restricted-diet">
    <i class="fa fa-leaf"></i> <small class="product-badge-text product-badge-text--compact">{{ value }}</small>
  </div>
{% elseif type == "reusable_packaging" %}
  <div class="product-badge-wrapper product-badge-reusable-packaging">
    <small class="product-badge-text product-badge-text--compact">{{ 'restaurant.list.tags.zerowaste'|trans }}</small>
  </div>
{% endif %}
