{% extends 'restaurant/layout.html.twig' %}

{% block content %}
    <div id="adhoc-order"
        data-tax-categories="{{ taxCategories|json_encode|e('html_attr') }}">
    </div>
{% endblock %}

{% block styles %}
{{ encore_entry_link_tags('adhoc-order') }}
{% endblock %}

{% block scripts %}
  {{ encore_entry_script_tags('adhoc-order') }}
{% endblock %}