{% extends "base.html.twig" %}

{% block menu %}
  {% include "dashboard/nav.html.twig" %}
{% endblock %}

{% block banner %}
{% endblock %}

{% block body %}
<section class="dashboard-subnav px-4 py-3">
  {% block subnav %}{% endblock %}
  {% block dashboard_subnav %}{% endblock %}
</section>
{% if block('dashboard_actions') %}
  <section class="dashboard-actions py-3">
      <div class="container container--full-height">
        {% block dashboard_actions %}{% endblock %}
      </div>
  </section>
{% endif %}
<div class="container-fluid container--full-height mt-4">
  <div class="row">
    <div class="col-md-12">
      {% block content %}{% endblock %}
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block styles %}
  {{ encore_entry_link_tags('widgets-admin') }}
{% endblock %}

{% block scripts_common %}
  {{ encore_entry_script_tags('widgets-admin') }}
  {% block scripts %}{% endblock %}
{% endblock %}
