{% extends "admin.html.twig" %}

{% block body %}
<div class="container-fluid container--full-height">
  <ol class="breadcrumb">
    <li><a href="{{ path('admin_index') }}">{% trans %}adminDashboard.title{% endtrans %}</a></li>
    {% block breadcrumb %}
    <li><a href="{{ path('admin_deliveries') }}">{% trans %}adminDashboard.deliveries.title{% endtrans %}</a></li>
    {% endblock %}
  </ol>
  <div class="mb-4">
    <div class="row">
      <div class="col-sm-3">
        {% include 'admin/_partials/deliveries_nav.html.twig' %}
      </div>
      <div class="col-sm-9">
      {% block content %}
      {% endblock %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
