{% extends 'delivery/form.html.twig' %}

{% block breadcrumb %}

  {% if is_granted('ROLE_DISPATCHER') %}
    {% set store = delivery.store %}

    <li><a href="{{ path('admin_stores') }}">{% trans %}adminDashboard.stores.title{% endtrans %}</a></li>
    <li><a href="{{ path('admin_store', { id: store.id }) }}">{{ store.name }}</a></li>
    <li>{% trans %}subscriptions.title{% endtrans %}</li>
    <li>#{{ subscription.id }}</li>
  {% endif %}

{% endblock %}

{% if is_granted('ROLE_DISPATCHER') %}
  {% set title = 'subscription.title'|trans({ '%id%': subscription.id }) %}
{% endif %}
