services:

  _defaults:
    autowire: true
    autoconfigure: true

  AppBundle\Twig\:
    resource: '../../../src/Twig/*'

  AppBundle\Twig\AppearanceRuntime:
    arguments:
      $logoFallback: '%kernel.project_dir%/web/img/logo.png'
      $assetsFilesystem: '@assets_filesystem'

  AppBundle\Twig\AssetsRuntime:
    arguments:
      $assetsFilesystem: '@assets_filesystem'

  AppBundle\Twig\TaxRateRuntime:
    arguments:
      $taxRateRepository: '@sylius.repository.tax_rate'

  AppBundle\Twig\OrderRuntime:
    arguments:
      $redis: '@snc_redis.default'
      $locale: '%env(COOPCYCLE_LOCALE)%'

  Twig\Extra\Intl\IntlExtension:
    tags:
      - { name: twig.extension }

  Twig\Extra\String\StringExtension:
    tags:
      - { name: twig.extension }

  AppBundle\Twig\CacheExtension\KeyGenerator: ~

  Twig\Extra\Cache\CacheRuntime:
    arguments:
      $cache: '@twig.cache'
    tags:
      - { name: twig.runtime }

  Twig\Extra\Cache\CacheExtension:
    tags:
      - { name: twig.extension }

  AppBundle\Twig\OAuthRuntime:
    arguments:
      $key: '%env(COOPCYCLE_OAUTH2_PROXY_JWT_KEY)%'
      $proxyUri: '%env(COOPCYCLE_OAUTH2_PROXY_URI)%'
      $enabled: '%env(bool:COOPCYCLE_OAUTH2_PROXY_ENABLED)%'
