{% extends "AppBundle::profile.html.twig" %}


{% block content %}
<h2 class="page-header">{% trans %}My addresses{%  endtrans %}</h2>
  {% if addresses is empty %}
    <div class="alert alert-warning">
      {%  trans %}profile.addresses.empty{%  endtrans %}
    </div>
  {% else %}
    <table class="table">
      <tbody>
        {% for address in addresses %}
        <tr>
          <td>{{ address.id }}</td>
          <td>{{ address.streetAddress }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {%  endif %}
<a class="btn btn-success" href="{{ path('profile_address_new') }}">{% trans %}Add{%  endtrans %}</a>
{% endblock %}

{% block scripts %}
{% endblock %}
