{% extends "AppBundle::base.html.twig" %}

{% block title %}AppBundle:Index:index{% endblock %}

{% block body %}
<div class="row">

  <div class="col-xs-12 col-sm-8">

    <div class="page-header">
      <h1>Mes adresses</h1>
    </div>

    <div class="list-group">
      {% for address in addresses %}
      <a href="#" class="list-group-item">
        {{ address.streetAddress }}
        {# <span class="pull-right">{{ order.total }} €</span> #}
      </a>
      {% endfor %}
    </div>

    <a class="btn btn-success" href="{{ path('profile_address_new') }}">Ajouter</a>

  </div>

  {# <div class="col-xs-12 col-sm-4">
    <h2>Panier</h2>
    <div id="cart"></div>
    <hr>
    <a href="{{ path('order') }}" class="btn btn-block btn-primary">Commander</a>
  </div> #}

</div>
{% endblock %}

{% block scripts %}
{% endblock %}