{% extends "AppBundle::profile.html.twig" %}

{% block content %}
<h2>{%  trans %}My addresses{%  endtrans %}</h2>
<table class="table">
  <tbody>
  {% for address in addresses %}
  <tr>
    <td>{{ address.id }}</td>
    <td>{{ address.streetAddress }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<a class="btn btn-success" href="{{ path('profile_address_new') }}">{% trans %}Add{%  endtrans %}</a>
{% endblock %}

{% block scripts %}
{% endblock %}
