{% extends "AppBundle::profile.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}
    <h2 class="page-header">
      {% trans %}Edit profile{%  endtrans %}
    </h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-block btn-primary">{% trans %}Save{% endtrans %}</button>
    {{ form_end(form) }}
{% endblock %}
