<div class="panel panel-default">
  <div class="panel-heading"><i class="fa fa-user"></i>  {% trans %}User{% endtrans %}</div>
  <div class="list-group">
    <a href="{{ path('fos_user_profile_show') }}" class="list-group-item">{% trans %}My account{% endtrans %}</a>
    <a href="{{ path('profile_orders') }}" class="list-group-item">{% trans %}My orders{% endtrans %}</a>
    <a href="{{ path('profile_addresses') }}" class="list-group-item">{% trans %}My addresses{% endtrans %}</a>
    <a href="{{ path('fos_user_security_logout') }}" class="list-group-item list-group-item-danger"><span>
      {% trans from 'FOSUserBundle' %}layout.logout{% endtrans %}
    </a>
  </div>
</div>


