{% extends "AppBundle::base.html.twig" %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>Nouvelle adresse</h1>
      </div>
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}