{% extends "@App/profile.html.twig" %}

{% block content %}
<h2 class="page-header">{% trans %}profile.myOrders{% endtrans %}</h2>
{% include "@App/profile/orders.pagination.html.twig" %}
  {% if orders is empty %}
    <div class="alert alert-warning">
      {%  trans %}profile.orders.empty{%  endtrans %}
    </div>
  {% else %}
    {% include "@App/_partials/order/list.html.twig" %}
  {% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}
