{% extends "AppBundle::profile.html.twig" %}

{% block content %}
<div class="page-header">
  <h1>Mes commandes</h1>
</div>
<table class="table">
  <tbody>
  {% for order in orders %}
  <tr>
    <td>{{ order.restaurant.name }}</td>
    <td>{{ order.createdAt|ago }}</td>
    <td><span class="pull-right">{{ order.total }} €</span></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% include "AppBundle:Profile:orders.pagination.html.twig" %}
{% endblock %}

{% block scripts %}
{% endblock %}