{% extends "AppBundle::profile.html.twig" %}

{% block content %}
<h2 class="page-header">{% trans %}My orders{% endtrans %}</h2>
{% include "AppBundle:Profile:orders.pagination.html.twig" %}
  {% if orders is empty %}
    <div class="alert alert-warning">
      {%  trans %}profile.orders.empty{%  endtrans %}
    </div>
  {% else %}
    {% include "AppBundle::_partials/Order/list.html.twig" %}
  {% endif %}
{% endblock %}

{% block scripts %}
{% endblock %}
