{% extends "AppBundle::profile.html.twig" %}

{% block content %}
  <h2 class="page-header">{% trans %}Payment{% endtrans %}</h2>
  {% if stripe_user_id is not empty %}
    <div class="alert alert-success">{% trans %}Your Stripe account is connected{% endtrans %}</div>
  {% endif %}
  <a href="{{ stripe_authorize_url }}" class="btn btn-success">Connect with Stripe</a>
{% endblock %}

{% block scripts %}
{% endblock %}