{% extends "AppBundle::profile.html.twig" %}

{% block content %}
<h2 class="page-header">{% trans %}profile.myRestaurants{% endtrans %}</h2>

{% if restaurants|length > 0 %}
  {% include "AppBundle::_partials/Restaurant/list.html.twig" %}
{% else %}
  <div class="alert alert-warning">{% trans %}profile.myRestaurants.noRestaurants{% endtrans %}</div>
{% endif %}

<a href="{{ path('profile_restaurant_new') }}" class="btn btn-success">
  <i class="fa fa-plus"></i> {% trans %}profile.myRestaurants.createNew{% endtrans %}
</a>

{% endblock %}

{% block scripts %}
<script src="{{ asset('js/widgets.js') }}"></script>
<script>
document.querySelectorAll('.restaurant-opening-hours').forEach(function(el) {
  new CoopCycle.OpeningHoursParser(el, {
    openingHours: JSON.parse(el.getAttribute('data-opening-hours')),
    locale: $('html').attr('lang')
  })
})
</script>
{% endblock %}
