{% extends "@App/profile.html.twig" %}

{% block content %}
<h2 class="page-header">{% trans %}profile.myRestaurants{% endtrans %}</h2>

{% if restaurants|length > 0 %}
  {% include "@App/_partials/restaurant/list.html.twig" %}
{% else %}
  <div class="alert alert-warning">{% trans %}profile.myRestaurants.noRestaurants{% endtrans %}</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
document.querySelectorAll('.restaurant-opening-hours').forEach(function(el) {
  new CoopCycle.OpeningHoursParser(el, {
    openingHours: JSON.parse(el.getAttribute('data-opening-hours')),
    locale: $('html').attr('lang')
  })
})
</script>
{% endblock %}
