{% extends "AppBundle::profile.html.twig" %}

{% block content %}
  <h2 class="page-header">{% trans %}profile.payment.title{% endtrans %}</h2>

  <div class="alert alert-info">Vous pouvez connecter plusieurs comptes Stripe</div>

  {% if stripe_accounts|length == 0 %}
    <div class="alert alert-warning">Vous n'avez pas encore connecté de compte Stripe</div>
  {% else %}
  <table class="table">
    <thead>
      <th>Nom</th>
      <th>Activé</th>
      <th class="text-right">Connecté le</th>
    </thead>
    {% for stripe_account in stripe_accounts %}
      <tr>
        <td>{{ stripe_account.displayName }}</td>
        <td>{{ stripe_account.transfersEnabled ? 'Oui' : 'Non' }}</td>
        <td class="text-right">{{ stripe_account.createdAt|localizeddate('short', 'short') }}</td>
      </tr>
    {% endfor %}
  </table>
  {% endif %}

  <div class="text-right">
    <a href="{{ stripe_authorize_url }}" class="stripe-connect">
      <span>Connexion avec Stripe</span>
    </a>
  </div>

{% endblock %}

{% block scripts %}
{% endblock %}
