{% extends "@App/base.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.users.title{% endtrans %}</li>
<li>{{ user.username }}</li>
{% endblock %}

{% block body %}
  <div class="container">
  {% include "@App/_partials/user/public.html.twig" %}
  </div>
{% endblock %}
