{% set variant = product|sylius_resolve_variant %}
{% set product_image = coopcycle_asset(product, 'imageFile', 'product_thumbnail') %}

<span class="menu-item-inner">
  <span class="menu-item-content-wrapper">
    <span class="menu-item-content">
      {% include '@App/_partials/restaurant/menu_item_content.html.twig' %}
    </span>
    <span class="menu-item-price">
      {{ variant.price|price_format }}
    </span>
  </span>
  <span class="menu-item-image-wrapper">
  {% if product_image is not empty %}
    <img src="{{ product_image }}">
  {% endif %}
  </span>
</span>
