{% if order.fulfillmentMethod is not empty and order.fulfillmentMethod == 'collection' %}
  <i class="fa fa-cube mr-2"></i>
{% else %}
  <i class="fa fa-bicycle mr-2"></i>
{% endif %}
<span>
{% if order.hasVendor() %}
  {% if order.isMultiVendor() %}
    {% trans with {
        '%name%': order.vendor.name
      } %}order.list.summary.hub.text{% endtrans %}
  {% else %}
    {% if order.vendor.deleted %}
      {% trans with {
        '%restaurant_name%': order.vendor.name
      } %}order.list.summary.deleted_restaurant.text{% endtrans %}
    {% else %}
      {% trans with {
        '%restaurant_url%': path(routes.restaurant, { id: order.vendor.id }),
        '%restaurant_name%': order.vendor.name
      } %}order.list.summary.restaurant.text{% endtrans %}
    {% endif %}
    {% if order.notes %}
      <i title='{% trans %}order.notes{% endtrans %}' class="fa fa-comments ml-2"></i>
    {% endif %}
  {% endif %}
{% else %}
  {% for item in order.items %}
    {{ item.variant.name }}
  {% endfor %}
{% endif %}
</span>
