<!doctype html> <!-- Important: must specify -->
<html>
  <head>
    <title>{% if title %}{{ title }} - {% endif %}API Documentation</title>
    <meta charset="utf-8"> <!-- Important: rapi-doc uses utf8 charecters -->
    <script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js"></script>
  </head>
  <body>
    <rapi-doc
      spec-url="/api/docs.json"
      show-header="false"
      render-style="read"
      allow-try="false"
      theme="dark"
      schema-style="table">
      <img
        slot="nav-logo"
        src="https://coopcycle.org/images/logo.svg"
        width="64"
        height="64" />
    </rapi-doc>
  </body>
</html>
