name = "CoopCycle"
client_id = "YOUR_SHOPIFY_APP_CLIENT_ID"
application_url = "https://YOUR_GATEWAY_URL/shopify/install"
embedded = false

[access_scopes]
scopes = "read_orders,write_fulfillments,read_fulfillments,write_shipping,write_delivery_customizations,read_delivery_customizations"

[auth]
redirect_urls = [
  "https://YOUR_GATEWAY_URL/shopify/callback"
]

[build]
automatically_update_urls_on_dev = false
dev_store_url = ""

[webhooks]
api_version = "2025-10"

[pos]
embedded = false
