{% if coopcycle_banner() %}
  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <i class="fa fa-warning"></i> {{ coopcycle_banner_message() }}
        </div>
      </div>
    </div>
  </section>
{% endif %}
