{% trans_default_domain 'NucleosUserBundle' %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
          <form action="{{ path('nucleos_user_resetting_send_email') }}" method="POST" class="nucleos_user_resetting_request">
              <div class="form-group">
                  <label for="username">{{ 'resetting.request.username'|trans }}</label>
                  <input class="form-control" type="text" id="username" name="username" required="required" />
              </div>
              <div>
                  <input class="btn btn-primary" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
              </div>
          </form>
        </div>
      </div>
    </div>
</div>
