{% extends "frontend.html.twig" %}

{% block body %}
  {% block nucleos_user_content %}
  <div class="mx-auto px-4">
    <div class="flex justify-center my-8">
      {% include "@NucleosUser/Resetting/reset_content.html.twig" %}
    </div>
  </div>
  {% endblock nucleos_user_content %}
{% endblock %}
