{% trans_default_domain 'NucleosUserBundle' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-body">
        {{ form_start(form, { 'action': path('nucleos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'nucleos_user_resetting_reset' } }) }}
          {{ form_widget(form.plainPassword) }}
          {{ form_widget(form.save, { attr: { class: 'btn btn-block btn-lg btn-primary' } }) }}
        {{ form_end(form) }}
        </div>
      </div>
    </div>
</div>
