{% extends "base.html.twig" %}

{% block body %}
  {% block nucleos_user_content %}
  <div class="container">
  {% include "@NucleosUser/Resetting/reset_content.html.twig" %}
  </div>
  {% endblock nucleos_user_content %}
{% endblock %}
