{% trans_default_domain 'NucleosUserBundle' %}

{% form_theme form '@DaisyuiForm/form/daisyui_layout.html.twig' %}

<div class="w-1/2">
  {{ form_start(form, { 'action': path('nucleos_user_resetting_reset', { token: token }) }) }}
    {{ form_widget(form.plainPassword) }}
    {{ form_widget(form.save, { attr: { class: 'btn btn-block btn-lg btn-primary' } }) }}
  {{ form_end(form) }}
</div>
