<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <img src="{{ path('user_avatar', { username: app.user.username }) }}" width="20" height="20">  {{ app.user.username }} <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      {# NB: ROLE_ADMIN is also ROLE_COURIER (couriers are admins ;)) #}
      {% if is_granted('ROLE_COURIER') %}
        {% set mainAccountPath = 'profile_tasks' %}
      {% elseif is_granted('ROLE_STORE') %}
        {% set mainAccountPath = 'profile_stores' %}
      {% elseif is_granted('ROLE_RESTAURANT') %}
        {% set mainAccountPath = 'profile_restaurants' %}
      {% else %}
        {% set mainAccountPath = 'fos_user_profile_show' %}
      {% endif %}
      <a href="{{ path(mainAccountPath) }}">
        {% trans %}navbar.myAccount{% endtrans %}
      </a>
    </li>
    <li role="separator" class="divider"></li>
    <li><a href="{{ path('fos_user_security_logout') }}">{% trans from 'FOSUserBundle' %}layout.logout{% endtrans %}</a></li>
  </ul>
</li>
<li>
  <a href="#" id="notifications">
    <span class="badge">0</span>
  </a>
</li>
