<p><strong>{% trans %}profile.username{%  endtrans %}</strong>: {{ user.username }}</p>
<p><strong>{% trans %}profile.familyName{%  endtrans %}</strong>: {{ user.familyName }}</p>
<p><strong>{% trans %}profile.givenName{%  endtrans %}</strong>: {{ user.givenName }}</p>
