name: Lint PHP
on: push
env:
  APP_ENV: test
  NODE_ENV: test
jobs:
  LINT_PHP:
    name: Lint PHP
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php_version:
          - '8.2'
          - '8.3'
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php_version }}
          tools: composer:v2, phpstan:1
          extensions: redis
      - name: Install PHP dependencies
        run: |
          composer install --prefer-dist --no-progress --no-scripts
      - name: Run PHPStan
        run: phpstan analyse
      - name: Clear Symfony cache
        run: bin/console cache:clear
      - name: Warmup Symfony cache
        run: bin/console cache:warmup
