.pawapay {
    --pawapay-color-purle: #56369f;
    --pawapay-color-green-tosca: #00DCB4;
    --pawapay-color-dark-grey: #545454;

    border-width: 2px;
    border-color: var(--pawapay-color-purle);
    border-style: solid;
    border-radius: 4px;
}
