{% extends 'profile/invitation_define_password.html.twig' %}

{% block header %}
  <h5>{{ 'registration.navigation.title'|trans }}</h5>
{% endblock %}

{% block form_content %}
  {{ form_start(form) }}
    {% include '_partials/profile/personal_information_form.html.twig' %}
  {{ form_end(form) }}
{% endblock %}
